<div id="career-advice">
    <div id="career-advice-content">
        <div id="career-advice-articles">
            <h2>
                Career Advice
<!--                 <div class="view-more-jobs">
                    <a href="/career-advice">&gt;&gt; see more</a>
                </div> -->
            </h2>
            <div class="your-class">
                <div>
                    <div class="slide-tick-wrap">
                        <div class="image">
                            <img src="{{ asset('media/career-advice/teaching-career.jpg') }}" />
                        </div>
                        <h4>
                            <a href="http://www.teachingjobs.com/reasons_for_teaching">Six Reasons to Become a Teacher</a>
                        </h4>
                        <div class="details">
                            Thinking about teaching? Here's why you should take the leap.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide-tick-wrap">
                        <div class="image">
                            <img src="{{ asset('media/classroom_bullies1.jpg') }}" />
                        </div>
                        <h4>
                            <a href="/classroom_bullies">How to Deal With a Classroom Bully</a>
                        </h4>
                        <div class="details">
                            Have a bully in your classroom? Here are some strategies that could help.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide-tick-wrap">
                        <div class="image">
                            <img src="{{ asset('media/career-advice/teacher_qualifications_photo.jpg') }}" />
                        </div>
                        <h4>
                            <a href="/qualifications_to_become_a_teacher">Qualifications Needed for Teaching</a>
                        </h4>
                        <div class="details">
                            Does your existing experience and education make you a good candidate for teaching?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

