Follow Us:
<a href="{{ parameter('social.facebook') }}" target="_blank"><img src="{{ asset('images/icons/layout/facebook.png') }}" alt="Facebook"/></a>
<a href="https://www.twitter.com/{{ parameter('social.twitter') }}" target="_blank"><img src="{{ asset('images/icons/layout/twitter.png') }}" alt="Twitter"/></a>