<div class="steps-container">
    <ul class="steps">
        <li class="first{% if step is defined and step == 1 %} active{% endif %}">Step 1: Create Account or Login<span class="chevron"></span></li>
        <li class="second{% if step is defined and step == 2 %} active{% endif %}">Step 2: Confirm Posting Plan and Pay<span class="chevron"></span></li>
        <li class="third{% if step is defined and step == 3 %} active{% endif %}">Step 3: Post Your Job Ads<span class="chevron"></span></li>
    </ul>
</div>