

.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; /*width of left column containing the label elements*/
border-top: 1px dashed gray;
height: 1%;
}

.cssform fieldset {
display: inline-block;
*display: inline; /* leading asterisk IS correct */
margin-right:40px;
border: 2px solid #b8b8b8;;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
padding-left: 10px;
padding-right: 10px;
}

legend {
font-weight: bold;
font-size: 1.5em;
color: black;
padding: 5px;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -155px; /*width of left column*/
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

.cssform textarea{
width: 250px;
height: 150px;
}


fieldset.extrapad
{
  display: inline-block;
  margin-right: 40px;
  border-top-width: 2px;
  border-right-width-value: 2px;
  border-bottom-width: 2px;
  border-left-width-value: 2px;
  border-top-style: solid;
  border-right-style-value: solid;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-top-color: #b8b8b8;
  border-right-color-value: #b8b8b8;
  border-bottom-color: #b8b8b8;
  border-left-color-value: #b8b8b8;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 450px;
  height: 360px;
  padding-top: 15px;
  padding-bottom: 0px;
}