{% extends "::base.html.twig" %}

{% block title %}About JournalismJobs.com{% endblock %}

{% block content %}
<div class="inner-content">
    {% include '@NewRoadsMediaJournalismJobs/HomePage/aboutUsContent.html.twig' %}
</div>
{% endblock %}