<h1>Our Story</h1>

<h2>About Us:</h2>
<p>
    JournalismJobs.com was founded in August 1998 by Dan Rohn, a former copy editor and business writer with
    The Washington Post, editor with America Online, and Washington, D.C.-based stringer for Money Magazine.
    JournalismJobs.com is the largest and most-visited resource for journalism jobs, and receives between
    2.5 to 3 million page views a month.
</p>

<h2>A Sample of the Companies Who Have Used Us:</h2>
<p>
    ESPN, Time Magazine, Slate.com, National Geographic Magazine, USA Today, C-Span, Fox News Channel, CNN,
    Wall Street Journal, PBS, HuffingtonPost.com, MSNBC, Newsweek, Boston Globe, New York Times, Reuters,
    Financial Times, Atlanta Journal-Constitution, Los Angeles Times, Dow Jones, NPR, Bloomberg, Associated Press,
    Business Week, Forbes Magazine, Fortune, Fast Company, America Online, Men's Health, Wired, Mother Jones,
    Cosmopolitan, U.S. News &amp; World Report, Reader's Digest, ABCNews.com, TheStreet.com, Discovery Channel,
    Boston Herald, San Francisco Chronicle, New York Post, PR agencies, trade associations, journalism schools,
    and newsletter groups.
</p>

<h2>In the News:</h2>
<p>
    JournalismJobs.com has been mentioned in hundreds of publications. Here is a sample:
    <a href="http://www.nytimes.com/2007/12/29/technology/29online.html">New York Times</a>,
    <a href="http://www.latimes.com/">Los Angeles Times</a>,
    <a href="http://www.hillnews.com/thehill/export/TheHill/News/Frontpage/022305/homeland.html">The Hill</a>,
    <a href="http://www.ojr.org/">Online Journalism Review</a>,
    <a href="http://www.wsj.com/">Wall Street Journal</a>,
    <a href="http://www.reuters.com/">Reuters</a>,
    <a href="http://www.labusinessjournal.com/">Los Angeles Business Journal</a>,
    <a href="http://www.feer.com/">Far Eastern Economic Review</a>,
    <a href="http://www.sfgate.com/cgi-bin/article.cgi?file=/chronicle/archive/2002/02/06/BU61806.DTL">San Francisco Chronicle</a>,
    <a href="http://www.business2.com/">Business 2.0</a>,
    <a href="http://www.cnet.com/">CNET</a>,
    <a href="http://www.ajc.com">Atlanta Journal-Constitution</a>,
    <a href="http://www.kiplinger.com/">Kiplinger</a>,
    <a href="http://www.wirednews.com">Wired</a>,
    <a href="http://www.businessweek.com">Business Week</a>,
    <a href="http://washington.bcentral.com/washington/stories/2001/11/26/newscolumn6.html">Washington Business Journal</a>,
    <a href="http://www.siliconalleyreporter.com/">Silicon Alley Reporter</a>,
    <a href="http://www.asianweek.com/">AsianWeek</a>,
    <a href="http://www.bizforward.com/">Washington Business Forward</a>,
    <a href="http://www.zdnet.com/intweek/stories/news/0,4164,2641368,00.html">Interactive Week</a>,
    <a href="http://www.businesswire.com">Business Wire</a>,
    <a href="http://www.cjr.org/year/00/2/colamosca2.asp">Columbia Journalism Review</a>,
    <a href="http://washingtonpost.com/wp-dyn/business/technology/elife/A12145-2000May16.html">The Washington Post</a>,
    <a href="http://www.aan.org/display_story.phtml?ARTICLE_ID=561">Association of Alternative Weeklies</a>, and
    <a href="http://ajr.newslink.org/ajrgordmay00.html">American Journalism Review</a>.
</p>

<h2>Testimonials:</h2>
<p>We've helped a lot of people find new jobs and employees. <a href="{{ path('Testimonials') }}">Click here</a> to read a sample of what they've said.</p>

<h2>We'd Like to Hear From You:</h2>
<p>If you have a comment or suggestion, please send a message to: <a href="mailto:info@journalismjobs.com">info@journalismjobs.com</a>, or call {{ parameter('site_phone') }}.</p>

<br/>
<p>Thanks for using our service.</p>
<p>The Staff at JournalismJobs.com</p>