{% extends "::base.html.twig" %}

{% block title %}Journalism Awards / Contests{% endblock %}

{% block content %}
<div class="inner-content">
    <h1>Awards / Contests:</h1>
    <ul>
        <li><a href="http://www.aarweb.org/jump/jawards">American Academy of Religion Awards</a></li>
        <li><a href="http://www.aaas.org/SJAwards">AAAS Kavli Science Journalism Awards</a>
        <li><a href="http://www.copydesk.org/contests/robinson/">American Copy Editors Society Robinson Prize</a></li>
        <li><a href="http://www.aibs.org/about-aibs/awards.html">American Institute of Biological Science (AIBS) Media Awards</a></li>
        <li><a href="http://www.aasfe.org/contests.html">American Association of Sunday and Features Editors Writing Contest</a></li>
        <li><a href="http://asiasociety.org/ozprize">Asia Society -- Osborn Elliott Prize for Excellence in Journalism on Asia</a>
        <li><a href="http://www.aaja.org">Asian American Journalists Association National Awards</a>
        <li><a href="http://businessjournalism.org/2017/03/barlett-steele-awards-rules-2017/">Barlett & Steele Journalism Awards</a></li>
        <li><a href="http://www.capitolbeat.org/">Capitolbeat's Annual Excellence in Statehouse Reporting Awards</a></li>
        <li><a href="http://www.journalismcenter.org/content/history-and-guidelines">Casey Journalism Center Awards for Meritorious Journalism</a>
        <li><a href="http://www.constructionwriters.org/awards/journalism/">Construction Writers Association Journalism Award</a>
        <li><a href="http://www.dartcenter.org/">Dart Awards for Excellence in Coverage of Trauma</a>
        <li><a href="http://chronicle.com/help/milleraward.htm">David W. Miller Award for Student Journalists</a>
        <li><a href="http://www.deadlineclub.org/">New York City Society of Professional Journalists annual contest</a>
        <li><a href="http://www.dupont.org/">DuPont Awards</a> - broadcast journalism</li>
        <li><a href="http://www.ewa.org/">Education Writers Association Reporting Awards</a></li>
        <li><a href="http://www.eliewieselfoundation.org">Elie Wiesel Prize in Ethics Essay Contest</a></li>
        <li><a href="http://www.peabody.uga.edu/">George Foster Peabody Awards</a></li>
        <li><a href="http://www.gmfus.org">German Marshall Fund of the United States Awards</a></li>
        <li><a href="http://www.granthamprize.org">Grantham Prize for Excellence in Reporting</a></li>
        <li><a href="http://www.hillmanfoundation.org">Hillman Awards</a></li>
        <li><a href="http://www.publicintegrity.org/icij/award.aspx">International Consortium of Investigative Journalists Prize</a></li>
        <li><a href="http://www.ire.org/contest/">IRE Awards for Investigative Reporting</a></li>
        <li><a href="http://www.jjay.cuny.edu/cmcj/jjprize.asp">John Jay College of Criminal Justice Awards</a></li>
        <li><a href="http://www.oldwayspt.org/KDunGiffordAward">K. Dun Gifford Journalism Award</a></li>
        <li><a href="http://www.livawards.org">Livingston Awards</a></li>
        <li><a href="http://www.lapressclub.org">Los Angeles Press Club Journalism Awards</li>
        <li><a href="http://www.medill.northwestern.edu/about/sponsoredawards.aspx">Medill Medal for Courage in Journalism</a></li>
        <li><a href="http://www.kellyaward.com">Michael Kelly Award</a></li>
        <li><a href="http://www.militaryreporters.org">Military Reporters and Editors' annual journalism contest</a></li>
        <li><a href="http://www.texasobserver.org/event_molly_award.php">Molly Ivins Award</a></li>
        <li><a href="http://www.keckfutures.org">National Academies Communication Awards</a></li>
        <li><a href="http://www.naree.org/">National Association of Real Estate Editors Journalism Contest</a></li>
        <li><a href="http://www.nationalheadlinerawards.com/">National Headliner Awards</a></li>
        <li><a href="http://www.nlgja.org">National Lesbian and Gay Journalists Association Awards</a></li>
        <li><a href="http://www.nationalpress.org/awards">National Press Foundation Awards</a></li>
        <li><a href="http://www.nieman.harvard.edu">Neiman Foundation Taylor Family Award for Fairness in Newspapers</a></li>
        <li><a href="http://www.naaj.net/naajcontest.html ">North American Agricultural Journalists</a>
        <li><a href="http://www.natja.org/awards">North American Travel Journalists Association (NATJA) Awards</a></li>
        <li><a href="http://www.journalists.org/awards/">Online News Association Awards</a>, presented by ONA and USC Annenberg School for Communication</li>
        <li><a href="http://www.comm.psu.edu/bart">Penn State College of Communications Bart Richards Award for Media Criticism</a></li>
        <li><a href="http://www.constitutioncenter.org/jennings">Peter Jennings Project for Journalists & the Constitution</a></li>
        <li><a href="http://www.politiva.com/contest/">Politiva.com Emerging Journalists Awards Contest</a></li>
        <li><a href="http://www.pulitzer.org/">Pulitzer Prizes</a> - newspaper, literature, drama, music</li>
        <li><a href="http://pulitzercenter.org/openmenu.cfm?id=7">Pulitzer Center on Crisis Reporting awards</a></li>
        <li><a href="http://www.rtndf.org">Radio, Television and New Media Awards</a></li>
        <li><a href="http://www.rna.org/eligibility.php">Religion Newswriters Association Awards</a></li>
        <li><a href="http://www.rollingstone.com/journalismcontest">Rolling Stone Magazine Journalism Competition</a></li>
        <li><a href="http://www.spj.org/norcal">Society of Professional Journalists Northern California Chapter -- Bay Area Awards</a></li>
        <li><a href="http://www.saja.org/awards.html">South Asian Journalists Association (SAJA) Journalism Awards</a></li>
        <li><a href="http://foundation.scripps.com/foundation/programs/nja/nja.html">Scripps Howard Foundation National Journalism Awards</a></li>
        <li><a href="http://www.sej.org">Society for Environmental Journalists Awards</a></li>
    </ul>
</div>
{% endblock %}
