{% extends "::base.html.twig" %}

{% block title %}Resources for Media Ethics{% endblock %}

{% block content %}
<div class="inner-content">
    <h1>Resources for Media Ethics</h1>
    <ul>
        <li><a href="http://www.aim.org/">Accuracy in Media (AIM)</a> -- investigates complaints of media misdeeds.</li>
        <li><a href="http://www.asne.org/ideas/codes/codes.htm">American Society of Newspaper Editors (ASNE) Ethics Code Page</a></li>
		<li><a href="http://www.cimethics.org">Center for International Media Ethics</a></li>
        <li><a href="http://www.camera.org/">Committee for Accuracy in Middle East Reporting in America</a></li>
        <li><a href="http://www.journalism.indiana.edu/Ethics/">Indiana University School of Journalism -- Ethics Case Studies</a></li>
        <li><a href="http://jmme.byu.edu/">Journal of Mass Media Ethics</a></li>
        <li><a href="http://www.mediaethics.org/">MediaEthics.org</a></li>
        <li><a href="http://www.pbs.org/wnet/mediamatters/">Media Matters</a> -- PBS series examining reporting ethics.</li>
        <li><a href="http://www.mediaresearch.org/">Media Research Center/</a> -- conservative media watchdog group.</li>
        <li><a href="http://www.mediaethics.org/">Media Watch</a> -- challenging racism, sexism and violence in the media through education and action.</li>
        <li><a href="http://newswatch.sfsu.edu/">News Watch</a> -- resource for fair coverage of minorites, people of color, and lesbians/gays.</li>
        <li><a href="http://www.ojr.org/ojr/ethics/">Online Journalism Review's Ethics Section</a></li>
        <li><a href="http://poynteronline.org/column.asp?id=53">Poynter Institute's Ethics Journal</a></li>
        <li><a href="http://poynteronline.org/content/content_view.asp?id=31889">Poynter Online's Ethics Tipsheets</a></li>
        <li><a href="http://www.rtnda.org/ethics/fepcg.shtml">Radio-Television News Directors Association (RTNDA) Ethics Projects</a></li>
		<li><a href="http://www.spj.org/ethics_code.asp">Society of Professional Journalists (SPJ) - Code of Ethics</a></li>
    </ul>
    <p>
        Check out the latest books on <strong><a href="http://www.amazon.com/exec/obidos/search-handle-url/index%3Dbooks%26field-keywords%3D%22media%20ethics%22%26url%3Dindex%3Dbooks%26store-name%3Dbooks/104-6275175-4607116" TARGET="newwindow">Media Ethics</a></strong> from Amazon.com.
    </p>
</div>
{% endblock %}
