{% extends "::base.html.twig" %}

{% block title %}Journalism Fellowships{% endblock %}

{% block content %}
<div class="inner-content">
    <h1>Fellowships:</h1>
    <ul>
        <li><a href="http://www.ssrc.org/fellowships/abe-fellowship-for-journalists/">Abe Fellowship for Journalists -- Social Science Research Council</a></li>
        <li><a href="http://www.aliciapatterson.org/">Alicia Patterson Foundation (fellowships) </a></li>
        <li><a href="http://www.acgusa.org/journalists.html">American Council on Germany Journalism Fellowships</a></li>
        <li><a href="http://www.apsanet.org/about/cfp/">American Political Science Association </a> -- Congressional Fellowship Program  </a></li>
        <li><a href="http://www.american.edu/soc/resources/fellowships.cfm">American University School of Communication Fellowships</a></li>
        <li><a href="http://www.icfj.org/burns">Arthur F. Burns Fellowships</a></li>
        <li><a href="http://www.theatlantic.com/a/intern.mhtml">Atlantic Media Company Diversity Fellowship Program</a>
        <li><a href="http://www.cartercenter.org/healthprograms/showstaticdoc.asp?programID=6&docname=mhfellowships&submenu=healthprograms">Carter Center Mental Health Journalism Fellowships</a></li>
        <li><a href="http://www.case.org">CASE Media Fellowships Program</a></li>
        <li><a href="http://www.colorado.edu/journalism/cej/">Center for Environmental Journalism - Ted Scripps Fellowships</a></li>
        <li><a href="http://energypolicy.columbia.edu/about-us/energy-journalism-initiative">Columbia University Center on Global Energy Policy – Energy Journalism Initiative</a></li>
        <li><a href="http://www.cei.org/pages/brookes.cfm">Competitive Enterprise Institute -- Warren T. Brookes Journalism Fellowship</a></li>
        <li><a href="http://www.momentmag.com/the-daniel-pearl-investigative-journalism-initiative/">Daniel Pearl Investigative Journalism Initiative</a></li>
        <li><a href="http://www.dartcenter.org">Dart Center Ochberg Fellowships</a></li>
        <li><a href="http://www.rjionline.org/fellowship">Donald W. Reynolds Journalism Institute Fellowships</a></li>
        <li><a href="http://www.ewa.org/offers/fellowships">Education Writers Association National -- Fellowship in Education Reporting</a></li>
        <li><a href="http://www.frenchamerican.org">French American Foundation Fellowships</a></li>
        <li><a href="http://www.www.ces.fau.edu/scripps">Scripps Howard Institute on the Environment</a></li>
        <li><a href="http://www.indypress.org/programs/nvip.html">George Washington Williams Fellowship for Journalists of Color</a></li>
        <li><a href="http://www.gmfus.org/fellowships/journalism.cfm">German Marshall Fund of the U.S. Fellowships</a></li>
        <li><a href="http://www.cmwf.org/fellowships/ianaxford.asp">Ian Axford Fellowships in Public Policy</a> - New Zealand</li>
        <li><a href="http://www.tfaforms.com/192345">International Center for Journalists Fellowship Opportunity (Apply by May 2, 2011)</a></li>
        <li><a href="http://www.journalismfellowships.org">IRP Fellowships in International Journalism</a>
        <li><a href="http://www.usip.org/fellows.html">Jennings Randolph Program for International Peace</a></li>
        <li><a href="http://www.thejohnalexanderproject.org/abovethefray.html">John Alexander Project Journalism Fellowship</a></li>
        <li><a href="http://johnjayresearch.org/cmcj/">John Jay College of Criminal Justice Fellowships</a></li>
        <li><a href="http://knight.stanford.edu/">John S. Knight Fellowships</a></li>
        <li><a href="http://www.casey.umd.edu/">Journalism Center on Children & Families</a></li>
        <li><a href="http://www.kiplingerprogram.org/">Kiplinger Fellowships in Public Affairs Journalism</a></li>
        <li><a href="http://www.j-lab.org/batten.shtml">Knight-Batten Awards for Innovations in Journalism</a></li>
        <li><a href="http://www.knightcenter.umd.edu">Knight Center for Specialized Journalism Fellowships</a>, University of Maryland</li>
        <li><a href="http://www.KnightDigitalMediaCenter.org">Knight Digital Media Center</a></li>
        <li><a href="http://www.icfj.org/">Knight International Press Fellowships</a></li>
        <li><a href="http://web.mit.edu/knight-science/">Knight Science Journalism Fellowships at MIT</a></li>
        <li><a href="http://www.pointloma.edu/community/kyoto">Kyoto Prize Journalism Fellowship</a></li>
        <li><a href="http://www.livawards.org">Livingston Awards</a></li>
        <li><a href="http://www.msri.org/activities/jir">Mathematical Sciences Research Institute (MSRI)</a>, Journalist in Residence</li>
        <li><a href="http://www.metcalfinstitute.org">Metcalf Institute for Marine and Environmental Reporting Fellowships</a></li>
        <li><a href="http://www.mjfellows.org/">Knight-Wallace Fellows</a>, at the University of Michigan</li>
        <li><a href="http://www.iwm.at/index.php?option=com_content&task=view&id=117&Itemid=261">Milena Jesenská Fellowships</a></li>
        <li><a href="http://mongabay.org/special-reporting-initiatives/">Mongbay.org Special Reporting Initiatives</a></li>
        <li><a href="http://www.najp.org/">National Arts Journalism Program</a></li>
        <li><a href="http://www.nationalpress.org/programs3516/programs.htm">National Press Foundation Fellowships</a></li>
        <li><a href="http://www.nieman.harvard.edu/">Nieman Journalism Fellowships (Harvard University)</a></li>
        <li><a href="http://www.marquette.edu/comm/obrien-fellowship/">O'Brien Fellowship in Public Service Journalism</a></li>
        <li><a href="http://www.thephillipsfoundation.org/fellowship.htm">Phillips Foundation Journalism Fellowship</a></li>
        <li><a href="http://www.cdsintl.org/fromusa/bosch.htm">Robert Bosch Foundation Fellowship Program</a></li>
        <li><a href="http://www.rtnda.org/asfi/fellowships/fellow.shtml">RTNDA / RTNDF Awards, Scholarships and Fellowships </a>
        <li><a href="http://www.soros.org/crime/fships-guide.html">Soros Justice Media Fellowships</a></li>
        <li><a href="http://www.ces.fau.edu/scripps">Scripps Howard Institute on the Environment</a>
        <li><a href="http://www.colorado.edu/journalism/cej">Ted Scripps Fellowships in Environmental Journalism</a></li>
        <li><a href="http://www.templeton-cambridge.org/">Templeton-Cambridge Journalism Fellowships</a></li>
        <li><a href="http://www.whoi.edu/page.do?pid=8887">Woods Hole Oceanographic Institution Fellowships</a></li>
        <li><a href="http://www.worldpressinstitute.org/">World Press Institute Fellowships</a></li>
    </ul>
</div>
{% endblock %}