{% set page_name = '' %}

{% extends "::base.html.twig" %}

{% block title %}U.S. Journalism/Communications Schools{% endblock %}

{% block content %}
<div class="inner-content">
    <h1>U.S. Journalism/Communications Schools</h1>

    <p>Please let us know if your school is not listed -- <a href="mailto:contact@journalismjobs.com">contact@journalismjobs.com</a>
    </p>
    <ul>
    <li>
        <a href="http://www.acu.edu/academics/cas/jmc/index.html">Abilene Christian University Department of
            Journalism and Mass Communication
        </a>
    </li>
    <li>
        <a href="http://www.soc.american.edu">American University School of Communication
        </a>
    </li>
    <li>
        <a href="http://www.asu.edu/cronkite/">Arizona State University, Walter Cronkite School of Journalism and
            Telecommunication
        </a>
    </li>
    <li>
        <a href="http://media.cla.auburn.edu/cmjn/index.cfm">Auburn University Department of Communication and
            Journalism
        </a>
    </li>
    <li>
        <a href="http://www.bsu.edu/journalism">Ball State University Department of Journalism</a>
    </li>
    <li><a href="http://www.bu.edu/com/">Boston University College of Communication</a></li>
    <li>
        <a href="http://www.bgsu.edu/departments/journalism/">Bowling Green State University Department of
            Journalism
        </a>
    </li>
    <li>
        <a href="http://www.bradley.edu/academics/cfa/cfa.html">Bradley University College of Communications and Fine
            Arts
        </a>
    </li>
    <li>
        <a href="http://comms.byu.edu/">Brigham Young University Department of Communications
        </a>
    </li>
    <li>
        <a href="http://www.modcult.brown.edu/">Brown University Department of Modern Culture and Media
        </a>
    </li>
    <li>
        <a href="http://www.butler.edu/journalism/">Butler University Eugene S. Pulliam School of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.csuchico.edu/jour">California State University at Chico Department of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.csun.edu/journalism/">California State University at Northridge Department of
            Journalism
        </a>
    </li>
    <li>
        <a href="http://www.asn.csus.edu/coms/">California State University at Sacramento Department of Communication
            Studies
        </a>
    </li>
    <li>
        <a href="http://www.journalism.cuny.edu/">City University of New York Graduate School of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.colum.edu/Academics/Graduate_Study/Journalism/index.php">Columbia College Chicago
            Graduate School of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.journalism.columbia.edu">Columbia University Graduate School of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.eiu.edu/~journal/">Eastern Illinois University Journalism Department
        </a>
    </li>
    <li>
        <a href="http://www.famu.edu/index.cfm?a=sjgc&p=MediaSalesInstitute">Florida A&M University School of
            Journalism and Graphic Communication</a>
    </li>
    <li>
        <a href="http://www.fiu.edu/~journal/">Florida International University School of Journalism and Mass
            Communication</a>
    <li>
        <a href="http://www.gwu.edu/~commgwu/">George Washington University School of Communications
    </li>
    <li>
        <a href="http://www.hamline.edu/depts/commdept/">Hamline University Department of Communication Arts
        </a>
    </li>
    <li>
        <a href="http://www.hamptonu.edu/shsjc/">Hampton University School of Journalism and Communications
        </a>
    </li>
    <li><a href="http://ksgwww.harvard.edu/~presspol/">Harvard University, Joan Shorenstein Barone Center on the
            Press, Politics & Public Policy
        </a>
    </li>
    <li>
        <a href="http://www.hofstra.edu/Academics/Colleges/SOC/JMSPR/index.html">Hofstra University Journalism
            Department
        </a>
    </li>
    <li>
        <a href="http://www.provost.howard.edu/PROVOST/bulletin2/u/v2comm_programs.htm">Howard University School of
            Communications
        </a>
    </li>
    <li>
        <a href="http://www.journalism.indiana.edu/">Indiana University School of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.iona.edu/academic/arts_sci/departments/mass_com/deptofmasscomm.htm/">Iona College
            Department of Mass Communication
    </li>

    <li>
        <a href="http://www.greenlee.org/">Iowa State University -- Greenlee School of Journalism and
            Communication
        </a>
    </li>

    <li>
        <a href="http://ithaca.edu/rhp/programs/journalism/">Ithaca College School of Communications
        </a>
    </li>

    <li>
        <a href="http://www.jmc.ksu.edu/">Kansas State University, The A. Q. Miller School of Journalism and
            Mass Communications
        </a>
    </li>
    <li>
        <a href="http://www.jmc.kent.edu/">Kent State University School of Journalism and Mass
            Communication
        </a>
    </li>
    <li>
        <a href="http://www.lehigh.edu/injrl/public/www-data/injrl.html">Lehigh University Department of
            Journalism and Communication
        </a>
    </li>
    <li>
        <a href="http://www.manship.lsu.edu">Louisiana State University, The Manship School of Mass
            Communication
        </a>

    </li>
    <li>
        <a href="http://www.marquette.edu/student/ugrad/major_journalism.shtml">Marquette University School
            of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.marshall.edu/sojmc/">Marshall University's W. Page Pitt School of Journalism and
            Mass Communications
        </a>

    </li>
    <li>
        <a href="http://frank.mtsu.edu/~jour/">Middle Tennessee State University School of Journalism
        </a>

    </li>
    <li>
        <a href="http://jrn.msu.edu/programs/index.html">Michigan State University School of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.nyu.edu/gsas/dept/journal/">New York University Department of Journalism and Mass
            Communication
        </a>
    </li>
    <li>
        <a href="http://www.journalism.neu.edu/">Northeastern University School of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.medill.northwestern.edu/">Northwestern University, The Medill School of
            Journalism
        </a>
    </li>
    <li>
        <a href="http://www.scripps.ohiou.edu/">Ohio University, E. W. Scripps School of Journalism
        </a>
    </li>
    <li>
        <a href="http://journalism.okstate.edu/">Oklahoma State University - Paul Miller school of journalism
            and broadcasting
        </a>
    </li>

    <li>
        <a href="http://www.comm.psu.edu">Penn State University College of Communications
        </a>
    </li>
    <li>
        <a href="http://www.quinnipiac.edu/gradjournalism.xml">Quinnipiac University School of
            Communications
        </a>
    </li>

    <li>
        <a href="http://www.scils.rutgers.edu/">Rutgers, State University of New Jersey School of
            Communication
        </a>
    </li>
    <li>
        <a href="http://www.journalism.sfsu.edu/">San Francisco State University Department of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.jmc.sjsu.edu/index.html">San Jose State University School of Journalism & Mass
            Communications
        </a>
    </li>
    <li>
        <a href="http://www.southampton.liunet.edu/academic/courses/u_comm.htm">Southampton College
            Department of Communication Arts
        </a>
    </li>
    <li>
        <a href="http://www.siu.edu:80/departments/journal/">Southern Illinois University at Carbondale,
            School of Journalism
        </a>

    </li>
    <li>
        <a href="http://communication.stanford.edu/journalism/">Stanford University Graduate Program in
            Journalism</a></li>
    <li>
        <a href="http://newhouse.syr.edu/">Syracuse University, Newhouse School of Public Communication
        </a>
    </li>
    <li><a href="http://smc.temple.edu">Temple University School of Media and Communication</a></li>

    <li>
        <a href="http://www.ccom.ua.edu/">University of Alabama College of Communication
    </li>
    <li>
        <a href="http://journalism.arizona.edu/">University of Arizona School of Journalism
    </li>
    <li>
        <a href="http://www.journalism.berkeley.edu/">University of California at Berkeley Graduate
            School of Journalism
        </a>
    </li>
    <li><a href="http://www.uc.edu/programs/viewprog.asp?progid=2523">University of Cincinnati Journalism Program</a>
    </li>
    <li>
        <a href="http://www.as.udayton.edu/com/">University of Dayton, Department of
            Communication
        </a>
    </li>
    <li>
        <a href="http://www.jou.ufl.edu/">University of Florida College of Journalism and
            Communications
        </a>
    </li>
    <li>
        <a href="http://www.grady.uga.edu">University of Georgia, Grady College of Journalism and
            Mass Comunication
        </a>
    </li>
    <li>
        <a href="http://www2.soc.hawaii.edu/css/com/">University of Hawaii at Manoa Department of
            Communication
        </a>
    </li>
    <li>
        <a href="http://www.class.uidaho.edu/jamm/">University of Idaho School of Journalism and Mass
            Media
        </a>
    </li>
    <li>
        <a href="http://www.uiuc.edu/providers/comm/">University of Illinois College of
            Communications
        </a>
    </li>
    <li>
        <a href="http://www.uiowa.edu/~journal/index.html">University of Iowa School of Journalism
            and Mass Communication
        </a>
    </li>
    <li>
        <a href="http://www.cc.ukans.edu/~jschool">University of Kansas, William Allen White School
            of Journalism and Mass Communications
        </a>
    </li>

    <li>
        <a href="http://www.ume.maine.edu/~coj/depthomp.htm">University of Maine Department of
            Communications and Journalism
        </a>
    </li>
    <li>
        <a href="http://www.journalism.umd.edu/">University of Maryland at College Park College of
            Journalism
        </a>

    </li>
    <li>
        <a href="http://umdrive.memphis.edu/g-journalism/index.html">University of Memphis Department
            of Journalism
        </a>
    </li>

    <li>
        <a href="http://www.miami.edu/com">University of Miami School of Communication
        </a>
    </li>
    <li>
        <a href="http://www1.umn.edu/commpub/c_cla/cla_44.html">University of Minnesota Department of
            Journalism
        </a>
    </li>
    <li>
        <a href="http://www.journalism.missouri.edu/">University of Missouri at Columbia School of
            Journalism
        </a>
    </li>
    <li>
        <a href="http://www.umt.edu/journalism/">University of Montana School of Journalism
        </a>
    </li>
    <li>
        <a href="http://journalism.unl.edu/">University of Nebraska-Lincoln College of Journalism and
            Mass Communications
        </a>
    </li>
    <li>
        <a href="http://www.unr.edu/unr/journalism">University of Nevada at Reno, Reynolds School of
            Journalism
        </a>
    </li>
    <li>
        <a href="http://sunsite.unc.edu/jomc/">University of North Carolina at Chapel Hill School of
            Journalism and Mass Communication
        </a>
    </li>
    <li>
        <a href="http://www.jour.unt.edu/">University of North Texas School of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.ou.edu/gaylord">University of Oklahoma Gaylord College of Journalism and
            Mass Communication
        </a>
    </li>
    <li>
        <a href="http://jcomm.uoregon.edu/">University of Oregon School of Journalism and
            Communications
        </a>
    </li>
    <li>
        <a href="http://www.asc.upenn.edu/">University of Pennsylvania, Annenberg School for
            Communication
        </a>
    </li>
    <li>
        <a href="http://www.jour.sc.edu/">University of South Carolina College of Journalism and Mass
            Communication
        </a>
    </li>
    <li>
        <a href="http://www.usc.edu/schools/annenberg/index.html">University of Southern California,
            Annenberg School of Communication
        </a>
    </li>
    <li>
        <a href="http://www.cci.utk.edu/">University of Tennessee at Knoxville College of
            Communication and Information
        </a>

    </li>
    <li>
        <a href="http://communication.utexas.edu/">University of Texas at Austin College of
            Communication
        </a>
    </li>

    <li>
        <a href="http://www.com.washington.edu/journalism/index.html">University of Washington School
            of Communications
        </a>

    </li>
    <li>
        <a href="http://www.journalism.wisc.edu/">University of Wisconsin at Madison School of
            Journalism and Communications
        </a>
    </li>
    <li>
        <a href="http://www.uwm.edu/Dept/MassComm/">University of Wisconsin-Milwaukee, Department of
            Mass Communications
        </a>
    </li>
    <li>
        <a href="http://www.uwosh.edu/journalism/">University of Wisconsin-Oshkosh, Department of
            Journalism
        </a>
    </li>

    <li>
        <a href="http://www.uwrf.edu/journalism/welcome.html">University of Wisconsin at River Falls
            Department of Journalism
        </a>
    </li>
    <li>
        <a href="http://www.usu.edu/~communic/">Utah State University Department of Communication
        </a>
    </li>
    <li>
        <a href="http://www.vanderbilt.edu/AnS/Comm/">Vanderbilt University Department of
            Communication Studies and Theater
        </a>
    </li>
    <li>
        <a href="http://communication.wsu.edu/">Washington State University Edward R. Murrow School
            of Communication
        </a>
    </li>
    <li>
        <a href="http://www.wvu.edu/~journals/">West Virginia University Perley Isaac Reed School of Journalism</a>
    </li>
    <li>
        <a href="http://www.wmich.edu/communication">Western Michigan University Department of
            Communication
        </a>
    </li>
    <li>
        <a href="http://www.wwu.edu/~journal/">Western Washington University Department of
            Journalism
        </a>
    </li>
    <li>
        <a href="http://www.wichita.edu/my/major.asp?__COLLEGE=SCHOOL+OF+COMMUNICATION">Wichita State
            University School of Communication
        </a>
    </li>
</div>
{% endblock %}