{% set page_name = 'Magazine Links' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}

<font face="arial" size="2">

<font face="Arial, Helvetica, sans-serif" size="2">
<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>AFFLUENT LIFEFSTYLE</b></font></p>

<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<li><a href="http://www.cachetmagazine.com">Cachet</a></li>
<li>
  <a href="http://www.departures.com">Departures</a> </li>
<li>
  <a href="http://www.diversionmag.com">Diversion</a></li>
<li>
  <a href="http://www.dupontregistry.com">DuPont Registry</a></li>
<li>
  <a href="http://www.forbes.com/FYI">Forbes FYI</a></li>
<li>
  <a href="http://www.ivymags.com">Ivy League Magazine Network</a></li>
<li>
  <a href="http://www.millionaire.com">Millionaire</a></li>
<li>
  <a href="http://www.oceandrive.com">Ocean Drive</a></li>
<li>
<a href="http://www.privateclubs.com">Private Clubs</a></li>
<li>
  <a href="http://www.robbreport.com">Robb Report</a></li>
</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ART/ANTIQUES</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
<li>
  <a href="http://www.metropolismag.com/">Metropolis</a></li>
<li> <a href="http://www.designtimes.com/">Design Times</a></li>

 </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>AUDIO/HOME THEATRE</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<li>
  <a href="http://www.autosoundandsecurityweb.com">Auto Sound and Security</a></li>
<li>
  <a href="http://www.caraudioelectronicsweb.com">Car Audio and Electronics</a></li>
<li>
  <a href="http://www.carstereoreview.com">Car Stereo Review's Mobile Entertainment</a></li>
<li>
  <a href="http://www.hometheatremag.com">Home Theatre</a></li>
  <li>
  <a href="http://www.smarttvmag.com">Smart TV</a></li>
<li>
  <a href="http://www.soundandvisionmag.com">Stereo Review's Sound and Vision</a></li>
<li>
  <a href="http://www.stereophile.com">Stereophile</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>AUTOMOTIVE, GENERAL</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<li>
  <a href="http://www.automobilemag.com">Automobile Magazine</a></li>
<li>
  <a href="http://www.caranddriver.com">Car and Driver</a></li>
<li>
  <a href="http://www.consumersdigest.com">Consumers Digest</a>
  <li>
  <a href="http://www.europeancarweb.com">European Car</a></li>
<li>
  <a href="http://www.fieldandstream.com">Field & Stream</a></li>
<li>
  <a href="http://www.gmbuypower.com">GMC Directions</a></li>
<li>
  <a href="http://www.money.com">Money</a></li>
<li>
  <a href="http://www.motortrend.com">Motor Trend</a></li>
<li>
  <a href="http://www.roadandtrack.com">Road & Track</a></li>

  </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>AUTOMOTIVE, HOBBY</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

  <li><a href="http://www.easyriders.com">American Rodder</a></li>
<li>
  <a href="http://www.autoweek.com">AutoWeek</a></li>
<li>
  <a href="http://www.petersenpub.com">CarCraft</a></li>
<li>
  <a href="http://www.petersenco.com">Chevy High Performance</a></li>
<li>
  <a href="http://www.petersenco.com">Circle Track</a></li>
<li>
  <a href="http://www.fourwheeler.com">Four Wheeler</a>
  <li>
  <a href="http://www.hemmings.com">Hemmings Motor News</a></li>
<li>
  <a href="http://www.petersenco.com">Hot Rod</a></li>
<li>
  <a href="http://www.lowridermagazine.com">Lowrider Magazine</a></li>
<li>
  <a href="http://www.petersenco.com">Mopar Muscle</a></li>
<li>
  <a href="http://www.musclemustangfastfords.com">Muscle Mustangs and Fast Fords</a></li>
<li>
  <a href="http://www.petersenco.com">Mustang and Fords</a>
  <li>
  <a href="http://www.nascar.com">NASCAR Winston Cup Illustrated</a></li>
<li>
  <a href="http://www.off-roadweb.com">Off-Road</a></li>
<li>
  <a href="http://www.ontrackonline.com">On Track</a></li>
<li>
  <a href="http://www.emapusa.com">Open Wheel</a></li>
<li>
  <a href="http://www.petersenco.com">Petersen's 4-Wheel & Off-Road</a></li>
<li>
  <a href="http://www.popularhotrodding.com">Popular Hot Rodding</a>
  <li>
  <a href="http://www.racer.com">Racer</a></li>
<li>
  <a href="http://www.petersenco.com">Rod & Custom</a></li>
<li>
  <a href="http://www.sportcompactcarweb.com">Sport Compact Car</a></li>
<li>
  <a href="http://www.petersenco.com">Sport Truck</a></li>
<li>
  <a href="http://www.scca.org">SportsCar</a></li>
<li>
  <a href="http://www.stockcarracing.com">Stock Car Racing</a>
  <li>
  <a href="http://www.streetrodderweb.com">Street Rodder</a></li>
<li>
  <a href="http://www.superchevy-web.com">Super Chevy</a></li>
<li>
  <a href="http://www.petersenco.com">Super Ford</a></li>
<li>
  <a href="http://www.truckinweb.com">Truckin'</a></li>
<li>
  <a href="http://www.turbomagazine.com">Turbo and High Tech Performance</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>AVIATION</b></font></p>

<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<li>
  <a href="http://www.airspcaemag.com">Air & Space</a>
  <li>
  <a href="http://www.ftmag.com">AOPA FLight Training</a></li>
<li>
  <a href="http://www.aopa.org">AOPA Pilot</a></li>
<li>
  <a href="http://www.flightjournal.com">Flight Journal</a></li>
<li>
  <a href="http://www.planeandpilotmag.com">Plane & Pilot</a></li>
<li>
  <a href="http://www.privatepilotmag.com">Private Pilot</a></li>
<li>
  <a href="http://www.eaa.org">Sport Aviation</a></li>

  </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>BOATING/YACHTING</b></font></p>
  <ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
<li>
  <a href="http://www.boatingmag.com">Boating</a></li>
<li>
  <a href="http://www.boatingworldonline.com">Boating World</a></li>
<li>
  <a href="http://www.cruisingworld.com">Cruising World</a></li>
<li>
  <a href="http://www.goboatingamerica.com">Go Boating</a></li>
<li>
  <a href="http://www.houseboatmagazine.com">Houseboat</a></li>
<li>
  <a href="http://www.motorboatingandsailing.com">Motor Boating and Sailing</a>
  <li>
  <a href="http://www.pontoon.net">Pontoon & Deck Boat</a></li>
<li>
  <a href="http://www.yachtworld.com">Power & Motoryacht</a></li>
<li>
  <a href="http://www.ehlertpowersports.com">PWC Magazine</a></li>
<li>
  <a href="http://www.sailmag.com">Sail</a></li>
<li>
  <a href="http://www.sailingworld.com">Sailing World</a></li>
<li>
  <a href="http://www.showboats.com">Showboats International</a>
  <li>
  <a href="http://www.ehlertpowersports.com">Watercraft World</a></li>
<li>
  <a href="http://www.woodenboat.com">WoodenBoat</a></li>
<li>
  <a href="http://www.yachtingnet.com">Yachting</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>BRIDAL/WEDDING</b></font></p>
  <ul>
<li>
  <a href="http://www.bridalguidemag.com/">Bridal Guide</a></li>
<li>
  <a href="http://www.brides.com/">Bride's</a></li>
<li>
  <a href="http://www.dwhmagazine.com">Destination Weddings & Honeymoons</a></li>
<li>
  <a href="http://www.elegantbridemagazine.com">Elegant Bride</a></li>
<li>
  <a href="http://www.marthastewart.com">Martha Stewart Weddings</a></li>
<li>
  <a href="http://www.modernbride.com">Modern Bride</a></li>
<li>
  <a href="http://www.weddingbells.com">Weddingbells</a></li>

  </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>BUSINESS</b></font></p>
  <ul>
<li>
  <a href="http://www.blackenterprise.com">Black Enterprise</a></li>
<li>
  <a href="http://www.business2.com">Business 2.0</a></li>
<li>
  <a href="http://www.princeton.edu/fsc">Business Today</a></li>
<li>
  <a href="http://www.btonline.com">Business Traveler International</a></li>
<li>
  <a href="http://www.businessweek.com">Business Week</a></li>
<li>
  <a href="http://www.contextmag.com">Context</a></li>
<li>
  <a href="http://www.crainschicagobusiness.com">Crain's Chicago Business</a></li>
<li>
  <a href="http://www.crainscleveland.com">Crain's Cleveland Business</a></li>
<li>
  <a href="http://www.crainsdetroit.com">Crain's Detroit Business</a>
  <li>
  <a href="http://www.crainsnewyork.com">Crain's New York Business</a></li>
<li>
  <a href="http://www.ecompany.com">eCompany Now</a></li>
 <li>
  <a href="http://www.emarketingmag.com">eMarketing Magazine</a></li>
<li>
  <a href="http://www.entrepreneur.com">Entrepreneur Magazine</a></li>
<li>
  <a href="http://www.fastcompany.com">Fast Company</a></li>
<li>
  <a href="http://www.forbes.com">Forbes</a></li>
<li>
  <a href="http://www.fortune.com">Fortune</a>
<li>
  <a href="http://www.fsb.com">FSB</a></li>
<li>
  <a href="http://www.hbsp.harvard.edu">Harvard Business Review</a></li>
<li>
  <a href="http://www.hispanicbusiness.com">Hispanic Business</a></li>
<li>
  <a href="http://www.inc.com">Inc.</a></li>
<li>
  <a href="http://www.thestandard.com">Industry Standard</a></li>
<li>
  <a href="http://www.mybusinessmag.com">MyBusiness</a></li>
<li>
  <a href="http://www.pcmag.com">PC Magazine</a></li>
<li>
  <a href="http://www.redherring.com">Red Herring</a></li>
<li>
  <a href="http://www.revolutionmagazine.com">Revolution</a></li>
  <li>
  <a href="http://www.smartbusinessmedia.com">Smart Business</a></li>
<li>
  <a href="http://www.successmagazine.com">Success</a></li>
<li>
  <a href="http://www.entrepreneur.com">Upside</a></li>
<li>
  <a href="http://www.wired.com">Wired</a></li>
<li>
  <a href="http://www.abwahq.org">Women in Business</a></li>
<li>
  <a href="http://www.workingwomanmag.com">Working Woman</a></li>

	</ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>COMPUTERS</b></font></p>
  <ul>

<li>
  <a href="http://www.computershopper.com">Computer Shopper</a></li>
<li>
  <a href="http://www.hoc.smalloffice.com">Home Office Computing</a></li>
<li>
  <a href="http://www.bedfordmags.com">Laptop Buyer's Guide & Handbook</a></li>
<li>
  <a href="http://www.maximumpc.com">Mac Addict</a></li>
<li>
  <a href="http://www.businessweek.com">Maximum PC</a></li>
<li>
  <a href="http://www.pcmag.com">PC Magazine</a></li>
<li>
  <a href="http://www.pcworld.com">PC World</a></li>
<li>
  <a href="http://www.t3magazine.com">T3 Magazine</a></li>
<li>
  <a href="http://www.techreview.com">Technology Review</a>
  <li>
  <a href="http://www.timedigital.com">Time Digital</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ENTERTAINMENT</b></font></p>
  <ul>
<li>
  <a href="http://www.biography.com">Biography</a></li>
<li>
  <a href="http://www.countryweekly.com">Country Weekly</a></li>
<li>
  <a href="http://www.ew.com">Entertainment Weekly</a></li>
<li>
  <a href="http://www.instyle.com">In Style</a></li>
<li>
  <a href="http://www.movieline.com">Movieline</a>
<li>
  <a href="http://www.nationalenquirer.com">National Enquirer</a></li>
<li>
  <a href="http://www.tripleD.com">OnSat</a></li>
<li>
  <a href="http://www.papermag.com">Paper</a></li>
<li>
  <a href="http://www.people.com">People Weekly</a></li>
<li>
  <a href="http://www.playbill.com">Playbill</a></li>
<li>
  <a href="http://www.premiermag.com">Premier</a></li>
<li>
  <a href="http://www.ssatellitetvweek.com">Satellite TV Week</a></li>
<li>
  <a href="http://www.scifinow.com">SciFi</a></li>
<li>
  <a href="http://www.soapdigest.com">Soap Opera Digest</a></li>
  <li>
  <a href="http://www.stagebill.com">Stagebill</a></li>
<li>
  <a href="http://www.starmagazine.com">Star</a></li>
<li>
  <a href="http://www.talkmagazine.com">Talk</a></li>
<li>
  <a href="http://www.timeoutny.com">Time Out New York</a></li>
<li>
  <a href="http://www.yil.com">Yahoo Internet Life</a></li>
   </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>FINANCE/PERSONAL</b></font></p>
  <ul>
<li>
  <a href="http://www.barrons.com">Barron's</a>
  <li>
  <a href="http://www.better-investing.org">Better Investing</a></li>
<li>
  <a href="http://www.bloomberg.com">Bloomberg Personal Finance</a></li>
<li>
  <a href="http://www.businessweek.com">Business Week</a></li>
<li>
  <a href="http://www.extraincome.com">Extra Income</a></li>
<li>
  <a href="http://www.familymoney.com">Family Money</a>
<li>
  <a href="http://www.individualinvestor.com">Individual Investor</a></li>
<li>
  <a href="http://www.kiplinger.com">Kiplinger's Personal Finance Magazine</a></li>
<li>
  <a href="http://www.papermag.com">Paper</a></li>
<li>
  <a href="http://www.money.com">Money</a></li>
<li>
  <a href="http://www.mutual-funds.com">Mutual Funds Magazine</a></li>
<li>
  <a href="http://www.pmdnet.com">Physician's Money Digest</a></li>
<li>
  <a href="http://www.smartmoney.com">Smart Money</a></li>
<li>
  <a href="http://www.technologyinvestor.com">Technology Investor</a></li>
<li>
  <a href="http://www.worth.com">Worth</a></li>
    </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>FOOD/EPICUREAN</b></font></p>
  <ul>

<li>
  <a href="http://www.bonappetit.com">Bon Appetit</a></li>
<li>
  <a href="http://www.cookinglight.com">Cooking Light</a></li>
<li>
  <a href="http://www.finecooking.com">Fine Cooking</a></li>
  <li>
  <a href="http://www.foodandwine.com">Food & Wine</a></li>
<li>
  <a href="http://www.epicurious.com">Gourmet</a></li>
<li>
  <a href="http://www.vegetariantimes.com">Vegetarian Times</a></li>
<li>
  <a href="http://www.veggielife.com">Veggie Life</a></li>
<li>
  <a href="http://www.wineenthusiast.com">Wine Enthusiast</a></li>
<li>
  <a href="http://www.tripled.com">TV Plus</a></li>
   </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GARDENING/LANDSCAPING</b></font></p>
  <ul>

<li>
  <a href="http://www.cl-gardener.com">Country Living Gardener</a>
  <li>
  <a href="http://www.finegardening.com">Fine Gardening</a></li>
<li>
  <a href="http://www.flowerandgardenmag.com">Flower and Garden</a></li>
<li>
  <a href="http://www.hortmag.com">Horticulture</a></li>
<li>
  <a href="http://www.garden.org">National Gardening</a></li>
<li>
  <a href="http://www.organicgardening.com">Organic Gardening</a>
  </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GENERAL INTEREST</b></font></p>
  <ul>

<li>
  <a href="http://www.americanprofile.com">American Profile</a></li>
<li>
  <a href="http://www.theatlantic.com">Atlantic Monthly</a></li>
<li>
  <a href="http://www.chicagotribune.com">Chicago Tribune Magazine</a></li>
<li>
  <a href="http://www.civmag.com">Civilization</a></li>
<li>
  <a href="http://www.cowboysindians.com">Cowboys & Indians</a></li>
<li>
  <a href="http://www.harpers.org">Harper's Magazine</a></li>
<li>
  <a href="http://www.lifemag.com">Life</a></li>
<li>
  <a href="http://www.lamag.com">Los Angeles Magazine</a></li>
<li>
  <a href="http://www.nerve.com">Nerve</a></li>
  <li>
  <a href="http://www.nytimes.com">New York Times Magazine</a></li>
<li>
  <a href="http://www.parade.com">Parade</a></li>
<li>
  <a href="http://www.readersdigest.com">Reader's Digest</a></li>
<li>
  <a href="http://www.examiner.com/magazine">San Francisco Magazine</a></li>
<li>
  <a href="http://www.satevepost.org">Saturday Evening Post</a></li>
<li>
  <a href="http://www.smithsonianmag.si.edu">Smithsonian</a></li>
<li>
  <a href="http://www.usaweekend.com">USA Weekend</a>
  <li>
  <a href="http://www.utne.com">Utne Reader</a></li>

  </ul>

  </font>
</td>
<td valign="top" width="50%">
<font face="arial" size="2">

  </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GOLF</b></font></p>
  <ul>

<li>
  <a href="http://www.fsga.org">Florida Golfer</a></li>
<li>
  <a href="http://www.scga.org">Fore</a></li>
<li>
  <a href="http://www.golfdigest.com">Golf Digest</a></li>
<li>
  <a href="http://www.gdwoman.com">Golf Digest Woman</a>
  <li>
  <a href="http://www.golfillustrated.com">Golf Illustrated</a></li>
<li>
  <a href="http://www.golfonline.com">Golf Magazine</a></li>
<li>
  <a href="http://www.golftipsmag.com">Golf Tips</a></li>
<li>
  <a href="http://www.golfweek.com">Golfweek</a></li>
<li>
  <a href="http://www.linksmagazine.com">Links Magazine</a></li>
<li>
  <a href="http://www.maximumgolf.com">Maximum Golf</a></li>
<li>
  <a href="http://www.seniorgolfer.com">Senior Golfer</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HEALTH/FITNESS</b></font></p>
  <ul>

<li>
  <a href="http://www.alternativemedicine.com">Alternative Medicine</a></li>
<li>
  <a href="http://www.arthritis.org">Arthritis Today</a></li>
  <li>
  <a href="http://www.diabetes.org/DiabetesForecast">Diabetes Forecast</a></li>
<li>
  <a href="http://www.essence.com">Essence</a></li>
<li>
  <a href="http://www.exercisegroup.com">Exercise For Men Only</a></li>
<li>
  <a href="http://www.runamericaclub.com">Fitness Runner</a></li>
<li>
  <a href="http://www.fitnessswimmer.com">Fitness Swimmer</a></li>
<li>
  <a href="http://www.mensfitness.com">Men's Fitness</a></li>
<li>
  <a href="http://www.menshealth.com">Men's Health</a></li>
<li>
  <a href="http://www.naturalhealthmag.com">Natural Health</a></li>
<li>
  <a href="http://www.healthyideas.com">Prevention</a></li>
<li>
  <a href="http://www.psychologytoday.com">Psychology Today</a></li>
<li>
  <a href="http://www.shapemag.com">Shape</a></li>
<li>
  <a href="http://www.vitality.com">Vitality</a></li>
<li>
  <a href="http://www.yogajournal.com">Yoga Journal</a></li>

  </ul>

     <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HOBBIES/CRAFTS</b></font></p>
  <ul>

<li>
  <a href="http://www.americanwoodworker.com">American Woodworker</a></li>
<li>
  <a href="http://www.krause.com">Arts & Crafts</a></li>
  <li>
  <a href="http://www.barbiebazaar.com">Barbie Bazaar</a></li>
<li>
  <a href="http://www.beckett.com">Beckett Baseball, Basketball and Foorball Card Monthly</a></li>
<li>
  <a href="http://www.craftsmag.com">Crafts</a></li>
<li>
  <a href="http://www.familytreemagazine.com">Family Tree Magazine</a></li>
<li>
  <a href="http://www.finewoodworking.com">Fine Woodworking</a></li>
<li>
  <a href="http://www.mccallsquilting.com">McCall's Quilting</a></li>
  <li>
  <a href="http://www.modelairplanenews.com">Model Airplane News</a></li>
<li>
  <a href="http://www.modelrailroader.com">Model Railroader</a></li>
<li>
  <a href="http://www.popwood.com">Popular Woodworking</a></li>
<li>
  <a href="http://www.woodmagazine.com">Wood Magazine</a></li>
<li>
  <a href="http://www.woodworkers.com">Woodworker's Journal</a></li>

  </ul>

       <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HOME/HOME DECORATING</b></font></p>
  <ul>

<li>
  <a href="http://www.dreamhome2000.com">American Homestyle and Gardening</a></li>
<li>
  <a href="http://www.archdigest.com">Architectual Digest</a></li>
<li>
  <a href="http://www.bhglive.com">Better Homes and Gardens</a></li>
<li>
  <a href="http://www.coastalliving.com">Coastal Living</a></li>
  <li>
  <a href="http://www.cowles.com">Country Journal</a></li>
<li>
  <a href="http://www.familyhandyman.com">Family Handyman</a></li>
<li>
  <a href="http://www.finehomebuilding.com">Fine Homebuilding</a></li>
<li>
  <a href="http://www.housegarden.com">House & Garden</a></li>
<li>
  <a href="http://www.housebeautiful.com">House Beautiful</a></li>
<li>
  <a href="http://www.loghomeliving.com">Log Home Living</a></li>
  <li>
  <a href="http://www.marthastewart.com">Martha Stewart Living</a></li>
<li>
  <a href="http://www.midwestliving.com">Midwest Living</a></li>
<li>
  <a href="http://www.oldhousejournal.com">Old-House Journal</a></li>
<li>
  <a href="http://www.southernliving.com">Southern Living</a></li>
<li>
  <a href="http://www.thisoldhouse.com">This Old House</a></li>
<li>
  <a href="http://www.goodmanmediagroup.com">Timber Homes Illustrated</a></li>
<li>
  <a href="http://www.veranda.com">Veranda</a></li>

  </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HUNTING AND FISHING</b></font></p>
  <ul>
    <li>
  <a href="http://www.flyfishingmagazines.com">American Angler</a></li>
<li>
  <a href="http://www.nrahq.org">American Rifleman</a></li>
<li>
  <a href="http://www.bassmaster.com">Bassmaster</a></li>
<li>
  <a href="http://www.bowhunter.com">Bowhunter</a></li>
<li>
  <a href="http://www.buckmasters.com">Buckmasters</a></li>
<li>
  <a href="http://www.fieldandstream.com">Field and Stream</a></li>
<li>
  <a href="http://www.flyshop.com">Fly Fisherman</a>
  <li>
  <a href="http://www.flyrodreel.com">Fly Rod and Reel</a></li>
<li>
  <a href="http://www.petersenco.com">Guns & Ammo</a></li>
<li>
  <a href="http://www.petersenco.com">Handguns</a></li>
<li>
  <a href="http://www.in-fisherman.com">In-Fisherman</a></li>
<li>
  <a href="http://www.fishingclub.com">North American Fisherman</a>
<li>
  <a href="http://www.huntingclub.com">North American Hunter</a></li>
<li>
  <a href="http://www.outdoorlife.com">Outdoor Life</a></li>
<li>
  <a href="http://www.riflemagazine.com">Rifle</a></li>
<li>
  <a href="http://www.flyfishingmagazines.com">Saltwater Fly Fishing</a></li>
<li>
  <a href="http://www.in-fisherman.com">Walleye In-Sider</a></li>
<li>
  <a href="http://www.stovpub.com">Wildfowl</a></li>

  </ul>

      <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MEN'S</b></font></p>
  <ul>

<li>
  <a href="http://www.codemagazine.com">Code</a></li>
<li>
  <a href="http://www.edads.com">Dads Magazine</a></li>
  <li>
  <a href="http://www.details.com">Details</a></li>
<li>
  <a href="http://www.egomagazine.com">Ego</a></li>
<li>
  <a href="http://www.elks.org/elksmag">Elks Magazine</a></li>
<li>
  <a href="http://www.espn.com">ESPN the Magazine</a></li>
<li>
  <a href="http://www.esquire.com">Esquire </a></li>
<li>
  <a href="http://www.fantasyindex.com">Fantasy Football Index</a></li>
  <li>
  <a href="http://www.gq.com">GQ</a></li>
<li>
  <a href="http://www.maximonline.com">Maxim</a></li>
<li>
  <a href="http://www.menshealth.com">Men's Health</a></li>
<li>
  <a href="http://www.mensjournal.com">Men's Journal</a></li>
<li>
  <a href="http://www.outsidemag.com">Outside</a></li>
<li>
  <a href="http://www.povmag.com">P.O.V.</a></li>
<li>
  <a href="http://www.penthousemag.com">Penthouse</a></li>
<li>
  <a href="http://www.playboy.com/magazine">Playboy </a></li>
<li>
  <a href="http://www.stuff-mag.com">Stuff</a></li>

  </ul>

       <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>METROPOLITAN/REGIONAL</b></font></p>
  <ul>

  <li>
  <a href="http://www.atlantamagazine.com">Atlanta Magazine</a></li>
<li>
  <a href="http://www.avenuemag.com">Avenue Magazine</a></li>
<li>
  <a href="http://www.talkmagazine.com">Chicago Magazine</a></li>
<li>
  <a href="http://www.clevelandmagazine.com">Cleveland Magazine</a></li>
<li>
  <a href="http://www.dmagazine.com">D Magzazine</a></li>
<li>
  <a href="http://www.newyorkmag.com">New York</a></li>
  <li>
  <a href="http://www.phillymag.com">Philadelphia Magazine</a></li>
<li>
  <a href="http://www.pittsburghmag.com">Pittsburgh</a></li>
<li>
  <a href="http://www.sacmag.com">Sacramento</a></li>
<li>
  <a href="http://www.sandiego-online.com">San Diego</a></li>
<li>
  <a href="http://www.examiner.com/magazine">San Francisco Examiner Magazine</a></li>
<li>
  <a href="http://www.sanjosemagazine.com">San Jose Magazine</a></li>
<li>
  <a href="http://www.texasmonthly.com">Texas Monthly</a></li>
  <li>
  <a href="http://www.washingtonian.com">Washingtonian</a></li>
<li>
  <a href="http://www.newengland.com">Yankee</a></li>

  </ul>

       <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MUSIC</b></font></p>
  <ul>

<li>
  <a href="http://www.acousticguitar.com">Acoustic Guitar</a></li>
<li>
  <a href="http://www.cmj.com/NewMM">CMJ New Music Monthly</a></li>
<li>
  <a href="http://www.emusician.com">Electronic Musician</a></li>
<li>
  <a href="http://www.guitaronemag.com">Guitar One</a></li>
  <li>
  <a href="http://www.JazzTimes.com">JazzTimes</a></li>
<li>
  <a href="http://www.keyboardmag.com">Keyboard Magazine</a></li>
<li>
  <a href="http://www.mderndrummer.com">Modern Drummer</a></li>
<li>
  <a href="http://www.operanews.com">Opera News</a></li>
<li>
  <a href="http://www.pulse.towerrecords.com">Pulse!</a></li>
<li>
  <a href="http://www.planetrevolution.com">Revolution</a></li>
<li>
  <a href="http://www.rollingstone.com">Rolling Stone</a></li>
  <li>
  <a href="http://www.thesource.com">The Source</a></li>
<li>
  <a href="http://www.spin.com/magazine">Spin</a></li>
<li>
  <a href="http://www.vibe.com">Vibe</a></li>

  </ul>

      <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NATURE/ENVIRONMENT</b></font></p>
  <ul>

<li>
  <a href="http://www.audubon.org">Audubon</a></li>
<li>
  <a href="http://www.nationalgeographic.com">National Geographic</a></li>
<li>
  <a href="http://www.npca.org">National Parks</a></li>
  <li>
  <a href="http://www.nwf.org">National Wildlife</a></li>
<li>
  <a href="http://www.naturalhistory.com">Natural History</a></li>
<li>
  <a href="http://www.sierraclub.org">Sierra</a></li>
<li>
  <a href="http://www.fancypubs.com">WildBird</a></li>
<li>
  <a href="http://www.wcs.org">Wildlife Conservation</a></li>

  </ul>


<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ORGANIZATIONS</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
<li><a href="http://www.nrahq.org">American Guardian</a></li>
  <li>
  <a href="http://www.better-investing.org">Better Investing</a></li>
<li>
  <a href="http://www.washington.edu/alumni/columns">Columns</a></li>
<li>
  <a href="http://www.elks.org/elksmag">Elks Magazine (The)</a></li>
<li>
  <a href="http://www.hadassah.org">Hadassah Magazine</a></li>
<li>
  <a href="http://www.lionsclub.org">Lion (The)</a></li>
<li>
  <a href="http://www.nativepeoples.com">Native Peoples</a></li>
  <li>
  <a href="http://www.privateclubs.com">Private Clubs</a></li>
  <li>
    <a href="http://www.fcclainc.org">Teen Times</a></li>
  <li>
  <a href="http://www.wemagazine.com">We</a></li>

  </ul>

      <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>PARENTING/FAMILIES</b></font></p>
  <ul>

<li>
  <a href="http://www.childmagazine.com">Child</a></li>
<li>
  <a href="http://www.disney.com">Disney Magazine</a></li>
  <li>
  <a href="http://www.familydigestbaby.com">Family Digest Baby</a></li>
<li>
  <a href="http://www.familypc.com">FamilyPC</a></li>
<li>
  <a href="http://www.healthykids.com">Healthy Kids</a></li>
<li>
  <a href="http://www.offspringmag.com">Offspring</a></li>
<li>
  <a href="http://www.parents.com">Parenting</a></li>
<li>
  <a href="http://www.parentandchildonline.com">Scholastic Parent and Child</a></li>
<li>
  <a href="http://www.bsa.scouting.org">Scouting</a></li>
<li>
  <a href="http://www.sesamestreet.com">Sesame Street Parents</a></li>
<li>
  <a href="http://www.tlfamily.com">Travel & Leisure Family</a></li>
  </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>PHOTOGRAPHY</b></font></p>
  <ul>

<li>
  <a href="http://www.imaginemedia.com">Digital Foto</a></li>
<li>
  <a href="http://www.outdoorphotographer.com">Outdoor Photographer</a></li>
<li>
  <a href="http://www.pcphotomag.com">PC Photo</a></li>
<li>
  <a href="http://www.petersenco.com">Petersen's Photographic</a></li>
<li>
  <a href="http://www.phototechmag.com">Photo Techniques</a></li>
<li>
  <a href="http://www.serbin.com/Photo_Forum/index.html">Photographer's Forum</a></li>
  <li>
  <a href="http://www.popphoto.com">Popular Photography</a></li>
<li>
  <a href="http://www.shutterbug.net">Shutterbug</a></li>
<li>
  <a href="http://www.videomaker.com">Videomaker</a></li>
  </ul>

      <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>POLITICAL/SOCIAL</b></font></p>
  <ul>
<li>
  <a href="http://www.americanheritage.com">American Heritage</a></li>
<li>
  <a href="http://www.bib.arch.org">Biblical Archaeology Review</a></li>
<li>
  <a href="http://www.foreignaffairs.org">Foreign Affairs</a></li>
  <li>
  <a href="http://www.georgemag.com">George</a></li>
<li>
  <a href="http://www.motherjones.com">Mother Jones</a></li>
<li>
  <a href="http://www.thenation.com">Nation (The)</a></li>
  <li>
  <a href="http://www.nationalreview.com">National Review</a></li>
<li>
  <a href="http://www.thenewrepublic.com">New Republic</a></li>
<li>
  <a href="http://www.nthp.org">Preservation</a></li>
  <li>
  <a href="http://www.reason.com">Reason</a></li>
<li>
  <a href="http://www.troikamagazine.com">Troika</a></li>
<li>
  <a href="http://www.tripled.com">Weekly Standard (The)</a></li>
  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>RELIGION</b></font></p>
  <ul>

<li>
  <a href="http://www.catholicdigest.org">Catholic Digest</a></li>
  <li>
  <a href="http://www.charismamag.com">Charisma and Christian Life</a></li>
<li>
  <a href="http://www.christianreader.com">Christian Reader</a></li>
<li>
  <a href="http://www.christianitytoday.net">Christianity Today</a></li>
  <li>
  <a href="http://www.rca.org/herald">Church Herald</a></li>
<li>
  <a href="http://www.uahc.org/rjmag">Reform Judaism</a></li>
 </ul>

	   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WOMEN'S</b></font></p>
  <ul>
  <li>
  <a href="http://www.cosmomag.com/">Cosmopolitan</a></li>
   <li>
  <a href="http://www.ebony.com/">Ebony</a></li>
<li>
  <a href="http://www.elle.com/">Elle</a></li>
<li>
  <a href="http://www.goodhousekeeping.com/">Good Housekeeping</a></li>
  <li>
  <a href="http://www.ladieshomejournal.com/">Ladies Home Journal</a></li>
   <li>
  <a href="http://www.latina.com/">Latina</a></li>
   <li>
  <a href="http://www.msmagazine.com/">Ms. Magazine</a></li>
 <li>
  <a href="http://www.self.com/">Self</a></li>
 <li>
  <a href="http://www.women.com">Women.com</a></li>

 </ul>


{% endblock %}
