{% set page_name = 'Media Ownership / Ownership News' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}


{% block innerContent %}

<font face="arial" size="2">

The landscape for media ownership has changed dramatically in the past few years. Most newspapers and TV and radio stations are now owned by major corporations. Below are links to most of these companies, with a list of the properties they own.

&nbsp;<br>&nbsp;<br>
</td>
</tr>


<tr>

<td width="50%" valign="TOP">
<font face="arial" size="2">



<font face="Arial, Helvetica, sans-serif" size="2">

<ul>

<li><b><a href="advance.cfm">Advance Publications</a></b><br>
<li><b><a href="belo.cfm">A.H. Belo</a></b><br>
<li><b><a href="aol-tw.cfm">AOL Time-Warner</a></b><br>
<li><b><a href="att.cfm">AT & T</a></b><br>
<li><b><a href="bertel.cfm">Bertelsmann</a></b><br>
<li><b><a href="cablev.cfm">Cablevision</a></b><br>
<li><b><a href="cnhi.cfm">Community Newspapers Holdings Inc.</a></b><br>
<li><b><a href="clearc.cfm">Clear Channel Communications</a></b><br>
<li><b><a href="cox.cfm">Cox Communications</a></b><br>
<li><b><a href="disney.cfm">Disney</a></b><br>
<li><b><a href="dj.cfm">Dow Jones & Co.</a></b><br>
<li><b><a href="emmis.cfm">Emmis Communications Corp.</a></b><br>
<li><b><a href="gannett.cfm">Gannett</a></b><br>
<li><b><a href="ge.cfm">General Electric</a></b><br>
<li><b><a href="hachette.cfm">Hachette Filipacchi</a></b><br>
<li><b><a href="hearst.cfm">Hearst Corp.</a></b><br>
<li><b><a href="hollinger.cfm">Hollinger</a></b><br>
<li><b><a href="knight.cfm">Knight Ridder</a></b><br>
<li><b><a href="landmark.cfm">Landmark Communications</a></b><br>
<li><b><a href="liberty.cfm">Liberty Group Publishing</a></b><br>

  </font>
</td>
<td valign="top" width="50%">
<font face="arial" size="2">

     </ul>

	 <ul>

<li><b><a href="mcgraw.cfm">McGraw-Hill</a></b><br>
<li><b><a href="mediag.cfm">Media General</a></b><br>
<li><b><a href="medianewsgroup.cfm">MediaNews Group</a></b><br>
<li><b><a href="meredith.cfm">Meredith Corp.</a></b><br>
<li><b><a href="mcclatchy.cfm">McClatchy Co.</a></b><br>
<li><b><a href="newtimes.cfm">New Times Inc.</a></b><br>
<li><b><a href="newscorp.cfm">News Corp.</a></b><br>
<li><b><a href="nyt.cfm">New York Times Co.</a></b><br>
<li><b><a href="pearson.cfm">Pearson</a></b><br>
<li><b><a href="primedia.cfm">Primedia</a></b><br>
<li><b><a href="pulitzer.cfm">Pulitzer Inc.</a></b><br>
<li><b><a href="reed.cfm">Reed Elsevier</a></b><br>
<li><b><a href="scripps.cfm">Scripps</a></b><br>
<li><b><a href="sinclair.cfm">Sinclair Broadcasting</a></b><br>
<li><b><a href="tribune.cfm">Tribune Co.</a></b><br>
<li><b><a href="usa.cfm">USA Networks</a></b><br>
<li><b><a href="viacom.cfm">Viacom</a></b><br>
<li><b><a href="vulcan.cfm">Vulcan</a></b><br>
<li><b><a href="washingtonpost.cfm">Washington Post Co.</a></b><br>
<li><b><a href="yahoo.cfm">Yahoo Inc.</a></b><br>
</table>
<br>
<br>
<br><div align="center">
<font face="arial" size="3"><b>A selected list of articles about media ownership <br> from Columbia Journalism Review. </b> <br> </div>
<br>

<b>March/April 2003</b> <br>
<a href="http://www.cjr.org/year/03/2/sherman.asp">The Evolution of Dean Singleton</a> -- By Scott Sherman. <a href="http://www.cjr.org/year/03/2/scherer.asp">News in Mormon Country</a> -- By Michael Scherer. <a href="http://www.cjr.org/year/03/2/hickey.asp">Power Shift</a> -- By Neil Hickey <br>
<br>
<b>January/February 2003</b> <br>
<a href="http://www.cjr.org/year/03/1/comment.asp">The Silence of the Lambs</a> -- Editorial <br>
<br>
<b>November/December 2002</b> <br>
<a href="http://www.cjr.org/year/02/6/hickey.asp">Time Inc.'s AOL Problem</a> -- By Neil Hickey. <a href="http://www.cjr.org/year/02/6/murdoch.asp">Rupert Murdoch</a> -- By Diana B. Henriques<br>
<br>
<b>September/October 2002</b><br>
<a href="http://www.cjr.org/year/02/5/hickey.asp">Clout</a> -- By Neil Hickey. <a href="http://www.cjr.org/year/02/5/scherer.asp">Washington Post: Growing the Company</a> -- By Michael Scherer<br>
<br>
<b>July/August 2002</b><br>
<a href="http://www.cjr.org/year/02/4/overholser.asp">Journalists on the Boards</a> -- Geneva Overholser.  <a href="http://www.cjr.org/year/02/4/crispinmiller.asp">Media Ownership: 20/20 Hindsight</a> -- By Mark Crispin Miller<br>
<br>
<b>May/June 2002</b><br>
<a href="http://www.cjr.org/year/02/3/hickey.asp">Media Monopoly Q&A </a> -- By Neil Hickey.
<a href="http://www.cjr.org/year/02/3/gralnick.asp">How Network News Outsmarted Itself </a> -- By Jeff Gralnick.
<a href="http://www.cjr.org/year/02/3/grossman.asp">Murrow Said It All In 1958 </a> -- By Lawrence K. Grossman<br>
<br>

<b>March/April 2002</b><br>
<a href="http://www.cjr.org/year/02/2/moore.asp">Currents: A Chill in Canada </a> -- By Aaron Moore<br>
<br>
<b>January/February 2002</b><br>
<a href="http://www.cjr.org/year/02/1/woody.asp">When Boom Went Bust at The Industry Standard</a> -- By Todd Woody. <br>
<a href="http://www.cjr.org/year/02/1/grossman.asp">Wanted: A New Breed of Media CEOs with Old Fashioned Values</a> -- By Lawrence K. Grossman<br>
<a href="http://www.cjr.org/year/02/1/nolter.asp">Static from Clear Channel</a> -- By Chris Nolter<br>
<a href="http://www.cjr.org/year/02/1/gottlieb.asp">Can Bloomberg Cover Bloomberg?</a> -- By Jane Gottlieb <br>
<br>
<b>September/October 2001</b><br>
<a href="http://www.cjr.org/year/01/5/geneva.asp">A Hard Look at Public Ownership and Ideas for Damage Control</a> -- By Geneva Overholser<br>
<br>
<b>July/August 2001</b><br>
<a href="http://www.cjr.org/year/01/4/houston.asp">AOL Time Warner Spells Big</a> -- By Frank Houston<br>
<a href="http://www.cjr.org/year/01/4/CNNmerger.asp">CNN After the Merger</a> -- By Neil Hickey<br>
<a href="http://www.cjr.org/year/01/4/fcchickey.asp">Unshackling Big Media</a> -- By Neil Hickey <br>
<a href="http://www.cjr.org/year/01/4/overholser.asp">Our Nose for News Fails Us When the Smell is Close to Home</a> -- By Geneva Overholser<br>
<br>
<b>May/June 2001</b><br>
<a href="http://www.cjr.org/year/01/3/laventhol.asp">Profit Pressures: A Question of Margins</a> -- By David Laventhol<br>
<a href="http://www.cjr.org/year/01/3/resign.asp">In Their Own Words: The Harris Resignation</a> -- Various Authors<br>
<a href="http://www.cjr.org/year/01/3/hart.asp">Whiplash: What High Margins mean in the Trenches</a> -- By Ariel Hart<br>
<br>
<b>March/April 2001</b><br>
<a href="http://www.cjr.org/year/01/2/cunningham.asp">Manhattan Mindset</a> -- By Brent Cunningham<br>
<a href="http://www.cjr.org/year/01/2/ladd.asp">Why New York Could Rule New Media</a> -- By Donna Ladd<br>
<a href="http://www.cjr.org/year/01/2/overholser.asp">Voices: There's No Business Like Your Own Newspaper's Business</a> -- By  Geneva Overholser<br>
<br>
<br>
<br>

</font>


{% endblock %}
