{% set page_name = 'News/Talk Radio Stations' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}

<font face="arial" size="2">

<font face="Arial, Helvetica, sans-serif" size="2">
<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALABAMA</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<li><a href="http://www.werc960am.com">Birmingham -- WERC (960 AM)</a></li>
<li>
  <a href="http://www.wbcf.com">Florence -- WBCF (1240 AM)</a> </li>
<li>
  <a href="http://www.wgad.com">Gadsden -- WGAD (1350 AM)</a></li>
<li>
  <a href="http://www.wtki.com">Huntsville -- WTKI (1450 AM)</a></li>
<li>
  <a href="http://www.wntm.com">Mobile -- WNTM (710 AM)</a></li>
<li>
  <a href="http://www.newsradio950.com">Montgomery -- WNZZ (950 AM)</a></li>
<li>
  <a href="http://www.aunetwork.com">Opelika -- WANI (1400 AM)</a></li>
<li>
  <a href="http://www.eagle1023.com">Roanoke -- WELR (1360 AM)</a></li>
<li>
<a href="http://www.www.wtbc1230.com">Tuscaloosa -- WTBC (1230 AM)</a></li>
</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALASKA</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
<li>
  <a href="http://www.kjno.com">Juneau -- KJNO (630 AM)</a></li>
<li>
  <a href="http://www.ktkn_am.electricvillage.com">Ketchikan -- KTKN (930 AM)</a></li>
  </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARIZONA</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
<li><a href="http://www.accessarizona.com/partners/kfyi">Phoenix -- KFYI (910 AM)</a></li>
  <li>
  <a href="http://www.ktar620.com">Phoenix -- KTAR (620 AM)</a></li>
<li>
  <a href="http://www.kqna.com">Prescott Valley -- KQNA (1130 AM)</a></li>
<li>
  <a href="http://www.knst.com">Tucson -- KNST (790 AM)</a></li>
  </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARKANSAS</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<li>
  <a href="http://www.noalmark.com/keld.htm">El Dorado -- KELD (1400 AM)</a></li>
<li>
  <a href="http://www.kwhn.com">Fort Smith -- KWHN (1320 AM)</a></li>
<li>
  <a href="http://www.powellbroadcasting.net/kzng">Hot Springs -- KZNG (1340 AM)</a></li>
<li>
  <a href="http://www.karn.com">Little Rock -- KARN (920 AM)</a></li>
  <li>
  <a href="http://www.kwck.com">Searcy -- KWCK (1300 AM)</a></li>
  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CALIFORNIA</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<li>
  <a href="http://www.kernradio.com">Bakersfield -- KERN (1410 AM)</a></li>
<li>
  <a href="http://www.kpay.com">Chico -- KPAY (1290 AM)</a></li>
<li>
  <a href="http://www.kgoe.com">Eureka -- KGOE (1480 AM)</a>
  <li>
  <a href="http://www.kmj58.com">Fresno -- KMJ (580 AM)</a></li>
<li>
  <a href="http://www.knco.com">Grass Valley -- KNCO (830 AM)</a></li>
<li>
  <a href="http://www.kmphfm.com">Hanford -- KMPH (107.5 FM)</a></li>
<li>
  <a href="http://www.abc.com">Los Angeles -- KABC (790 AM)</a></li>
<li>
  <a href="http://www.kfi640.com">Los Angeles -- KFI (640 AM)</a></li>
<li>
  <a href="http://www.kfwb.com">Los Angeles -- KFWB (980 AM)</a></li>
<li>
  <a href="http://www.knx1070.com">Los Angeles -- KNX (1070 AM)</a>
  <li>
  <a href="http://www.kvon.com">Napa -- KVON (1440 AM)</a></li>
<li>
  <a href="http://www.kprl.com">Paso Robles -- KPRL (1230 AM)</a></li>
<li>
  <a href="http://www.ktip.com">Porterville -- KTIP (1450 AM)</a></li>
<li>
  <a href="http://www.talk650kste.com">Rancho Cordova -- KSTE (650 AM)</a></li>
<li>
  <a href="http://www.reddingradio.com/kqms.htm">Redding -- KQMS (1400 AM)</a></li>
<li>
  <a href="http://www.kfbk.com">Sacramento -- KFBK (1530 AM)</a></li>
<li>
  <a href="http://www.760kfmb.com">San Diego -- KFMB (760 AM)</a></li>
<li>
  <a href="http://www.kcbs.com">San Francisco -- KCBS (740 AM)</a></li>
<li>
  <a href="http://www.kgoam810.com">San Francisco -- KGO (810 AM)</a></li>
<li>
  <a href="http://www.ksfo560.com">San Francisco -- KSFO (560 AM)</a></li>

  <li>
  <a href="http://www.cnetradio.com">San Francisco -- CNET Radio WBPS (910 AM)</a></li>
<li>
  <a href="http://www.kliv.com">San Jose -- KLIV (1590 AM)</a></li>
<li>
  <a href="http://www.kglw.com">San Luis Obispo -- KGLW (1340 AM)</a>
  <li>
  <a href="http://www.kvon.com">San Marcos-Poway -- KPRZ (1210 AM)</a></li>
<li>
  <a href="http://www.broadcast.com/radio/talk/keytam">Santa Barbara -- KEYT (1250 AM)</a></li>
<li>
  <a href="http://www.ksco.com">Santa Cruz -- KSCO (1080 AM)</a></li>
<li>
  <a href="http://www.ksma.com">Santa Maria -- KSMA (1240 AM)</a></li>
<li>
  <a href="http://www.ksro.com">Santa Rosa -- KSRO (1350 AM)</a></li>
<li>
  <a href="http://www.kven.com">Ventura -- KVEN (1450 AM)</a></li>

  </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>COLORADO</b></font></p>
<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

  <li><a href="http://www.ksir.com/station">Brush -- KSIR (1010 AM)</a></li>
<li>
  <a href="http://www.hottalk1460.com">Colorado Springs -- KKCS (1460 AM)</a></li>
<li>
  <a href="http://www.khow.com">Denver -- KHOW (630 AM)</a></li>
<li>
  <a href="http://www.americanewsnet.com/radio.htm">Johnstown -- KHNC (1360 AM)</a></li>
<li>
  <a href="http://www.shell.rmi.net/~kcsj/kcsj.htm">Pueblo -- KCSJ (590 AM)</a></li>
<li>
  <a href="http://www.kcol.com">Wellington -- KCOL (600 AM)</a>

  </ul>

     <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CONNECTICUT</b></font></p>
<ul>

  <li>
  <a href="http://www.wsub.com">Groton -- WSUB (980 AM)</a></li>
<li>
  <a href="http://www.wtic.com/am.html">Hartford -- WTIC (1080 AM)</a></li>
<li>
  <a href="http://www.weli.com">New Haven -- WELI (960 AM)</a></li>
<li>
  <a href="http://www.wnlk.com">Norwalk -- WNLK (1350 AM)</a></li>
<li>
  <a href="http://www.wstc.com">Stamford -- WSTC (1400 AM)</a></li>

   </ul>

       <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>DELAWARE</b></font></p>
<ul>

<li>
  <a href="http://www.wdov.com">Dover -- WDOV (1410 AM)</a>
  <li>
  <a href="http://www.wbmd.com">Rehoboth Beach -- WBMD (92.7 FM)</a></li>
<li>
  <a href="http://www.wdel.com">Wilmington -- WDEL (1150 AM)</a></li>

   </ul>

         <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>DISTRICT OF COLUMBIA</b></font></p>
<ul>

<li>
  <a href="http://www.wmal.com">Washington -- WMAL (630 AM)</a></li>
<li>
  <a href="http://www.wtopnews.com/homepage.shtm">Washington -- WTOP (1500 AM)</a></li>

   </ul>

         <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>FLORIDA</b></font></p>
<ul>

<li>
  <a href="http://www.wjno.com">Boynton Beach -- WJNO (1040 AM)</a></li>
<li>
  <a href="http://www.tantalk1340.com">Clearwater -- WTAN (1340 AM)</a>
  <li>
  <a href="http://www.wtks.com">Cocoa Beach -- WTKS (104.1 FM)</a></li>
<li>
  <a href="http://www.wndb.com">Daytona Beach -- WNDB (1150 AM)</a></li>
<li>
  <a href="http://www.wkiq.com/gateway/radio/default.asp?sectionid=34">Eustis -- WKIQ (1240 AM)</a></li>
<li>
  <a href="http://www.wftw.com">Fort Walton Beach -- WFTW (1260 AM)</a></li>

  <li><a href="http://www.live85.com">Fort Lauderdale/Miami -- WFTL (850 AM)</a></li>

<li>
  <a href="http://www.am850.com">Gainesville -- WRUF (850 AM)</a></li>
<li>
  <a href="http://www.wokv.com">Jacksonville -- WOKV (690 AM)</a>
  <li>
  <a href="http://www.wlkf.com">Lakeland -- WLKF (1430 AM)</a></li>
<li>
  <a href="http://www.wodx.com">Marco Island -- WODX (1480 AM)</a></li>
<li>
  <a href="http://www.supertalk940.cc">Miami -- WINZ (940 AM)</a></li>
<li>
  <a href="http://www.newsradio610.com">Miami -- WIOD (610 AM)</a></li>
<li>
  <a href="http://www.wpgs.com">Mims -- WPGS (840 AM)</a></li>
  <li>
  <a href="http://www.woca.com">Ocala -- WOCA (1370 AM)</a></li>
<li>
  <a href="http://www.insidecentralflorida.com/partners/580wdbo/">Orlando -- WDBO (580 AM)</a></li>
<li>
  <a href="http://www.broadcast.com/radio/news/wwnz/">Orlando -- WWNZ (740 AM)</a></li>
<li>
  <a href="http://www.wele.com">Ormond Beach -- WELE (1380 AM)</a></li>
<li>
  <a href="http://www.wcoa.gulf.net/index.cfm">Pensacola -- WCOA (1370 AM)</a></li>
<li>
  <a href="http://www.whnz.com/main.html">Pinellas Park -- WHNZ (570 AM)</a>
  <li>
  <a href="http://www.wpsl.com">Port St. Lucie -- WPSL (1590 AM) </a></li>
<li>
  <a href="http://www.wspb.com/index.html">Sarasota -- WSPB (1450 AM)</a></li>
<li>
  <a href="http://www.oldcity.com/WFOY/">St. Augustine -- WFOY (1240 AM)</a></li>
<li>
  <a href="http://www.970wfla.com/main.html">Tampa -- WFLA (970 AM)</a></li>
<li>
  <a href="http://216.68.78.213/index.html">West Palm Beach -- WBZT (1290 AM)</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GEORGIA</b></font></p>

<ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<li>
  <a href="http://www.accessatlanta.com/partners/wsbradio/">Atlanta -- WSB (750 AM)</a>
  <li>
  <a href="http://www.wgac.com">Augusta -- WGAC (580 AM)</a></li>
<li>
  <a href="http://www.wgfs.com">Covington -- WGFS (1430 AM)</a></li>
<li>
  <a href="http://www.wdmg.com/">Douglas -- WDMG (860 AM)</a></li>
<li>
  <a href="http://www.wdun.com/">Gainesville -- WDUN (550 AM)</a></li>
<li>
  <a href="http://www.eagle1023.com/">La Grange -- WLAG (1240 AM)</a></li>
<li>
  <a href="http://www.wbmq.com">Savannah -- WBMQ (630 AM)</a></li>

  </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HAWAII</b></font></p>
  <ul>
<font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
<li>
  <a href="http://www.1420am.com/">Honolulu -- KCCN (1420 AM)</a></li>
<li>
  <a href="http://www.hawaii-radio.net/">Honolulu -- KHNR (650 AM)</a></li>

    </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IDAHO</b></font></p>
  <ul>

<li>
  <a href="http://www.kido.net/">Boise -- KIDO (630 AM)</a></li>
<li>
  <a href="http://www.koze.com/amprof.htm">Lewiston -- KOZE (950 AM)</a></li>
<li>
  <a href="http://radio.boisestate.edu/">McCall -- KBSM (91.7 FM)</a></li>
<li>
  <a href="http://www.magiclink.com/web/kezjklix/">Twin Falls -- KLIX (1310  AM)</a>

      </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ILLINOIS</b></font></p>
  <ul>

  <li>
  <a href="http://www.wjbc.com">Bloomington-Normal -- WJBC (1230 AM)</a></li>
<li>
  <a href="http://www.wdws.com">Champaign-Urbana -- WDWS (1400 AM)</a></li>
<li>
  <a href="http://www.wgnradio.com">Chicago -- WGN (720 AM)</a></li>
<li>
  <a href="http://www.wlsam.com">Chicago -- WLS (890 AM)</a></li>
<li>
  <a href="http://www.wyll.com">Des Plaines -- WYLL (106.7 FM)</a></li>
<li>
  <a href="http://www.wjpf.com">Herrin -- WJPF (1340 AM)</a>
  <li>
  <a href="http://www.wlds.com/wlds.htm">Jacksonville -- WLDS (1180 AM)</a></li>
<li>
  <a href="http://www.randyradio.com/wkei.htm">Kewanee -- WKEI (1450 AM)</a></li>
<li>
  <a href="http://www.wtad.com">Quincy -- WTAD (930 AM)</a></li>
   <li>
  <a href="http://www.wrok.com">Rockford -- WROK (1440 AM)</a></li>
<li>
  <a href="http://www.whcoradio.com">Sparta -- WHCO (1230 AM)</a></li>
<li>
  <a href="http://www.wmay.com">Springfield -- WMAY (970 AM)</a></li>
<li>
  <a href="http://www.randyradio.com">Tower Hill -- WRAN (98.3 FM)</a></li>
<li>
  <a href="http://www.wkrs.com">Waukegan -- WKRS (1220 AM)</a></li>

      </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>INDIANA</b></font></p>
  <ul>

<li>
  <a href="http://www.whbu.com">Anderson -- WHBU (1240 AM)</a></li>
   <li>
  <a href="http://www.wcsiradio.com">Columbus -- WCSI (1010 AM)</a></li>
<li>
  <a href="http://www.wowo.com">Fort Wayne -- WOWO (1190 AM)</a></li>
<li>
  <a href="http://www.wibc.com">Indianapolis -- WIBC (1070 AM)</a></li>
<li>
  <a href="http://www.sybercuse.com/wsyr/">Roanoke -- WYSR (94.1 FM)</a></li>
<li>
  <a href="http://www.22wsbt.com">South Bend -- WSBT (960 AM)</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IOWA</b></font></p>
  <ul>
<li>
  <a href="http://www.woi.org/AM/AM.html">Ames -- WOI (640 AM)</a></li>
<li>
  <a href="http://www.kcnzam.com">Cedar Falls -- KCNZ (1250 AM)</a></li>
<li>
  <a href="http://www.kcrg.com/1600/k1600.htm">Cedar Rapids -- KCRG (1600 AM)</a></li>
<li>
  <a href="http://www.access.mpr.org/stations/klcdklni/">Decorah -- KLNI (88.7 FM)</a></li>
<li>
  <a href="http://www.kdth.com">Dubuque -- KDTH (1370 AM)</a></li>
<li>
  <a href="http://www.kmcdkick96.com">Fairfield -- KMCD (1570 AM)</a></li>
<li>
  <a href="http://www.weddingbells.com">Mason City -- KGLO (1300 AM)</a></li>
<li>
  <a href="http://www.shenessex.heartland.net/local/pages/kma.htm">Shenandoah -- KMA (960 AM)</a></li>
   <li>
   <a href="http://www.620kmns.com">Sioux City -- KMNS (620 AM)</a></li>

  <li><a href="http://www.kscj.com">Sioux City --  KSCJ (1360 AM)</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KANSAS</b></font></p>
  <ul>

<li>
  <a href="http://www.1390knck.com">Concordia -- KNCK (1390 AM)</a></li>
<li>
  <a href="http://www.valu-line.net/~belfordj/ers/kvoeam.htm">Emporia -- KVOE (1400 AM)</a></li>
<li>
  <a href="http://www.kloe.com">Goodland -- KLOE (730 AM)</a></li>
<li>
  <a href="http://www2.swko.net/~kscb">Liberal -- KSCB (1270 AM)</a></li>
  <li>
  <a href="http://www.kfrm.com/indexie.htm">Salina -- KFRM (550 AM)</a></li>
<li>
  <a href="http://www.ebcinc.com/ksal/index.htm">Salina -- KSAL (1150 AM)</a></li>
<li>
  <a href="http://www.1330kfh.com">Wichita -- KFH (1330 AM)</a></li>
<li>
  <a href="http://www.broadcast.com/radio/talk/knss/">Wichita -- KNSS (1240 AM)</a></li>

  </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KENTUCKY</b></font></p>
  <ul>
<li>
  <a href="http://www.wvlkam.com/index.htm">Lexington -- WVLK (590 AM)</a></li>
<li>
  <a href="http://www.whas.com/whas.html">Louisville -- WHAS (840 AM)</a></li>
<li>
  <a href="http://www.wwky.com">Louisville -- WWKY (790 AM)</a></li>
<li>
  <a href="http://www.wkyx.com">Paducah -- WKYX (570 AM)</a></li>

    </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>LOUISIANA</b></font></p>
  <ul>

<li>
  <a href="http://www.wjbo.com/home.cfm">Baton Rouge -- WJBO (1150 AM)</a></li>
<li>
  <a href="http://www.kaok.com">Lake Charles -- KAOK (1400 AM)</a></li>
<li>
  <a href="http://www.kmlb.com">Monroe -- KMLB (1440 AM)</a></li>

 </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MAINE</b></font></p>
  <ul>

<li>
  <a href="http://www.thevoiceofmaine.com">Howland -- WVOM (103.9 FM)</a></li>
<li>
  <a href="http://www.56wgan.com">Portland -- WGAN (560 AM)</a>

   </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MARYLAND</b></font></p>
  <ul>

  <li>
  <a href="http://www.wbal.com">Baltimore -- WBAL (1090 AM)</a></li>
<li>
  <a href="http://www.1300wjfk.com">Baltimore -- WJFK (1300 AM)</a></li>
<li>
  <a href="http://www.wcbc1270am.com">Cumberland -- WCBC (1270 AM)</a></li>
<li>
  <a href="http://www.wmet.kivex.com/home.html">Gaithersburg -- WMET (1150 AM)</a></li>
<li>
  <a href="http://www.warx.com">Hagerstown -- WARK (1490 AM)</a></li>

   </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MASSACHUSETTS</b></font></p>
  <ul>

<li>
  <a href="http://www.langerradio.com">Ashland -- WRPT (650 AM)</a>
<li>
  <a href="http://www.wbz.com/radio">Boston -- WBZ (1030 AM)</a></li>
<li>
  <a href="http://www.wrko.com/home.html">Boston -- WRKO (680 AM)</a></li>
<li>
  <a href="http://www.wbet.com/">Brockton -- WBET (1460 AM)</a></li>
<li>
  <a href="http://www.pmpnetwork.com">Brockton -- WMSX (1410 AM)</a></li>
<li>
  <a href="http://www.1120wbnw.com">Concord -- WBNW (1120 AM)</a></li>
<li>
  <a href="http://www.wbsm.com">New Bedford -- WBSM (1420 AM)</a></li>
<li>
  <a href="http://www.am1420wbec.com">Pittsfield -- WBEC (1420 AM)</a></li>
<li>
  <a href="http://www.whyn.com">Springfield -- WHYN (560 AM)</a></li>
<li>
  <a href="http://www.wpep.com">Taunton -- WPEP (1570 AM)</a></li>
  <li>
  <a href="http://www.wbur.org">West Yarmouth -- WBUR (1240 AM)</a></li>
<li>
  <a href="http://www.wnnz.com/index.html">Westfield -- WNNZ (640 AM)</a></li>
<li>
  <a href="http://www.wtag.com">Worcester -- WTAG (580 AM)</a></li>

   </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MICHIGAN</b></font></p>
  <ul>

<li>
  <a href="http://www.radiofriends.com/wabj/wabjmain.htm">Adrian -- WABJ (1490 AM)</a></li>
<li>
  <a href="http://www.watz.com/am.htm">Alpena -- WATZ (1450 AM)</a></li>
<li>
  <a href="http://www.battlecreekradio.com">Battle Creek -- WBCK (930 AM)</a></li>
<li>
  <a href="http://www.760wjr.com">Detroit -- WJR (760 AM)</a></li>
<li>
  <a href="http://www.wwj.com">Detroit -- WWJ (950 AM)</a></li>
<li>
  <a href="http://www.wkar.org">East Lansing -- WKAR (870 AM)</a></li>
<li>
  <a href="http://www.910am.com">Flint -- WFDF (910 AM)</a></li>

  <li>
  <a href="http://www.1340amwjrw.com">Grand Rapids -- WJRW (1340 AM)</a></li>

<li>
  <a href="http://www.wlht.com/wnwz/">Grand Rapids -- WNWZ (1410 AM)</a></li>
<li>
  <a href="http://www.woodradio.com/">Grand Rapids -- WOOD (1300 AM)</a></li>
<li>
  <a href="http://www.broadcast.com/radio/talk/wtkg/">Grand Rapids -- WTKG (1230 AM)</a></li>
<li>
  <a href="http://www.uppermichigan.com/wmpl/">Hancock -- WMPL (920 AM & 93.5 FM)</a></li>
  <li>
  <a href="http://www.whtc.com/">Holland -- WHTC (1450 AM)</a></li>
<li>
  <a href="http://www.rocktalk.com/">Iron Mountain -- WMIQ (1450 AM)</a></li>
<li>
  <a href="http://www.wkhm.com/">Jackson -- WKHM (970 AM)</a></li>
 <li>
  <a href="http://www.wkmi.com">Kalamazoo -- WKMI (1360 AM)</a></li>
<li>
  <a href="http://www.wlht.com/wnwz/">Kalamazoo -- WKZO (590 AM)</a></li>
<li>
  <a href="http://www.wgvu.org/radio.html">Kentwood -- WGVU (1480 AM)</a></li>
<li>
  <a href="http://www.wjml.com/">Petoskey -- WJML (1110 AM)</a></li>
<li>
  <a href="http://www.wtcmradio.com">Traverse City -- WTCM (580 AM)</a></li>
	</ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MINNESOTA</b></font></p>
  <ul>

<li>
  <a href="http://www.access.mpr.org/stations/krsukncm/">Appleton -- KNCM (88.5 FM)</a></li>
<li>
  <a href="http://www.kaus.com/am1480.htm">Austin -- KAUS (1480 AM)</a></li>
<li>
  <a href="http://www.kliz.com/">Brainerd -- KLIZ (1380 AM)</a></li>
<li>
  <a href="http://www.kcnn.com">East Grand Forks -- KCNN (1590 AM)</a></li>
<li>
  <a href="http://www.wcco.com/partners/radio/index.html">Minneapolis -- WCCO (8330 AM)</a></li>
<li>
  <a href="http://www.access.mpr.org/stations/ksjnknow/index.html">Minneapolis-Saint Paul -- KNOW (91.1 FM)</a></li>
<li>
  <a href="http://www.kroc.com">Rochester -- KROC (1340 AM)</a></li>
<li>
  <a href="http://www.access.mpr.org/stations/klsekzse/">Rochester -- KZSE (90.7 FM)</a></li>
<li>
  <a href="http://www.access.mpr.org/stations/kgacknga/">St. Peter -- KNGA (91.5 FM)</a>
  <li>
  <a href="http://www.wjon.com">St. Cloud -- WJON (1240 AM)</a></li>
<li>
  <a href="http://www.am1500.com">St. Paul -- KSTP (1500 AM)</a></li>
<li>
  <a href="http://www.access.mpr.org/stations/kqmnkntn/index.html">Thief River Falls -- KNTN (102.7 FM)</a></li>
<li>
  <a href="http://www.willmarradio.com">Willmar -- KWLM (1340 AM)</a></li>
<li>
  <a href="http://www.kwoa.com">Worthington -- KWOA (730 AM)</a>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSISSIPPI</b></font></p>
  <ul>
<li>
  <a href="http://www.wvmi.com">Biloxi -- WVMI (570 AM)</a></li>
<li>
  <a href="http://www.deltaradio.net">Cleveland -- WDSK (1410 AM)</a></li>
<li>
  <a href="http://www.wmox.net">Meridian -- WMOX (1010 AM)</a></li>
<li>
  <a href="http://www.wjnt.com/index.html">Pearl -- WJNT (1180 AM)</a></li>

  </ul>

  </font>
</td>
<td valign="top" width="50%">
<font face="arial" size="2">

     <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSOURI</b></font></p>
  <ul>

<li>
  <a href="http://www.kfru.com">Columbia -- KFRU (1400 AM)</a>
<li>
  <a href="http://www.kcxl.com">Liberty -- KCXL (1140 AM)</a></li>
<li>
  <a href="http://www.viper-communications.com/krmsradio/">Osage Beach -- KRMS (1150 AM)</a></li>
<li>
  <a href="http://www.kttr-kznn.com">Rolla -- KTTR (1490 AM)</a></li>
<li>
  <a href="http://www.kmox.com/index2.html">St. Louis -- KMOX (1120 AM)</a></li>
<li>
  <a href="http://www.ktrs.com">St. Louis -- KTRS (550 AM)</a></li>
<li>
  <a href="http://www.ktui.com">Sullivan -- KTUI (1560 AM) </a></li>
<li>
  <a href="http://www.klpw.com">Union -- KLPW (1220 AM)</a></li>
<li>
  <a href="http://www.kwpm.com">West Plains -- KWPM (1450 AM)</a></li>

     </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MONTANA</b></font></p>
  <ul>

<li>
  <a href="http://www.kblg.com">Billings -- KBLG (910 AM)</a></li>
  <li>
  <a href="http://www.kltz.com">Glasgow -- KLTZ (1240 AM)</a></li>
<li>
  <a href="http://www.kcap.com">Helena -- KCAP (1340 AM)</a></li>
<li>
  <a href="http://www.kofiradio.com">Kalispell -- KOFI (1180 AM) </a></li>
<li>
  <a href="http://www.kjjr.com">Whitefish -- KJJR (880 AM) </a></li>

   </ul>


   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEBRASKA</b></font></p>
  <ul>
<li>
  <a href="http://www.beatricene.com/kwbe/mainpage.html">Beatrice -- KWBE (1450 AM)</a>
  <li>
  <a href="http://www.kgfw.com">Kearney -- KGFW (1340 AM)</a></li>
<li>
  <a href="http://www.krvn.com">Lexington -- KRVN (880 AM) </a></li>
<li>
  <a href="http://www.wjag.com/radiomnu.htm">Norfolk -- WJAG (780 AM)</a></li>
<li>
  <a href="http://www.kfab.com">Omaha -- KFAB (1110 AM)</a></li>
<li>
  <a href="http://www.kneb.com">Scottsbluff -- KNEB (960 AM & 94.1 FM)</a>
<li>
  <a href="http://www.kticam.com">West Point -- KTIC (840 AM)</a></li>

       </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEVADA</b></font></p>
  <ul>

<li>
  <a href="http://www.kxnt.com">North Las Vegas -- KXNT (840 AM)</a></li>
<li>
  <a href="http://www.kkoh.com/index.html">Reno -- KKOH (780 AM)</a></li>
<li>
  <a href="http://www.krnv.com/fm">Reno -- KRNV (101.7 FM)</a></li>

    </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW HAMPSHIRE</b></font></p>
  <ul>

<li>
  <a href="http://www.wtsl.com">Hanover -- WTSL (1400 AM) </a></li>
<li>
  <a href="http://www.wkbkwxod.com">Keene -- WKBK (1220 AM)</a></li>
<li>
  <a href="http://www.wmvu.com">Nashua -- WMVU (900 AM)</a></li>
<li>
  <a href="http://www.wntk.com/">New London -- WNTK (99.7 FM)</a></li>
<li>
  <a href="http://www.wntk.com">Newport -- WNTK (1020 AM)</a></li>
    </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW JERSEY</b></font></p>
  <ul>

<li>
  <a href="http://www.wfpg.com">Atlantic City -- WFPG (1450 AM)</a></li>
<li>
  <a href="http://www.nj1015.com">Trenton -- WKXW (101.5 FM)</a></li>

      </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW MEXICO</b></font></p>
  <ul>

 <li>
  <a href="http://www.artesia.net/~fabdow/Open.htm">Artesia -- KSVP (990 AM)</a></li>
<li>
  <a href="http://www.finecooking.com">Las Cruces -- KOBE (1450 AM)</a></li>

        </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW YORK</b></font></p>
  <ul>

<li>
  <a href="http://www.wrow.com/Home/index.cfm">Albany -- WROW (590 AM)</a></li>
<li>
  <a href="http://www.wnbf.com">Binghamton -- WNBF (1290 AM)</a></li>
<li>
  <a href="http://www.wben.com/">Buffalo -- WBEN (930 AM)</a></li>
<li>
  <a href="http://www.wineenthusiast.com">Buffalo -- WGR (550 AM)</a></li>
<li>
  <a href="http://www.wned.org/Radio/AM/default.htm">Buffalo -- WNED (970 AM)</a></li>
<li>
  <a href="http://www.graveline.com/radioworks/main.html">Corning -- WCLI (1450 AM)</a></li>
<li>
  <a href="http://www.weny.com">Elmira -- WENY (1230 AM)</a></li>
<li>
  <a href="http://www.wjtn.com/">Jamestown -- WJTN (1240 AM)</a></li>
<li>
  <a href="http://www.wabcradio.com/">New York City -- WABC (770 AM)</a></li>
<li>
  <a href="http://www.newsradio88.com/main/home/index">New York City -- WCBS (880 AM)</a></li>
<li>
  <a href="http://www.wor710.com/">New York City -- WOR (710 AM)</a></li>
<li>
  <a href="http://www.1420wack.com">Newark -- WACK (1420 AM)</a></li>
<li>
  <a href="http://www.wham1180.com">Rochester -- WHAM (1180 AM)</a></li>
<li>
  <a href="http://www.wnbz.com/">Saranac Lake -- WNBZ (1240 AM)</a>
  <li>
  <a href="http://www.sybercuse.com/wsyr/">Syracuse -- WSYR (570 AM)</a></li>
<li>
  <a href="http://www.wibx.com">Utica -- WIBX (950 AM)</a></li>
<li>
  <a href="http://www.gisco.net/watn/">Watertown -- WATN (1240 AM)</a></li>

         </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH CAROLINA</b></font></p>
  <ul>

<li>
  <a href="http://www.wqnx.net">Aberdeen -- WQNX (1350 AM)</a></li>
<li>
  <a href="http://www.wtkf107.com/">Atlantic -- WTKF (107.3 FM)</a>
<li>
  <a href="http://www.weny.com">Charlotte -- WBT (1110 AM)</a></li>
<li>
  <a href="http://www.wdnc.com">Durham -- WDNC (620 AM)</a></li>
<li>
  <a href="http://www.wgbr.com/">Goldsboro -- WGBR (1150 AM)</a></li>
<li>
  <a href="http://www.whky.com">Hickory -- WHKY (1290 AM)</a></li>
<li>
  <a href="http://www.wor710.com/">High Point -- WMFR (1230 AM)</a></li>
<li>
  <a href="http://www.wxii.com/radio.htm">Kernersville -- WXII (830 AM)</a></li>
<li>
  <a href="http://www.wptf.com">Raleigh -- WPTF (680 AM)</a></li>
<li>
  <a href="http://www.wrbz.com/">Raleigh -- WRBZ (850 AM)</a>
  <li>
  <a href="http://www.dantana.com/wstp1490">Salisbury -- WSTP (1490 AM)</a></li>
<li>
  <a href="http://www.libertyworksradio.com/WADA/">Shelby -- WADA (1390 AM)</a></li>
<li>
  <a href="http://www.wsjs.com">Winston-Salem -- WSJS (600 AM)</a></li>
  <li>
  <a href="http://www.wtob.com">Winston-Salem -- WTOB (1380 AM)</a></li>
   </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH DAKOTA</b></font></p>
  <ul>

<li>
  <a href="http://www.kfgo.com/">Fargo -- KFGO (790 AM)</a>
  <li>
  <a href="http://www.in-forum.com/resources/wday970.htm">Fargo -- WDAY (970 AM)</a></li>
<li>
  <a href="http://www.kqlx.com/">Lisbon -- KQLX (890 AM)</a></li>

  </ul>
   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OHIO</b></font></p>
  <ul>

<li>
  <a href="http://www.wakr.net">Akron -- WAKR (1590 AM)</a></li>
<li>
  <a href="http://www.wasn.com/">Campbell -- WASN (1330 AM)</a></li>
<li>
  <a href="http://www.whbc.com/">Canton -- WHBC (1480 AM)</a>
<li>
  <a href="http://www.weny.com">Charlotte -- WBT (1110 AM)</a></li>
<li>
  <a href="http://www.wdnc.com">Cincinnati -- WKRC (550 AM)</a></li>
<li>
  <a href="http://www.1230fyi.com/">Columbus -- WFII (1230 AM)</a></li>
<li>
  <a href="http://www.wosu.org/home/home.htm">Columbus -- WOSU (820 AM)</a></li>
<li>
  <a href="http://www.wtvn.com/index2.html">Columbus -- WTVN (610 AM)</a></li>
<li>
  <a href="http://www.wingam.com/">Dayton -- WING (1410 AM)</a></li>
<li>
  <a href="http://www.wfin.com/">Findlay -- WFIN (1330 AM)</a></li>
<li>
  <a href="http://www.wnir.com/">Kent -- WNIR (100.1 FM)</a>
  <li>
  <a href="http://www.1150wima.com/">Lima -- WIMA (1150 AM)</a></li>
<li>
  <a href="http://www.wmrn.com/">Marion -- WMRN (1490 AM) </a></li>
<li>
  <a href="http://www.wpay.com/talk14.htm">Portsmouth -- WPAY (1400 AM)</a></li>
  <li>
  <a href="http://www.wstv.com/">Steubenville -- WSTV (1340 AM)</a></li>
<li>
  <a href="http://www.wspd.com/">Toledo -- WSPD (1370 AM)</a></li>
  <li>
  <a href="http://www.am1570.com/">Warren -- WANR (1570 AM)</a></li>

  </ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OKLAHOMA</b></font></p>
  <ul>

<li>
  <a href="http://www.kcrc1390.com">Enid -- KCRC (1390 AM)</a></li>
<li>
  <a href="http://www.tulsanow.com/radio/sports/KAKC.html">Tulsa -- KAKC (1300 AM)</a></li>

  </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OREGON</b></font></p>
  <ul>

<li>
  <a href="http://www.kbnd.com/">Bend -- KBND (1110 AM)</a></li>
<li>
  <a href="http://www.kwro.com/">Coquille -- KWRO (630 AM)</a></li>
<li>
  <a href="http://www.kloo.com/">Corvallis -- KLOO (1340 AM)</a></li>
<li>
  <a href="http://www.kugn.com/">Eugene -- KUGN (590 AM)</a>
  <li>
  <a href="http://www.kuik.mytownnet.com/">Hillsboro -- KUIK (1360 AM)</a></li>
<li>
  <a href="http://www.kykn.com/">Keizer -- KYKN (1430 AM)</a></li>
<li>
  <a href="http://www.kgal.com/">Lebanon -- KGAL (1580 AM)</a></li>
<li>
  <a href="http://www.talkbackradio.com/">Myrtle Point -- KTBR (94.1 FM)</a></li>
<li>
  <a href="http://www.620knews.com/">Portland -- KEWS (620 AM)</a></li>
<li>
  <a href="http://www.1190kex.com/">Portland -- KEX (1190 AM)</a></li>
<li>
  <a href="http://www.kxl.com/">Portland -- KXL (750 AM)</a></li>

  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>PENNSYLVANIA</b></font></p>
  <ul>

<li>
  <a href="http://www.butlercounty.com/wbut/">Butler -- WBUT (1050 AM)</a></li>
<li>
  <a href="http://www.wlkk.com/">Erie -- WLKK (1400 AM)</a></li>
  <li>
  <a href="http://www.pserie.psu.edu/">Erie -- WPSE (1450 AM)</a></li>
<li>
  <a href="http://www.580whp.com/">Harrisburg -- WHP (580 AM)</a></li>
<li>
  <a href="http://www.wiez.com/default.htm">Lewistown -- WIEZ (670 AM)</a></li>
<li>
  <a href="http://www.kyw1060.com/">Philadelphia -- KYW (1060 AM)</a></li>
<li>
  <a href="http://www.what1340.com">Philadelphia -- WHAT (1340 AM)</a></li>
<li>
  <a href="http://www.wwdbfm.com/">Philadelphia -- WWDB (96.5 FM)</a></li>
<li>
  <a href="http://www.kdkaradio.com/">Pittsburgh -- KDKA (1020 AM)</a></li>
<li>
  <a href="http://www.kqv.com/">Pittsburgh -- KQV (1410 AM)</a></li>
<li>
  <a href="http://www.wpic790.com/">Sharon -- WPIC (790 AM)</a></li>
<li>
  <a href="http://www.wkok.com/">Sunbury -- WKOK (1070 AM)</a></li>
<li>
  <a href="http://www.wrak.com">Williamsport -- WRAK (1400 AM)</a></li>
<li>
  <a href="http://www.wsba910.com/">York -- WSBA (910 AM)</a></li>

  </ul>

     <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH CAROLINA</b></font></p>
  <ul>

<li>
  <a href="http://www.wtma.com/">Charleston -- WTMA (1250 AM)</a></li>
<li>
  <a href="http://www.wbt.com/">Chester -- WBT (99.3 FM)</a></li>
  <li>
  <a href="http://www.wvoc.com/">Columbia -- WVOC (560 AM)</a></li>
<li>
  <a href="http://www.wjmx.com/">Florence -- WJMX (970 AM)</a></li>
<li>
  <a href="http://www.newstalkword.com/">Greenville -- WYRD (1330 AM)</a></li>
<li>
  <a href="http://www.wrnn.com/">Murrells Inlet -- WRNN (94.5 FM)</a></li>
<li>
  <a href="http://www.wrhi.com/">Rock Hill -- WRHI (1340 AM)</a></li>

  </ul>

       <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH DAKOTA</b></font></p>
  <ul>

<li>
  <a href="http://www.kbfs.com/">Belle Fourche -- KBFS (1450 AM)</a></li>
<li>
  <a href="http://www.kota.rapidnet.com/">Rapid City -- KOTA (1380 AM)</a></li>
<li>
  <a href="http://www.ksoo.com/">Sioux Falls -- KSOO (1140 AM)</a></li>
<li>
  <a href="http://www.kwsn.com/">Sioux Falls -- KWSN (1230 AM) </a></li>
  <li>
  <a href="http://www.wnax.com/">Yankton -- WNAX (570 AM)</a></li>

  </ul>

  <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TENNESSEE</b></font></p>
  <ul>
    <li>
  <a href="http://www.wgow.com/">Chattanooga -- WGOW (1150 AM)</a></li>
<li>
  <a href="http://www.wptn.com/">Cookeville -- WPTN (780 AM)</a></li>
<li>
  <a href="http://www.wnws.com/">Jackson -- WNWS (101.5 FM)</a></li>
<li>
  <a href="http://www.newstalk99.com/">Knoxville -- WNOX (990 AM)</a></li>
<li>
  <a href="http://www.997wtn.com/">Manchester -- WWTN (99.7 FM)</a></li>
<li>
  <a href="http://www.wmcstations.com/am790/">Memphis -- WMC (790 AM)</a></li>
<li>
  <a href="http://www.1450wgns.com/">Murfreesboro -- WGNS (1450 AM)</a>
  <li>
  <a href="http://www.wlac.com/">Nashville -- WLAC (1510 AM)</a></li>

  </ul>

      <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TEXAS</b></font></p>
  <ul>

<li>
  <a href="http://www.kgncam.com">Amarillo -- KGNC (710 AM)</a></li>
<li>
  <a href="http://www.590KLBJ.com">Austin -- KLBJ (590 AM)</a></li>
  <li>
  <a href="http://www.klvi.com/">Beaumont -- KLVI (560 AM)</a></li>
<li>
  <a href="http://www.kbst.com">Big Spring -- KBST (1490 AM)</a></li>
<li>
  <a href="http://www.kzrkam.com/">Canyon -- KZRK (1550 AM) </a></li>
<li>
  <a href="http://www.wtaw.com/">College Station -- WTAW (1150 AM)</a></li>
<li>
  <a href="http://www.kprcradio.com">Conroe -- KPRC (880 AM)</a></li>
<li>
  <a href="http://www.570klif.com/">Dallas -- KLIF (570 AM)</a></li>
  <li>
  <a href="http://www.krld.com/">Dallas -- KRLD (1080 AM)</a></li>
<li>
  <a href="http://www.kurv.com/">Edinburg -- KURV (710 AM)</a></li>
<li>
  <a href="http://www.krod.com/">El Paso -- KROD (600 AM)</a></li>
<li>
  <a href="http://www.wbap.com/">Fort Worth -- WBAP (820 AM)</a></li>
<li>
  <a href="http://www.kprcradio.com/">Houston -- KPRC (950 AM)</a></li>
<li>
  <a href="http://www.ktrh.com/">Houston -- KTRH (740 AM)</a></li>
<li>
  <a href="http://www.989kjfk.com/">Lampasas -- KJFK (98.9 FM)</a></li>
<li>
  <a href="http://www.kfyo.com/">Lubbock -- KFYO (790 AM)</a></li>
<li>
  <a href="http://www.ktsa.com/">San Antonio -- KTSA (550 AM)</a></li>
  <li>
  <a href="http://www.woai.com/">San Antonio -- WOAI (1200 AM)</a></li>
<li>
  <a href="http://www.ktem.com/">Temple -- KTEM (1400 AM)</a></li>

  </ul>

       <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>UTAH</b></font></p>
  <ul>

  <li>
  <a href="http://www.ksvcradio.com/">Richfield -- KSVC (980 AM)</a></li>
<li>
  <a href="http://www.kall910.com/">Salt Lake City -- KALL (910 AM) </a></li>
<li>
  <a href="http://www.talkmagazine.com">Salt Lake City -- KNRS (570AM)</a></li>
<li>
  <a href="http://www.clevelandmagazine.com">Salt Lake City -- KSL (1160 AM)</a></li>
<li>
  <a href="http://www.k-talk.com/">Sandy -- KTKK (630 AM)</a></li>
<li>
  <a href="http://www.kiq1010.com/">Tooele -- KIQN (1010 AM) </a></li>

  </ul>

       <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>VERMONT</b></font></p>
  <ul>

<li>
  <a href="http://www.wkvt.com/">Brattleboro -- WKVT (1490 AM)</a></li>
<li>
  <a href="http://www.mainstreetvermont.com/wkdr1.htm">Burlington -- WKDR (1390 AM)</a></li>
<li>
  <a href="http://www.wsyb.net/">Rutland -- WSYB (1380 AM)</a></li>

  </ul>

      <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>VIRGINIA</b></font></p>
  <ul>

<li>
  <a href="http://www.wina.com/">Charlottesville -- WINA (1070 AM)</a></li>
<li>
  <a href="http://www.valleyradio.com/">Harrisonburg -- WSVA (550 AM)</a></li>
<li>
  <a href="http://www.wrel.com/">Lexington -- WREL (1450 AM)</a></li>
  <li>
  <a href="http://www.wlni.com/">Lynchburg -- WLNI (105.9 FM)</a></li>
<li>
  <a href="http://www.radio.whro.org/">Norfolk -- WHRO (89.5 FM)</a></li>
<li>
  <a href="http://www.wvnz.com/">Richmond -- WVNZ (1320 AM) </a></li>
<li>
  <a href="http://www.wfir960.com/">Roanoke -- WFIR (960 AM)</a></li>
<li>
  <a href="http://www.wtopnews.com/homepage.shtm">Warrenton -- WTOP (107.7 FM)</a></li>
  <li>
  <a href="http://www.wntw.com/">Winchester -- WNTW (610 AM)</a></li>
  </ul>

      <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WASHINGTON</b></font></p>
  <ul>

<li>
  <a href="http://www.kxro.com/">Aberdeen -- KXRO (1320 AM)</a></li>
  <li>
  <a href="http://www.kelaam.com/">Centralia -- KELA (1470 AM)</a></li>
<li>
  <a href="http://www.kule.com/">Ephrata -- KULE (730 AM)</a></li>
  <li>
  <a href="http://www.krko1380.com/">Everett -- KRKO (1380 AM)</a></li>
<li>
  <a href="http://www.ktcr.com/">Kennewick -- KTCR (1340 AM)</a></li>
<li>
  <a href="http://www.konp.com/">Port Angeles -- KONP (1450 AM) </a></li>
<li>
  <a href="http://www.wsu.edu/ETT/NWPR/">Pullman -- KWSU (1250 AM)</a></li>
<li>
  <a href="http://www.kiro710.com/">Seattle -- KIRO (710 AM)</a></li>
<li>
  <a href="http://www.kgnw.com/">Seattle -- KKOL (1300 AM)</a></li>
<li>
  <a href="http://www.komo-am.com/">Seattle -- KOMO (1000 AM)</a></li>
<li>
  <a href="http://www.570kvi.com/">Seattle -- KVI (570 AM)</a></li>
<li>
  <a href="http://www.1510kga.com/">Spokane -- KGA (1510 AM)</a></li>
  <li>
  <a href="http://www.kvan.com/">Vancouver -- KVAN (1550 AM)</a></li>
  <li>
  <a href="http://www.kuj.com/">Walla Walla -- KUJ (1420 AM)</a></li>
  <li>
  <a href="http://www.wsu.edu/ETT/NWPR/">Walla Walla -- KWWS (89.7 FM)</a></li>
   <li>
  <a href="http://www.kpq.com/">Wenatchee -- KPQ (560 AM)</a></li>

  </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WEST VIRGINIA</b></font></p>
  <ul>

<li>
  <a href="http://www.wqbeam.com/">Charleston -- WQBE (950 AM) </a></li>
<li>
  <a href="http://www.wepm.com/">Martinsburg -- WEPM (1340 AM)</a></li>
<li>
  <a href="http://www.wajr.com/">Morgantown -- WAJR (1440 AM)</a></li>
<li>
  <a href="http://www.wltp.com/">Parkersburg -- WLTP (1450 AM)</a></li>
<li>
  <a href="http://www.wajr.com/">Salem -- WAJR (103.3 FM)</a></li>
<li>
  <a href="http://www.wwva.com/">Wheeling -- WWVA (1170 AM)</a></li>

  </ul>

      <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WISCONSIN</b></font></p>
  <ul>
<li>
  <a href="http://www.wpr.org/schedule/wlfm.htm">Appleton -- WLFM (91.1 FM)</a></li>
<li>
  <a href="http://www.wpr.org/schedule/wlbl-am.htm">Auburndale -- WLBL (930 AM)</a></li>
<li>
  <a href="http://www.kfiz.com/">Fond Du Lac -- KFIZ (1450 AM) </a></li>
  <li>
  <a href="http://www.wpr.org/schedule/whid.htm">Green Bay -- WHID (88.1 FM) </a></li>
<li>
  <a href="http://www.whby.com/">Kimberly -- WHBY (1150 AM)</a></li>
<li>
  <a href="http://www.wpr.org/schedule/whla.htm">La Crosse -- WHLA (90.3 FM)</a></li>
  <li>
  <a href="http://www.wpr.org/schedule/wha.htm">Madison -- WHA (970 AM)</a></li>
<li>
  <a href="http://www.wiba.com/">Madison -- WIBA (1310 AM)</a></li>
<li>
  <a href="http://www.broadcast.com/radio/talk/wisn/">Milwaukee -- WISN (1130 AM) </a></li>
  <li>
  <a href="http://www.wpr.org/schedule/wrst.htm">Oshkosh -- WRST (90.3 FM)</a></li>
<li>
  <a href="http://www.wrcoradio.com/">Richland Center -- WRCO (1450 AM & 100.9 FM)</a></li>
<li>
  <a href="http://www.wxco.com/">Wassau -- WXCO (1230 AM)</a></li>
  </ul>

   <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WYOMING</b></font></p>
  <ul>

<li>
  <a href="http://www.kydt.com/">Sundance -- KYDT (103.1 FM)</a></li>

 </ul>

{% endblock %}
