{% extends "::base.html.twig" %}

{% block title %}Research Tools for Journalists{% endblock %}

{% block content %}
<div class="inner-content">
    <h1>Research Tools for Journalists</h1>
    <ul>
        <li>
            <a href="http://www.biography.com/">Biography.com</a>
        </li>
        <li>
            <a href="http://www.businesswire.com/">Business Wire</a>
        </li>
        <li>
            <a href="http://www.cjr.org/html/resources.html">Columbia Journalism Review Resources</a>
        </li>
        <li>
            <a href="http://www.deadlineonline/">Deadline Online -- online research</a>
        </li>
        <li>
            <a href="http://www2.planeta.com/mader/ecotravel/period/period2.html">Environmental Journalism Resource Guide</a>
        </li>
        <li>
            <a href="http://www.wkkfweb.org/experts/">Expert Resources from the W.K. Kellogg Foundation</a>
        </li>
        <li>
            <a href="http://www.facsnet.org/">FACSNET -- Journalism Resources</a>
        </li>
        <li>
            <a href="http://www.naa.org/info/facts/index.html">Facts About Newspapers</a>
        </li>
        <li>
            <a href="http://www.specialissues.com/lol/">Gary Price's List of Lists</a>
        </li>
        <li>
            <a href="http://www.cio.com/central/journalism.html">Guide to Electronic and Print Resources</a>
        </li>
        <li>
            <a href="http://www.linda-andrews.com/">Health Writer</a>
        </li>
        <li>
            <a href="http://www.hoovers.com/">Hoover's Online (business research)</a></li>
        <li>
            <a href="http://www.inserttexthere.com/">InsertTextHere.com</a>
        </li>
        <li>
            <a href="http://www.ipl.org/ref/">Internet Public Library</a>
        </li>
        <li>
            <a href="http://www.ire.org/resourcecenter/initial-search-beat.html">IRE's Beat Source Guide</a>
        </li>
        <li>
            <a href="http://bailiwick.lib.uiowa.edu/journalism/">Journalism and Mass Communication</a>
        </li>
        <li>
            <a href="http://commfaculty.fullerton.edu/lester/curriculum/schools.html ">Journalism, Mass Communications and New Media Websites</a></li>
        <li>
            <a href="http://www.journalismnet.com/">JournalismNet</a>
        </li>
        <li>
            <a href="http://www.markovits.com/journalism/">Journalistic Resources Page</a>
        </li>
        <li>
            <a href="http://reporter.umd.edu/">Journalist's Guide to the Internet</a>
        </li>
        <li>
            <a href="http://www.egroups.com/group/latinscribes/">Latinscribes</a>
        </li>
        <li>
            <a href="http://www.lexis-nexis.com/">Lexis-Nexis</a>
        </li>
        <li>
            <a href="http://www.loc.gov/">Library of Congress</a>
        </li>
        <li>
            <a href="http://www-map.lib.umn.edu/news.html">Maps in the News</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://www.mediahistory.com/">Media History Project</a>
        </li>
        <li>
            <a href="http://www.ryerson.ca/journal/megasources.html">Megasources</a>
        </li>
        <li>
            <a href="http://www.nytimes.com/library/tech/reference/cynavi.html">Navigator</a>
        </li>
        <li>
            <a href="http://www.newswise.com/">Newswise</a>
        </li>
        <li>
            <a href="http://metalab.unc.edu/slanews/internet/archives.html">Newspaper Archives on the Web</a>
        </li>
        <li>
            <a href="http://www.asne.org/kiosk/reports/97reports/journalists90s/coverpage.html">Newspaper Journalists of the 90s</a>
        </li>
        <li>
            <a href="http://www.niu.edu/newsplace/">NewsPlace for News and Sources</a>
        </li>
        <li>
            <a href="http://www.missouri.edu/~jschool/missourian/">Newsroom Web Resources</a>
        </li>
        <li>
            <a href="http://PowerReporting.com/">Power Reporting Resources for Journalists</a>
        </li>
        <li>
            <a href="http://www.prnewswire.com/">PR Newswire</a>
        </li>
        <li>
            <a href="http://www.presswise.org.uk">PressWise</a>
        </li>
        <li>
            <a href="http://www.profnet.com">Profnet</a></li>
        <li>
            <a href="http://www.vote-smart.org/">Project Vote Smart (research political candidates)</a>
        </li>
        <li>
            <a href="http://www.ropercenter.uconn.edu/">Roper Center for Public Opinion Research</a></li>
        <li>
            <a href="http://reporter.org/">Reporter.org</a>
        </li>
        <li>
            <a href="http://www.seanet.com/~duff/">Reporter's Desktop</a>
        </li>
        <li>
            <a href="http://www.reporters.net/">Reporters Network</a>
        </li>
        <li>
            <a href="http://www.pcvp.org/pcvp/media/contents.shtml">Reporting on Violence</a>
        </li>
        <li>
            <a href="http://science.jour.missouri.edu/">Science Journalism Center</a>
        </li>
        <li>
            <a href="http://www.evansville.net/courier/scoop">Scoop Cybersleuth's Resource Room</a>
        </li>
        <li>
            <a href="http://www.sej.org/">Society of Environmental Journalists</a>
        </li>
        <li>
            <a href="http://metalab.unc.edu/slanews/internet/experts.html">Sources and Experts</a>
        </li>
        <li>
            <a href="http://metalab.unc.edu/slanews/">Special Libraries Association News Division</a>
        </li>
        <li>
            <a href="http://www.sree.net/stories/stuff.html">Sree.net</a></li>
        <li>
            <a href="http://www.stateline.org/">Stateline.org</a>
        </li>
        <li>
            <a href="http://www.media-awareness.ca/eng/issues/stats/index.htm">Statistics about the Media</a>
        </li>
        <li>
            <a href="http://www.webgator.org">Webgator.org</a>
        </li>
        <li>
            <a href="http://www.yourdictionary.com">YourDictionary.com</a>
        </li>
    </ul>
</div>
{% endblock %}