{% extends "::base.html.twig" %}

{% block title %}Media Resources{% endblock %}

{% block content %}
<div class="inner-content">
  <h1>General Links</h1>
  <div class="resources-links-container">
    <p><b>Journalism Publications</b></p>
    <ul>    
    <li><a href="http://www.asne.org/kiosk/editor/tae.htm">American Editor</a></li>
    <li>
      <a href="http://www.ajr.org/">American Journalism
      Review</a> </li>
    <li>
      <a href="http://www.apme.com/">APME News</a></li>

    <li>
      <a href="http://www.broadcastingcable.com/">Broadcasting
      and Cable</a></li>
    <li>
      <a href="http://www.cjr.org/">Columbia Journalism
      Review</a></li>
    <li>
      <a href="http://www.rtnda.org/communicator/current.shtml">Communicator</a>
      </li>
    <li>
      <a href="http://www.contentious.com/">Contentious</a>
      </li>
    <li>
      <a href="http://www.current.org/">Current</a>
      </li>
    <li>
      <a href="http://www.cyber-times.org/">Cyber-Times</a>
      </li>
    <li>
      <a href="http://www.mediainfo.com/">Editor
      & Publisher</a></li>
    <li>
      <a href="http://www.emonline.com/">Electronic
      Media</a></li>

    <li>
      <a href="http://www.fair.org">F.A.I.R.</a></li>

    <li>
      <a href="http://www.freedomforum.org/newsstand/welcome.asp">Freedom
      Forum periodicals</a></li>
      <li>
      <a href="http://www.inside.com/">Inside</a></li>
    <li>
      <a href="http://www.editors-service.com/">Internet
      Newsroom</a></li>
    <li>
      <a href="http://www.ire.org/store/periodicals.html">IRE
      Journal</a></li>
    <li>
      <a href="http://newsline.byu.edu/jmme/">Journal
      of Mass Media Ethics</a></li>
    <li>
      <a href="http://excellent.com.utk.edu/JMCE/">Journalism
      and Mass Communication Educator</a></li>

      <li><a href="http://www.medialifemagazine.com">Media Life Magazine</a></li>

      <li><a href="http://www.pbs.org/newshour/media/">Media Watch -- media news from PBS
      Newshour</a></li>

      <li><a href="http://www.mediaweek.com">Mediaweek</a></li>

    <li> <a href="http://www.newslab.org/">NewsLab -- TV News</a></li>

    <li> <a href="http://www.nppa.org/members/magazine/default.htm">News
      Photographer Magazine</a></li>

    <li> <a href="http://www.Nieman.harvard.edu/">Nieman
      Reports</a></li>
    <li>
      <a href="http://www.ojr.org/">Online Journalism
      Review</a></li>
    <li>
      <a href="http://www.naa.org/presstime/">Presstime</a>
      </li>
    <li>
      <a href="http://spj.org/quill/">Quill</a>
      </li>

    <li><a href="http://www.rronline.com/">Radio & Records</a></li>

    <li><a href="http://www.rtnda.org/">RTNDA
      Communicator</a> </li>
    <li>
      <a href="http://www.tvrundown.com/">Rundown</a>
      </li>
      <li>
      <a href="http://www.writersdigest.com/">Writer's Digest</a>
      </li>
    <li>
      <a href="http://www.scripps.ohiou.edu/wjmcr/">Web
      Journal of Mass Communication Research</a></li>
    </ul>
    <p><b>News
    Sites</b></p>
    <ul>
    <li><a href="http://www.abcnews.com">ABC News
      </a></li>
    <li><a href="http://www.ap.org/">Associated
      Press</a> </li>
    <li><a href="http://news.bbc.co.uk/">BBC
      News</a></li>
    <li><a href="http://www.bloomberg.com">Bloomberg</a></li>
    <li><a href="http://www.cbs.com">CBS</a></li>
    <li><a href="http://www.cnn.com">CNN</a></li>
    <li><a href="http://dowjones.com">Dow Jones</a></li>
    <li><a href="http://www.drudge/">Drudge</a></li>
    <li><a href="http://www.ecommercetimes.com">E-Commerce Times</a></li>
    <li><a href="http://www.foxnews.com">Fox News </a></li>
    <li><a href="http://www.iwantmedia.com">iwantmedia</a></li>
    <li><a href="http://www.latimes.com">Los Angeles Times</a></li>
    <li><a href="http://msnbc.com">MSNBC</a></li>
    <li><a href="http://www.nytimes.com">New York Times</a></li>
    <li><a href="http://www.reuters.com/">Reuters</a></li>
      <li><a href="http://www.washingtonpost.com">Washington Post</a></li>
    <li><a href="http://www.upi.com/">United Press International</a></li>
    <li><a href="http://www.usatoday.com">USA Today</a></li>
    </ul>
    <p><b>Media Organizations</b></p>
    <ul>
    <li>
      <a href="http://www.aasfe.org/index.html">American Association of Sunday and Feature
      Editors</a> </li>
    <li>
      <a href="http://www.copydesk.org/">American
      Copy Editors Society (ACES)</a></li>
    <li>
      <a href="http://www.asja.org/">American
      Society of Journalists and Authors</a></li>
    <li>
      <a href="http://www.asne.org/">American
      Society of Newspaper Editors</a></li>
      <li>
      <a href="http://www.asbpe.org/">American Society of Business Publication Editors</a></li>
    <li>
      <a href="http://www.aaja.org/">Asian
      American Journalists Association</a></li>
    <li>
      <a href="http://www.apme.com/">Associated
      Press Managing Editors</a></li>

      <li>
      <a href="http://www.aan.org/">Association of Alternative Newsweeklies</a></li>

      <li>
      <a href="http://www.awsmonline.org">Association for Women in Sports Media</a></li>

    <li>
      <a href="http://www.beaweb.org/">
      Broadcast Education Association</a></li>

    <li>
    <a href="http://www.ccnma.org">California Chicano News Media Association</li>
    <li><a href="http://www.eagle.ca/caj/">Canadian Association of Journalists</a></li>
    <li><a href="http://casey.umd.edu/">Casey
      Journalism Center<br>
      for Children</a><a href="http://casey.umd.edu/">
      and Families</a><br>
      </li>
    <li>
      <a href="http://www.columbia.edu/cu/cspa/">
      Columbia Scholastic Press Association</a></li>
    <li>
      <a href="http://www.cpj.org/">Committee
      to Protect Journalists</a></li>
    <li>
      <a href="http://www.newsfund.org">
      Dow Jones Newspaper Fund</a></li>
    <li>
      <a href="http://www.ewa.org/">Education Writer's
      Association</a></li>
    <li>
      <a href="http://www.eff.org/">Electronic Frontier
      Foundation</a></li>
    <li>
      <a href="http://www.freedomforum.org/">Freedom
      Forum</a></li>
    <li>
      <a href="http://www.icfj.org/">International
      Center for Journalists</a></li>
    <li>
      <a href="http://www.ifj.org/">International
      Federation of Journalists</a></li>
    <li><a href="http://www.inlandpress.org">Inland
      Press Association</a> </li>
    <li>
      <a href="http://www.inma.org/">International
      Newspaper Marketing Association</a></li>
    <li>
      <a href="http://www.iwmf.org/">International
      Women's Media Foundation</a></li>
    <li>
      <a href="http://www.ire.org/">Investigative
      Reporters and Editors</a></li>
    <li>
      <a href="http://www.jea.org/">Journalism
      Education Association</a></li>
    <li>
      <a href="http://www.jaws.org/">Journalism
      and Women Symposium</a></li>
    <li>
    <a href="http://www.magazine.org/">Magazine Publishers of America</a></li>
    <li>
      <a href="http://www.xnet.com/~mcormick/jrnl.htm">McCormick
      Tribune Foundation</a></li>
    <li>
      <a href="http://www.mediachannel.org/">Media
      Channel</a></li>
      <li>
      <a href="http://www.mnnewspapernet.org/">Minnesota Newspaper Association</a></li>
    <li>
      <a href="http://www.nabj.org/">National
      Association of Black Journalists</a></li>
    <li>
      <a href="http://www.nab.org/">National
      Association of Broadcasters</a></li>
    <li>
      <a href="http://www.nahj.org/">National
      Association of Hispanic Journalists</a></li>
    <li>
      <a href="http://www.namic.com/">National
      Association of Minorities in Communications</a>
      </li>
    <li>
      <a href="http://www.nasw.org/">National
      Association of Science Writers</a></li>
    <li>
      <a href="http://www.ncew.org/">National
      Conference of Editorial Writers</a></li>
    <li>
      <a href="http://www.reporters.net/nfoic">National
      Freedom of Information Coalition</a></li>
    <li>
      <a href="http://www.nlgja.org">National
      Lesbian and Gay Journalists Association</a></li>
    <li>
      <a href="http://www.oweb.com/nna/">National
      Newspaper Association</a></li>
    <li>
      <a href="http://npc.press.org/">National Press
      Club</a></li>
    <li>
      <a href="http://www.nppa.org/default.cfm">
      National Press Photographers Association</a></li>
    <li>
     <a href="http://www.nwu.org">
      National Writers Union</a></li>
    <li>
      <a href="http://www.naja.com/">
      Native American Journalists Association</a></li>
    <li>
      <a href="http://www.NewsLab.org">NewsLab</a>
     <br>
    <li>
      <a href="http://www.naa.org/">Newspaper
      Association of America</a></li>
    <li>
      <a href="http://www.newsguild.org/">Newspaper
      Guild</a></li>
      <br>
      <li> <a href="http://www.newswomensclubnewyork.com/">Newswomen's Club of New York</a></li>
    <li>
      <a href="http://www.nieman.harvard.edu/nieman.html">Nieman
      Foundation</a></li>
    <li>
      <a href="http://www.infi.net/ono/">Organization
      of News Ombudsmen</a><br>
      </li>

      <li>
      <a href="http://www.owaa.org/">Outdoor Writers Association of America</a></li>

    <li><a href="http://www.prndi.org/">
      Public Radio News Directors Incorporated</a><br>
      </li>
    <li>
      <a href="http://www.rtnda.org/rtnda/">
      Radio and Television News Directors Association</a></li>
    <li>
      <a href="http://www.rtndf.org/rtndf/">
      Radio and Television News Directors Foundation</a></li>
    <li>
      <a href="http://www.rna.org/home.html">Religion
      Newswriters Association</a></li>
    <li>
      <a href="http://www.rcfp.org/rcfp/">Reporters
      Committee for Freedom of the Press</a></li>
    <li>
      <a href="http://www.sej.org/">Society of Environmental
      Journalists</a></li>
    <li>
      <a href="http://www.snd.org/">Society
      for News Design</a></li>
    <li>
      <a href="http://www.spj.org/">Society
      of Professional Journalists</a></li>
    <li>
      <a href="http://www.saja.org/">South Asian
      Journalists Association</a></li>
    <li>
      <a href="http://www.snpa.org/">Southern
      Newspaper Publishers Association</a></li>
    <li>
      <a href="http://sunsite.unc.edu/slanews">Special Libraries Association
      News Division</a></li>
    <li>
      <a href="http://npc.press.org/wpforal/about.htm">Washington
      Press Club Foundation</a></li>
    <li>
      <a href="http://www.fiej.org/">World Association
      of Newspapers</a></li>
    </ul>


    
  </div>
  <div class="resources-links-container">


    <p><b>
    Research Tools</b></p>
    <ul>
    

    <li>
      <a href="http://www.cjr.org/html/resources.html">Columbia Journalism Review
      Resources</a></li>

    <li><a href="http://www2.planeta.com/mader/ecotravel/period/period2.html">Environmental
      Journalism<br>
      Resource Guide</a></li>
    <li>
      <a href="http://www.facsnet.org/">FACSNET -- Journalism Resources and Education</a>
      </li>
    <li>
      <a href="http://www.naa.org/info/facts/index.html">Facts
      About Newspapers</a></li>

    <li><a href="http://www.cio.com/central/journalism.html">Guide
      to Electronic and Print Resources</a></li>
    <li>
      <a href="http://www.linda-andrews.com/">Health
      Writer</a></li>

      <li>
      <a href="http://www.inserttexthere.com/">InsertTextHere.com</a>

      <li>
    <a href="http://www.jobspage.com">JobsPage</a>
    </li>
    <li>
      <a href="http://bailiwick.lib.uiowa.edu/journalism/">Journalism
      and Mass Communication</a></li>
    <li>
      <a href="http://commfaculty.fullerton.edu/lester/curriculum/schools.html ">Journalism,
      Mass Communications and New Media Websites</a></li>
    <li>
      <a href="http://www.journalismnet.com/">JournalismNet</a>
      </li>
    <li>
      <a href="http://www.markovits.com/journalism/">Journalistic
      Resources Page</a></li>
    <li>
      <a href="http://reporter.umd.edu/">Journalist's
      Guide to the Internet</a></li>
    <li><a href="http://www.egroups.com/group/latinscribes/">Latinscribes</a></li>

    <li>
      <a href="http://www.lexis-nexis.com/">Lexis-Nexis</a></li>

    <li>
      <a href="http://www-map.lib.umn.edu/news.html">Maps
      in the News</a></li>

      <li>
      <a href="http://www.mediabuddies.com/">MediaBuddies.com -- journalist locator</a></li>

    <li>
      <a href="http://www.mediahistory.com/">Media
      History Project</a></li>
    <li>
      <a href="http://www.ryerson.ca/journal/megasources.html">Megasources</a>
      </li>
    <li>
      <a href="http://www.nytimes.com/library/tech/reference/cynavi.html">Navigator</a>
      </li>

    <li><a href="http://www.newswise.com/">Newswise</a>
      </li>

    <li>
      <a href="http://metalab.unc.edu/slanews/internet/archives.html">Newspaper
      Archives on the Web</a></li>
    <li>
      <a href="http://www.asne.org/kiosk/reports/97reports/journalists90s/coverpage.html">Newspaper
      Journalists of the 90s</a> </li>
    <li>
      <a href="http://www.niu.edu/newsplace/">NewsPlace
      for News and Sources</a></li>
    <li>
      <a href="http://www.missouri.edu/~jschool/missourian/">Newsroom
      Web Resources</a></li>

    <li>
      <a href="http://PowerReporting.com/">Power
      Reporting Resources for Journalists</a></li>

    <li><a href="http://www.presswise.org.uk">PressWise</a></li>

    <li><a href="http://www.profnet.com">Profnet</a></li>
    <li>
      <a href="http://reporter.org/">Reporter.org</a>
      </li>
    <li>
      <a href="http://www.seanet.com/~duff/">Reporter's
      Desktop</a></li>
    <li>
      <a href="http://www.reporters.net/">Reporters
      Network</a></li>
    <li>
      <a href="http://www.evansville.net/courier/scoop">Scoop
      Cybersleuth's Resource Room</a></li>
    <li>
      <a href="http://metalab.unc.edu/slanews/internet/experts.html">Sources
      and Experts</a></li>
    <li>
      <a href="http://metalab.unc.edu/slanews/">Special Libraries Association
      News Division</a></li>
     <li>
      <a href="http://www.sree.net/stories/stuff.html">Sree.net</a></li>
    <li>
      <a href="http://www.stateline.org/">Stateline.org</a>
      </li>
    <li>
      <a href="http://www.media-awareness.ca/eng/issues/stats/index.htm">Statistics
      about the Media</a></li>
    <li>
      <a href="http://www.webgator.org">Webgator.org</a>
      </li>
    </ul>

    <p><b>Training</b></p>
    <ul>

    <li><a href="http://www.americanpressinstitute.org/">American Press Institute (API)</a></li>
    <li><a href="http://www.film-connection.com/">Film & TV Connection</a></li>
    <li><a href="http://www.newsthinking.com">newsthinking.com</a></li>
    <li><a href="http://www.streetlights.org/">Streetlights.org</a></li>
    <li><a href="http://www.televisionnewscenter.org/">Television News Center</a></li>
    <li><a href="http://www.writing.com/">Writing.com</a></li>

    </ul>

    <p><b>Newspapers, TV and Radio</b></p>
    <ul>
    <li><a href="http://www.beaweb.org/">Broadcast
      Education Association </a></li>
    <li><a href="http://www.gebbieinc.com/index1.htm">Gebbie
      Press</a></li>

    <li><a href="http://www.mtr.org">Museum
      of Television and Radio</a></li>
    <li><a href="http://www.nab.org">National
      Association of Broadcasters</a></li>
    <li><a href="http://www.naa.org/hotlinks/index.asp">Newspaper
      Association of America</a></li>
    <li><a href="http://newo.com/news/">News
      Resource</a></li>
    <li><a href="http://www.rtnda.org/">Radio
      and Television News Directors Association </a></li>
    <li><a href="http://www.rtndf.org/">Radio
      and Television News Directors Foundation </a></li>
    <li><a href="http%2F%2F:www.TelevisionNewsCenter.org">Television
      News Center</a></li>
    <li><a href="http://tvnews.vanderbilt.edu/">Vanderbilt
      Television News Archive</a></li>

      <li><a href="http://www.newscript.com">Writing for Radio</a></li>
    </ul>
    <p><b>
    Media Centers</b></p>
    <ul>
    <li><a href="http://www.newspaper.org/">American
      Press Institute</a></li>
    <li>
      <a href="http://acij.uts.edu.au/">Australian
      Centre for Independent Journalism</a></li>
    <li>
      <a href="http://www.jou.ufl.edu/brechner/brochure.htm">Brechner
      Center</a></li>
    <li>
      <a href="http://www.journalism.sfsu.edu/www/ciij/ciij.htm">Center
      for Integration and Improvement of Journalism</a></li>
    <li>
      <a href="http://www.muckraker.org/">Center
      for Investigative Reporting</a></li>

    <li>
      <a href="http://www.cmpa.com/">Center for
      Media and Public Affairs</a> </li>
    <li>
      <a href="http://www.jou.ufl.edu/commres/jouwww.htm">Communications
      and Journalism Academic World Wide Web Sites</a></li>
    <li>
      <a href="http://www.it-kompetens.com/journ/jschools.html">Education
      and Research</a></li>
    <li>
      <a href="http://www.ejc.nl/">European Journalism
      Centre</a></li>
    <li>
      <a href="http://www.freedomforum.org/whoweare/fac.asp">First
      Amendment Center</a></li>
    <li>
      <a href="http://www.missouri.edu/~foiwww/">Freedom
      of Information Center</a></li>
    <li>
      <a href="http://www.freedomforum.org/">Freedom
      Forum</a></li>
    <li>
      <a href="http://www.icfj.org/">International
      Center for Journalists</a> </li>
    <li>
    <a href="http://www.j-lab.org">J-Lab: The Institute for Interactive Journalism</a>

    <li>
      <a href="http://www.maynardije.org/">Maynard
      Institute</a></li>
    <li><a href="http://www.mediacenter.org/">
      Media Center </a></li>
    <li>
      <a href="http://www.mediainst.org/">Media
      Institute</a></li>
    <li>
      <a href="http://www.media.mit.edu/">Media
      Lab</a></li>
    <li>
      <a href="http://www.mediastudies.org/">Media
      Studies Center</a></li>
    <li>
      <a href="http://www.neog.com/mbc/">Museum
      of Broadcast Communications</a></li>
    <li>
      <a href="http://www.mtr.org/">Museum of Television
      and Radio</a></li>
    <li><a href="http://www.nicar.org/">National
      Institute for Computer-Assisted Reporting</a></li>
    <li>
      <a href="http://npc.press.org/">National Press
      Club</a></li>
    <li>
      <a href="http://www.missouri.edu/~ndnwww/">New
      Directions For News</a></li>
    <li>
      <a href="http://www.newseum.org/">Newseum</a>
      </li>
    <li><a href="http://www.newslab.org/"> NewsLab
     </a></li>
    <li><a href="http://www.nicar.org">NICAR</a></li>
    <li>
      <a href="http://www.nieman.harvard.edu/nieman.html">Nieman
      Foundation</a></li>
    <li>
      <a href="http://www.pewcenter.org/">Pew Center
      for Civic Journalism</a></li>
    <li>
      <a href="http://www.people-press.org/">Pew
      Research Center</a></li>
      <li>
      <a href="http://www.poynter.org/">Poynter Institute</a></li>
    <li>
      <a href="http://ksgwww.harvard.edu/~presspol/">Shorenstein
      Center</a></li>
    </ul>
    <p><b>
    Journalism Libraries</b></p>
    <ul>
    <li><a href="http://www.columbia.edu/cu/libraries/indiv/jour/">Columbia
      University Journalism Library</a></li>
    <li>
      <a href="http://www.indiana.edu/~libjourn/LibraryHomePage.html">Indiana
      University Journalism Library</a></li>
    <li>
      <a href="http://starnews.wilmington.net/starlink/linkmain.html">Morning
      Star News Library</a></li>
    <li>
      <a href="http://www.nab.org/Library/">NAB
      Library and Information Center</a></li>
    <li>
      <a href="http://npc.press.org/library/">National
      Press Club Library</a></li>
    <li>
      <a href="http://www.nyu.edu/library/bobst/research/soc/journal/">New
      York University Journalism Library</a> </li>
    <li>
      <a href="http://metalab.unc.edu/slanews/internet/archives.html">Newspaper
      Archives on the Web</a></li>
    <li>
      <a href="http://www.pressdemo.com/library/">Press
      Democrat Editorial Library</a></li>
    <li>
      <a href="http://webserver.cts.uaa.alaska.edu/jpc/reading.html">University
      of Alaska Journalism Library</a> </li>
    <li>
      <a href="http://sshl.ucsd.edu/communication/">University
      of California Journalism Library</a></li>
    <li>
      <a href="http://www.library.uiuc.edu/cmx/">University
      of Illinois Journalism Library</a></li>
    <li>
      <a href="http://bailiwick.lib.uiowa.edu/journalism/">University
      of Iowa Journalism Library</a></li>
    <li>
      <a href="http://www.uky.edu/Libraries/crr.html">University
      of Kentucky Journalism Library</a> </li>
    <li>
      <a href="http://www.lib.umd.edu/UMCP/LAB/">University
      of Maryland Journalism Library</a></li>
    <li>
      <a href="http://www.missouri.edu/~jourss/">University
      of Missouri-Columbia Journalism Library</a></li>
    <li>
      <a href="http://metalab.unc.edu/journalism/welcome.html"> University
      of North Carolina-Chapel Hill Journalism Library</a></li>
    <li>
      <a href="http://www.uwo.ca/journ/rc.html">University
      of Western Ontario Journalism Library</a></li>
    <li>
      <a href="http://www.journalism.wisc.edu/jrr/jrr.html">University
      of Wisconsin-Madison</a></li>
  </div>
</div>
{% endblock %}
