{% extends "::base.html.twig" %}

{% block title %}Media Salaries{% endblock %}

{% block content %}
<div class="inner-content">
    <h1>Media Salaries</h1>
    <ul>
        <li><a href="http://www.rtnda.org/media/pdfs/communicator/2007/jun/062007-16-25.pdf">2007 RTNDA Radio & TV Salary Survey (pdf)</a></li>
        <li><a href="http://newsguild.org/scales/index.php?ID=4937">2008 Newspaper Reporter & Photographer Salaries</a></li>
        <li><a href="http://www.b-roll.net/info/salaryindex.html">TV News Photographer Salary Survey from B-Roll.net</a></li>
        <li><a href="http://industryclick.com/magazinearticle.asp?releaseid=4082&magazinearticleid=40366&siteid=20">Salaries for Magazine Editors from Folio Survey</a></li>
    </ul>
</div>
{% endblock %}