{% extends '::base.html.twig' %}

{% block title %}Terms and Conitions{% endblock %}

{% block content %}
    <div class="inner-content">
        {% include '@NewRoadsMediaJournalismJobs/HomePage/termsContent.html.twig' %}
    </div>
{% endblock %}