<h1>Terms and Conditions</h1>
<p>By using this web site, you agree to the Terms and Conditions set forth by JournalismJobs.com LLC, ("JournalismJobs.com"). If you do not agree with them, please exit this web site. JournalismJobs.com reserves the right to change these Terms and Conditions, at its sole discretion, at any time. If you have a question about our Terms and Conditions, please send an e-mail to: <A href="mailto:info@journalismjobs.com">info@journalismjobs.com</a>, or call {{ parameter('site_phone') }}.</p>

<h2>1. Intellectual Property Rights</h2>
<p>JournalismJobs.com owns all intellectual property rights (including copyrights and trademarks) on this web site. The slogan "The Job Board for Media Professionals" and the "JournalismJobs.com" logo are trademarks or service marks of JournalismJobs.com. Other product and service marks on this web site are the trademarks or copyrights of their respective owners. Creative elements on the JournalismJobs.com site (functionality, color scheme, layout, design and graphics) are trademarks or copyrights of JournalismJobs.com or their respective owners. <strong>Job ads, graphics, and other content on JournalismJobs.com are protected by U.S. and international copyright laws and may not be copied or reposted without permission from JournalismJobs.com.</strong></p>

<h2>2. Appropiate Site Usage</h2>
<p>JournalismJobs.com may be used by individuals seeking employment and employers seeking employees.</p>
<p>The following are prohibited:</p>
<ul>
    <li>Re-posting job ads, career articles, interviews and other site content.</li>
    <li>Posting incomplete, false or inaccurate information or information which is not your own.</li>
    <li>Posting non-resume information such as editorial pieces or notices.</li>
    <li>Responding to a job, internship or fellowship opportunity for any reason except to apply for that opportunity. Communications that solicit a JournalismJobs.com member companies' business by our competitors is prohibited.</li>
    <li>Deleting or revising any material posted by any other person or entity.</li>
</ul>

<h2>3. Web Site Security Rules</h2>
<p>Users are prohibited from:</p>
<ul>
    <li>Trying to access data not intended for use or logging into an account which the user is not authorized to use;</li>
    <li>Attempting to penetrate, scan or test the vulnerability of the JournalismJobs.com web site;</li>
    <li>Trying to interfere with service to any user or network, or by overloading, "flooding", "mailbombing" or "crashing" or submitting a virus to JournalismJobs.com;</li>
    <li>Sending unsolicited e-mail, including promotions, advertising of products or services.</li>
</ul>
<p>JournalismJobs.com will investigate any and all violations and will cooperate with U.S. and international law enforcement authorities to prosecute violators to the fullest extent of the law.</p>

<h2>4. Your Grants</h2>
<p>By submitting your job, internship, fellowship or calendar listing, resume, e-mail feedback or any other information, you automatically grant JournalismJobs.com a royalty-free, perpetual, irrevocable, non-exclusive, transferable right and license to publish, distribute, and display such content without restriction or compensation. All written material submitted to JournalismJobs.com (job ads, internship listings, resumes, etc.) becomes the property of JournalismJobs.com. You agree to hold JournalismJobs.com harmless from any third party claim, damages or demand, including reasonable attorneys' fees, relating to or arising out of your violation of these Terms and Conditions, your violation of any rights of another, and your use of this website. </p>
<p>You may not use JournalismJobs.com to publish, transmit, distribute, store or destroy material or data that violates any applicable law or regulation, in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy or publicity rights of others, or that is unlawful, libelous, obscene, threatening, abusive, racist, defamatory, vulgar, unethical or otherwise objectionable. </p>
<p>You may not modify, transfer, copy, display, publish, sub-license, rent, frame, mirror or distribute any information or content on JournalismJobs.com to any person or entity, without prior written permission from JournalismJobs.com. </p>
<p>You are granted a non-exclusive, non-assignable and non-transferable license to use JournalismJobs.com. This license is not a sale of any of the owner's rights. </p>

<h2>5. Third Parties</h2>
<p>JournalismJobs.com has links to web sites operated by companies and organizations other than JournalismJobs.com, including JournalismJobs.com member companies, individual users and advertisers. JournalismJobs.com does not control or monitor these web sites and is not responsible for any problems (computer viruses, bugs, etc.) that you may encounter while using these sites. JournalismJobs.com does not endorse any material found on these sites or any association with their owners or operators. JournalismJobs.com is not responsible for the activities of job applicants using this site. JournalismJobs.com does not endorse any member company's respective hiring, recruiting or other practices, and cannot be held liable for any of these practices.</p>

<h2>6. Monitoring</h2>
<p>JournalismJobs.com has no obligation to monitor information residing or transmitted to this web site. However, JournalismJobs.com may monitor the contents of this web site to comply with U.S. and international laws. JournalismJobs.com has the right to edit, reject or delete information residing or transmitted to this web site that it believes violates the Terms and Conditions.</p>

<h2>7. Disclaimers and Limitations</h2>
<p>You assume all responsibility and risk for using JournalismJobs.com. This web site and the information provided on it are provided on an "as is" and "as available" basis, without warranties of any kind, either expressed or implied. JournalismJobs.com disclaims any warranty that your use of this web site will be error free, or that any software, information or other material accessible from this web site is free of viruses or other harmful elements. </p>
<p>You have no recourse against JournalismJobs.com or its member companies for alleged or actual infringement of any proprietary rights you may have in anything you submit to JournalismJobs.com or its member companies. JournalismJobs.com does not warranty or guarantee that any one using this web site will find an employee, a job, a fellowship, an internship or any other opportunity. Furthermore, users who participate in any paid online journalism courses offered through JournalismJobs.com do so at their own risk. We make no claims about the success one may achieve by participating in any such class. JournalismJobs.com assumes no liability for lost data, or responsibility for the accuracy, completeness, or usefulness of any information, software, apparatus or process used or disclosed on this web site or any other material assessible from this web site. JournalismJobs.com is not liable for any unauthorized entry into your My Job Folder, Employer Folder, account information or any other areas on this web site beyond the level of security provided by JournalismJobs.com, its member companies and affiliates. </p>
<p>JournalismJobs.com is not liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of your use of this web site or the Internet generally, even if JournalismJobs.com has been notified of the possibility of damages. Since some states or jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, the above limitation may not apply to you. If the limitation of liability or the exclusion of warranty set forth above is held inapplicable or unenforceable for any reason, then JournalismJobs.com's maximum liability for any type of damages shall not exceed U.S. $50. </p>
<p><strong>In some cases, we may request payment up front from first-time users and companies overseas, or if you have an overdue bill from a previous job ad.</strong> You can pay by credit card or electronic check. We accept Visa, Mastercard and American Express.</p>

<h2>8. No Partnership</h2>
<p>No joint venture, partnership, employment or agency relationship exists between you and JournalismJobs.com (or any of JournalismJobs.com's member companies) as a result of this agreement or your use of this web site.</p>

<h2>9. Rights and Obligations</h2>
<p>JournalismJobs.com has the right to terminate your ability to access and use this web site at any time without notice and to discontinue or modify any of the information contained on this service, or the service, at any time. JournalismJobs.com reserves the right to change its price for job ads or resume access at any time without notifying its users in advance. JournalismJobs.com reserves the right to reject or remove any job ad, internship, fellowship, resume or any other listing it deems inappropriate.</p>

<h2>10. Enforcement</h2>
<p>The Terms and Conditions for JournalismJobs.com shall be governed by the state of California and relevant federal laws, and irrevocable consent is hereby granted by both parties to the exclusive jurisdiction and venue for any action or dispute in the state and federal courts located in Alameda County, California, U.S.A. Use of JournalismJobs.com is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms and Conditions, including without limitation to this paragraph. Notwithstanding the foregoing sentence, these terms shall be severable and construed to the extent of their enforceability in light of the parties' mutual intent if deemed at all unenforceable by a competent court. Given the nature of these terms, you understand and agree that, in addition to money damages, JournalismJobs.com will be entitled to equitable relief upon a breach of them by you. </p>