{% extends "::base.html.twig" %}

{% block title %}JournalismJobs.com: Testimonials{% endblock %}

{% block content %}
<div class="inner-content">
    <h1>A Sample of What Our Users Are Saying:</h1>
    <ul>
    <li>Hello: Just to let you know I found a job as an editor at [United Press International] that was listed on your service. Thanks for the help. You provide a valuable service!<br>
        Sincerely,<br>
        Phil Berardelli<br>
        <br>
    </li><li>Your site is the best. We had to pull that ad because we're getting too many applicants -- we can't keep up with them all!<br>
        Thanks again,<br>
        Danyelle Lesch<br>
        The Seattle Times<br>
        <br>
    </li><li>FYI: My last three hires
        have been people who applied in response to my ads on
        JournalismJobs.com. All three have turned out to be excellent
        hires...jj.c is THE BEST website for finding the best people.<br>
        Steve Fagan, Editor <br>
        The Monitor <br>
        McAllen, TX <br>
        <br>
    </li><li>Just wanted you to know that we hired our new Assistant Editor from our ad
        on Journalismjobs.com. This ad
        far out-pulled Editor &amp; Publisher and everyone else. I'll certainly use it
        again for our next opening.<br>
        Connie Swaim, Managing Editor<br>
        AntiqueWeek<br>
        <br>
    </li><li>We like your site very much!<br>
        Josh Gross, Publisher<br>
        Beverly Hills Weekly<br>
        <br>
    </li><li>"We filled the job via an applicant who found us on
        JournalismJobs.com -- a young Harvard grad. <br>  So thank you!"<br>
        -- Bonnie Erbe,<br>
        "To The Contrary," PBS<br>
        <br>
    </li><li>"JournalismJobs.com has been a great resource for candidates."<br>
        Jane Light<br>
        Midwest Deputy Bureau Chief<br>
        Reuters<br>
        <br>
    </li><li> "I just wanted to say thank you. I received a great number of
        responses to my ad on your site and was able to hire two urgently
        needed reporters. I'll be using you again in the future."<br>
        Regards,<br>
        Beverly Toomer<br>
        Human Resources Manager <br>
        Warsaw Business Journal / New World Publishing <br>
        <br>
    </li><li>"I just wanted to inform you of my success story. I posted a resume on your site and was contacted by a newspaper in Daytona Beach, the News-Journal.  From there, I interviewed, was offered a position and moved to Florida."<br>
        Thanks,<br>
        Former Hoosier<br>
        Mark Harper<br>
        <br>
    </li><li>"I placed an ad for a web
        producer on journalismjobs.com
        and within 24 hours I had
        resumes and phone numbers of
        four qualified candidates. No
        wait. No fuss. Just results."<br>
        Thanks, Donn Friedman<br>
        Manager, Technology &amp; Production<br>
        Albuquerque Journal<br>
        Albuquerque, New Mexico<br>
        <br>
    </li><li>"When I'm looking to hire reporters and editors, JournalismJobs.com is the first resource I use." <br>
        Matt Hufman, Recruiting and Development Editor<br>
        Los Angeles Newspaper Group<br>
        <br>
    </li><li> "I've been getting a HUGE response [to our copy editor ad]... Nice work!"<br>
        Thanks.<br>
        Merrill Perlman<br>
        The New York Times<br>
        <br>
    </li><li> "I've found some great candidates, and hires, through JournalismJobs.com!"<br>
        Allen Wastler,<br>
        Managing Editor, CNNfn.com<br>
        New York City<br>
        <br>
    </li><li>"Your site is great. We just hired a highly-qualified news writer."<br>
        --Jessica Shaw, WBUR<br>
        <br>
    </li><li>"NPR was an early advertiser on JournalismJobs.com, and we continue to use it
        because the ads bring results."<br>
        -- Cheryl Imelda Hampton, Director of Newsroom Recruiting, National Public Radio<br>
        <br>
    </li><li>"I stumbled upon your site this morning and think
        it's awesome. I've been a freelance writer for seven years and recently got [a job]
        as a full-time staff reporter at a small, but really great paper. But now I'll
        know where to look when I'm ready to move up to a larger
        publication. Forget the classified ads. This is the place to look."<br>
        Janet DelTufo<br>
        <br>
    </li><li>"Thanks to an ad I saw at JournalismJobs.com, I am now working at the Kenosha News. The variety of job listings and the accessibility of information were very helpful in my search. Thanks again."<br>
        Liza Berger<br>
        <br>
    </li><li>"Wanted to let you know I recently accepted a job with the Macon (Ga.)
        Telegraph with the assistance of your site. They saw my resume posted online and contacted me. Things went from there."<br>
        Thank You,<br>
        Jeff Sielke<br>
        <br>
    </li><li> "I'm writing to congratulate JournalismJobs.com on a top notch site. I posted my resume and in less than a week, I received 7 job offers from respectable news
        agencies in exciting (and not so exciting) regions across the nation. The
        good news is that I landed a senior editor job at my own paper, so
        I'm taking down my resume from your site. But I will continue to peruse
        your service to gauge what's happening in other newsrooms.
        Thanks and keep up the good work!"<br>
        Sincerely,<br>
        Troy Hooper<br>
        Aspen Daily News<br>
        <br>
    </li><li> "As a result of JournalismJobs.com, I landed a reporting job at the
        Los Angeles Daily News. Your service is great. I would recommend it to
        anyone." <br>
        Sincerely, <br>
        Dana Bartholomew <br>
        <br>
    </li><li>"I want to thank you for the service. I've just accepted a position at
        the Bend (Ore.) Bulletin as a Prep Sports Coordinator, a job posting I found
        on your web site. Thank you and, if needed, I won't hesitate to use your site again."<br>
        --Rob Burns<br>
        <br>
    </li><li> "We received some great responses to our ads and just hired a VP of Content."<br>
        Thanks much.<br>
        Farland Chang, Managing Editor, ISEEYOU1st.com<br>
        Former anchor for CNN International<br>
        <br>
    </li><li>"I posted my resume with your service and
        within 24 hours, I received several telephone calls and e-mails asking to either see samples or to book an interview...
        I accepted a position in Tarentum, Pa. [with the Valley News Dispatch]... I liked your service so much, I recommended it to my previous employer to search for my replacement."<br>
        Thanks,<br>
        R.J. Heatherly<br>
        <br>
    </li><li>"I've just been offered a long-term, freelance contract which will virtually
        double my annual income. Thanks JournalismJobs.com, for an opportunity your
        service made possible."<br>
        Most Sincerely,<br>
        Robert Stempkowski<br>
        Food Editor, Scottsdale Life magazine<br>
        <br>
    </li><li> "Dear JournalismJobs.com:
        I found a job using your service. I am now working as
        a copy editor at the Morning Star News in Wilmington,
        N.C. I love my new job and location. Thank you for
        all of your help."<br>
        Sincerely,<br>
        Sarah F. Mikutel<br>
        <br>
    </li><li>"I wanted to let you know that I received about 150 online resumes as a result of my freelance [writing] notice on your site... Some 20 resumes came in the mail today. WOW!!!"<br>

        Many thanks,<br>
        Vele Keyta, Publisher/Editor, PROUD Magazine<br>
        <br>
    </li><li> "Thanks JournalismJobs.com! I found a job at The Palm Beach Post [as a features designer]."<br>
        Lauren Perry <br>
        <br>
    </li><li> "I wanted to thank you for all of your help in my job search.  I accepted a
        job with KSNW-TV in Wichita, Kansas. KSNW heard about me through your
        website...  Thank you so much for everything!"<br>
        --Kelly McClurkin<br>
        <br>
    </li><li> "Just wanted to let you know how pleased I am with your service. Because
        of JournalismJobs.com, my new employer [The Chillicothe Gazette] was able to find me [in your resume database]."<br>
        Thanks again.<br>
        Sincerely,<br>
        Paul Warner<br>
        <br>
    </li><li> "Two days ago I said yes to an employer, MediaLifeMagazine.com, that found
        me on your Web site. Thanks!"<br>
        Marty Beard<br>
        <br>
    </li><li> "To JournalismJobs.com:
        I attended your job fair in Washington D.C. on April 19.
        Because of it, I am now working [as a reporter] at The Baltimore Sun.
        Thank you very much."<br>
        Sincerely,<br>
        Simmi Buttar<br>
        <br>
    </li><li> "I just wanted to take a moment and thank you for your service. I accepted a position today as the managing editor [for the The Northern Wyoming Daily News].  It all started with a job notification from you.  Again, thank you." <br>
        Jeff St. Peter<br>
        <br>
    </li><li> "I love your service -- it's the best! I am talking with a group on the West
        Coast and just this week Gannett called. This is getting exciting!<br>
        -- Lynn Bulmahn <br>
        <br>
    </li><li> "Hi -- I just visited your site for the first time and I'm very impressed. (I
        am a reporter at a legal newspaper in California. I'm not looking for a job
        but it's WONDERFUL to know this site exists.) Keep up the good work!"<br>
        Leslie Gordon<br>
        <br>
    </li><li> "I just wanted to thank the brains behind the site. This is a long awaited
        resource that media professionals like myself are in need of. This site is
        truly a blessing :-)  Keep up the great work!"<br>
        Sincerely,<br>
        Anika Waltz<br>
        <br>
    </li><li>"My name is Christina Kirksey and I found employment [with Business Wire] from the postings on JournalismJobs.com. Thanks very much."<br>
        <br>
    </li><li>"We just hired [an editorial assistant]! I got a ton of responses from your site."<br>
        Thanks, Amy Stern, Associate Editor, Congressional Quarterly<br>

        <br>

    </li><li> "We are very pleased with the quality and number of responses to our ads. You
        have a great resource!"<br>
        --Lanie Odlum<br>
        Associate Director, Human Resources, PBS<br>
        Arlington, Virginia<br>
        <br>
    </li><li> "I saw your web site in the Online Writing Digest. What a wonderful site!"<br>
        Marcia E. Kelley<br>
        <br>
        "You guys have a great service. We have filled a number of editorial positions since using your site."<br>
        Larry Henchey, Editorial Director, etown.com<br>
        <br>
    </li><li> "Thank you for your excellent service... Your format is the best for newspaper
        and related fields."<br>
        Steve Bennett<br>
        <br>
    </li><li>"We have gotten some great resumes from our listings."<br>
        --Susan Council, WebNoize.com<br>
        <br>
    </li><li> "Just wanted to let you know I like the special links you have to job openings
        in major cities. Makes for a much faster search!"<br>
        Emily<br>
        <br>

    </li><li> "I want to thank you for the wonderful site. We just hired another reporter
        from our ad. We have used other resources to promote our openings, but have
        had the best results with your service."<br>
        Thanks again,<br>
        Jackie Frank, managing editor<br>
        Congressional Quarterly<br>
        Washington, D.C.<br>
        <br>

    </li><li> "Dear JournalismJobs.com: Thanks for your terrific site. I posted my resume
        and requested job notifications, and in 2.5 weeks I got a legal reporting job
        [with the New York Law Journal]... Keep up the good work."<br>
        Leigh Jones<br>
        Bayport, N.Y.<br>
        <br>

    </li><li> "Great web site. Good for you. The industry needs this."<br>
        Leland Schwartz<br>
        Editor, States News Service<br>
        Washington, D.C.<br>
        <br>

    </li><li> "Thanks for your help with the position... It generated a tremendous response."<br>
        Praveen Kanaka<br>
        Chicago<br>
        <br>

    </li><li> "Thank you JournalismJobs.com. We just hired two great reporters from your site."<br>
        Todd Franko<br>
        Managing Editor<br>
        The Sandusky Register<br>
        Sandusky, Ohio<br>
        <br>

    </li><li> "Just wanted to let you know that I had an incredible response to my online
        resume at your site. Evidently very popular with media everywhere judging by
        the number of times it was viewed. I received an offer I can't refuse, [a
        copy editor job] with a newspaper I used to work for. They were happy to see
        my resume. Thanks for the site."<br>
        --Rhonda<br>
        <br>

    </li><li> "Nicely designed site!"<br>
        Charles Perkins, Executive Editor<br>
        The Union Leader and New Hampshire Sunday News<br>
        <br>

    </li><li> "We found WONDERFUL results when we recently posted for a photographer...
        Thank you for this service."<br>
        Carol Hartzog<br>
        Managing Editor<br>
        The Edmond Sun<br>
        Edmond, Oklahoma<br>
        <br>

    </li><li> "You have a great web page; you provide a great service to our industry; keep
        up the good work."<br>
        Thanks,<br>
        Jerry McCormack, Editor<br>
        Roswell Daily Record<br>
        Roswell, New Mexico<br>
        <br>

    </li><li> "What you are doing is a great service. It's been very hard to get a
        journalism job that is not based solely on who you know."<br>
        Lan<br>
        <br>

    </li><li> "Dan -- you guys have a great service. We have filled a number of editorial
        positions since using your site. Thanks for your help."<br>
        --Larry Henchey<br>
        Executive Editor, etown.com<br>
        New York City<br>
        <br>

    </li><li> "I think your service is great. I've found job listings here that aren't on
        other sites."<br>
        --Sarah Wolff<br>
        <br>

    </li><li> "Thanks to JournalismJobs.com, I've just landed a great job reporting for an
        online news service. I posted my resume, bookmarked the site and checked the
        ads once a day. On my third email, I got an interview, and the chance to move
        from print to online media. Thanks a mil!"<br>
        --Brian Krebs<br>
        Newsbytes.com<br>
        <br>

    </li><li> "Just took a quick gander at your new job site and I must say... rock out!
        Very nicely done. I'll be keeping an eye on the postings."<br>
        --Alexandra<br>
        <br>

    </li><li> "Thanks JournalismJobs.com!  I found a job and it was after I responded to an
        ad posted on your site. Why didn't we think of this 20 years ago when I was
        getting out of college. It would have been so much easier."<br>
        Thanks again!<br>
        Sincerely,<br>
        Gregory Walsh<br>
        Clarks Summit, PA<br>
        <br>

    </li><li> "Dan, thanks a lot for the help. I conducted a search for writers in the
        resume database, and it returned many good candidates."<br>
        All the best,<br>
        Dave, WorldlyInvestor.com<br>
        New York City<br>
        <br>

    </li><li> "What a great service!"<br>
        -- Joe Halpern, Executive Sports Editor<br>
        (the Morning Sentinel in Waterville, Maine, and the Kennebec Journal in
        Augusta, Maine)<br>
        <br>

    </li><li> "I did find a job through your Web site. I was contacted by several
        newspapers within weeks of posting my resume. I have accepted a position as
        copy editor at the Waco (Texas) Tribune-Herald. That job is exactly what I
        wanted."<br>
        --Angela Morgan<br>

        <br>
    </li><li> What a great service.<br>
        Robin Smith, managing editor, the Bennington Banner<br>
        Bennington, Vermont<br>

        <br>
    </li><li> Just wanted to let you know I found an editing/writing job through
        your web site. It was
        with LRP Publications in Palm Beach Gardens. I saw an ad they had posted
        on your site.
        I e-mailed them my resume. They called me about five minutes later.<br>
        Steve d'Oliveira<br>
        <br>
    </li><li> [JournalismJobs.com is] one of the easiest sites I use to post jobs!  Kudos to your engineers
        for a great interface. The "employer folder" is a great convenience.<br>
        Sincerely,<br>
        Amy Danise, Managing Editor<br>
        insure.com<br>

        <br>
    </li><li> What a valuable site!<br>
        Anjanette Rieger, News Editor<br>
        Grand Forks Herald<br>
        <br>
    </li><li> I am writing to let you know that I think your site is great!<br>
        Nuala McGovern<br>

        <br>
    </li><li> Terrific site, wonderful work!<br>
        Best,<br>
        Elizabeth Van Ness<br>

        <br>
    </li><li> Dan,
        thank you so much. Yours is a great site!  I hope to find some good
        candidates.<br>
        Sincerely,<br>
        Karen Andreas, Managing Editor<br>
        Salem Evening News<br>

        <br>
    </li><li> the site is great and has been very helpful.<br>
        Rick Scavetta<br>

        <br>
    </li><li> I'll leave Virginia in mid-March for a 2-month gig at
        the Sitka Sentinel in Sitka, Alaska, while their
        government reporter goes on sabbatical.
        I found it posted on journalismjobs.com.
        All my friends are insanely jealous and I'm sending
        everybody to your site.
        Good work.  And thanks.<br>
        Judi Tull<br>

        <br>
    </li><li> "I just heard one of our editors say he really likes advertising on
        JournalismJobs.com. He said it's cheap and people respond!"<br>
        --reporter with Dow Jones (name withheld)<br>

        <br>
    </li><li> "many thanks for your excellent service."<br>
        Andy &amp; Lien<br>
        Singapore<br>

        <br></li><li> "Dan -- great job on the site."<br>
        Best,<br>
        Pam Dixon, author of "Job Searching Online For Dummies" (IDG Dummies series)<br>
        <br>
        "One of the most notable facets of looking for journalism jobs online, is that you can find all sorts of sites listing a dozen or so jobs. With the exception of one site, www.journalismjobs.com, which is a large journalism jobs site, it is rare to find a site listing hundreds of journalism jobs."
        <br>
        <br>
    </li>
    <li>Greetings from Korat, Thailand.<br>
            An American early retiree living in NE Thailand, I am considering
            relocating back to the States. I have some journalism and writing
            background, and found your site informative and well-organized. Keep up
            the good work!<br>
            Sincerely,<br>
            Frank G. Anderson<br>
            <br><br>
    </li>
    </ul>
</div>
{% endblock %}