{% set page_name = 'Journalism Training' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}

<center><font size="5" face="Arial"><b>Jumpstart Your Freelance Writing Career!</b></font></center>
<br>
<br>

<font face="Arial, Helvetica, sans-serif" size="3">

<b>Title: Freelance Pitching and Writing</b>

<br><br>

<b>Class:</b>
JournalismJobs.com and freelancer Eric Butterman present a 5-week online course on freelance pitching and writing. Learn how to write the best email pitches possible, be good on the phone and actually sell articles. Multiple students in Butterman's class have sold stories for $3,000 before the course was over and credit it with helping them land jobs at top publishing companies such as Hearst and Bonnier.
<br><br>
<b>About the Instructor: </b> Eric Butterman has been an editor on staff at Folio: and Travel Agent magazine, and has written for Glamour, Men's Fitness and countless other titles. </b>

<br><br>

<b>How It Happens: </b>A weekly lecture is e-mailed to participants at the start of the week, followed by a one-hour online chat room that Tuesday evening, from 8-9 p.m. Eastern Time. <br>

<br>

<b>Duration:</b> Every Tuesday between March 5 and April 2.

<br><br>
<b>Cost:</b> $185

<br><br>
<b>To sign up: </b> RSVP to: classes@journalismjobs.com is REQUIRED. Put "Freelance Class" in the subject line. You'll get a return e-mail with a PayPal URL.
 <p>
	<br>
	Participants in any course offered through JournalismJobs.com must agree to our <a href="{{ path('Terms') }}">Terms and Conditions</a>
	<br>
	<br>

</font>



<br>
<br><br>

{% endblock %}
