{% set page_name = 'ABC TV Stations' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}
    <font face="arial" size="2">
    <br>

    <table width="100%" border="0" cellpadding="4" cellspacing="0">

    <tbody><tr>

    <td width="50%" valign="TOP">
    <font face="arial" size="2">

    <font face="Arial, Helvetica, sans-serif" size="2">
    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALABAMA</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066"><font face="Arial, Helvetica, sans-serif" size="2">

                <li><a href="http://www.abc3340.com/">Birmingham -- WJSU (Ch. 40)</a></li>
                <li>
                    <a href="http://www.wdhn.com/">Dothan -- WDHN (Ch. 18)</a> </li>
                <li>
                    <a href="http://www.waaytv.com/">Huntsville -- WAAY (Ch. 31)</a></li>

            </font></font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066"><font face="Arial, Helvetica, sans-serif" size="2">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALASKA</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
            <li>
                <a href="http://www.aksuperstation.com/">Anchorage -- KIMO (Ch. 13)</a></li>

        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARIZONA</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li><a href="http://www.knxv.com/">Phoenix -- KNXV (Ch. 15)</a></li>
            <li>
                <a href="http://www.kgun9.com/">Tucson -- KGUN (Ch. 9)</a></li>
        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARKANSAS</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://www.khbs-khog.com/">Fayetteville -- KHOG (Ch. 29)</a></li>
            <li>
                <a href="http://www.khbs-khog.com/">Fort Smith -- KHBS (Ch. 40)</a></li>
            <li>
                <a href="http://www.kait8.com/">Jonesboro -- KAIT (Ch. 8)</a></li>
            <li>
                <a href="http://www.katv.com/">Little Rock -- KATV (Ch. 7)</a></li>
        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CALIFORNIA</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://www.kero.com/">Bakersfield -- KERO (Ch. 23)</a></li>
            <li>
                <a href="http://www.kaef.com/">Eureka -- KAEF (Ch. 23)</a></li>
            <li>
                <a href="http://abcnews.go.com/local/kfsn/">Fresno -- KFSN (Ch. 30)</a>
            </li><li>
                <a href="http://abcnews.go.com/local/kabc/">Los Angeles -- KABC (Ch. 7)</a></li>
            <li>
                <a href="http://www.krcrtv.com/">Redding -- KRCR (Ch. 7)</a></li>
            <li>
                <a href="http://www.kxtv10.com/">Sacramento -- KXTV (Ch. 10)</a></li>
            <li>
                <a href="http://www.sandiegoinsider.com/partners/kgtv/">San Diego -- KGTV (Ch. 10)</a></li>
            <li>
                <a href="http://www.kgo.com/">San Francisco -- KGO (Ch. 7)</a></li>
            <li>
                <a href="http://www.kntv.com/">San Jose -- KNTV (Ch. 11)</a></li>
            <li>
                <a href="http://www.kgo.com/">Santa Barbara -- KEYT (Ch. 3)</a></li>
        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>COLORADO</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://www.kmgh.com/">Denver -- KMGH (Ch. 7)</a></li>
            <li>
                <a href="http://www.kjct8.com/">Grand Junction -- KJCT (Ch. 8)
                </a></li>

        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CONNECTICUT</b></font></p>
    <ul>

        <li>
            <a href="http://www.wtnh.com/">New Haven -- WTNH (Ch. 8)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>DISTRICT OF COLUMBIA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wjla.com/"> Washington -- WJLA (Ch. 7)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>FLORIDA</b></font></p>
    <ul>

        <li>
            <a href="http://www.abc-7.com/">Fort Myers -- WZVN (Ch. 26)</a></li>
        <li>
            <a href="http://www.wcjb.com/">Gainesville -- WCJB (Ch. 20)</a>
        </li><li>
            <a href="http://www.wjxx.com/">Jacksonville -- WJXX (Ch. 25)</a></li>
        <li>
            <a href="http://www.click10.com/">Miami -- WPLG (Ch. 10)</a></li>
        <li>
            <a href="http://www.insidecentralflorida.com/partners/wftv/">Orlando -- WFTV (Ch. 9)</a></li>
        <li>
            <a href="http://www.thewpbfchannel.com/">Palm Beach Gardens -- WPBF (Ch. 25)</a></li>
        <li>
            <a href="http://www.wmbb.com/">Panama City -- WMBB (Ch. 13)</a></li>
        <li>
            <a href="http://www.weartv.com/">Pensacola -- WEAR (Ch. 3)</a></li>
        <li>
            <a href="http://www.wtxl.com/">Tallahassee -- WTXL (Ch. 27)</a></li>
        <li>
            <a href="http://www.wfts.com/index.shtml">Tampa -- WFTS (Ch. 28)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GEORGIA</b></font></p>

    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://www.accessatlanta.com/partners/wsbtv/">Atlanta -- WSB (Ch. 2) </a>
            </li><li>
                <a href="http://www.wjbf.com/">Augusta -- WJBF (Ch. 6)</a></li>
            <li>
                <a href="http://www.wtvm.com/">Columbus -- WTVM (Ch. 9)</a></li>
            <li>
                <a href="http://www.58abc.com/">Macon -- WPGA (Ch. 58)</a></li>

        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HAWAII</b></font></p>
        <ul>
            <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
                <li>
                    <a href="http://www.kitv.com/">Honolulu -- KITV (Ch. 4)</a></li>

            </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IDAHO</b></font></p>
            <ul>

                <li>
                    <a href="http://www.idaho8.com/">Idaho Falls -- KIFI (Ch. 8)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ILLINOIS</b></font></p>
            <ul>

                <li>
                    <a href="http://www.wsil3.com/">Carterville -- WSIL (Ch. 3)</a></li>
                <li>
                    <a href="http://abcnews.go.com/local/wls/">Chicago -- WLS (Ch. 7)</a></li>
                <li>
                    <a href="http://www.wandtv.com/">Decatur -- WAND (Ch. 17)</a></li>
                <li>
                    <a href="http://www.wqad.com/">Moline -- WQAD (Ch. 8)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>INDIANA</b></font></p>
            <ul>

                <li>
                    <a href="http://www.abc25.com/">Evansville -- WEHT (Ch. 25)</a></li>
                <li>
                    <a href="http://www.wpta.com/">Fort Wayne -- WPTA (Ch. 21)</a></li>
                <li>
                    <a href="http://www.wrtv.com/">Indianapolis -- WRTV (Ch. 6)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IOWA</b></font></p>
            <ul>
                <li>
                    <a href="http://www.kcrg.com/">Cedar Rapids -- KCRG (Ch. 9)</a></li>
                <li>
                    <a href="http://www.woi-tv.com/">Des Moines -- WOI (Ch. 5)</a></li>
                <li>
                    <a href="http://www.kimt.com/">Mason City -- KIMT (Ch. 3)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KANSAS</b></font></p>
            <ul>

                <li>
                    <a href="http://www.newssource49.com/">Topeka -- KTKA (Ch. 49)</a></li>
                <li>
                    <a href="http://www.kake.com/">Wichita -- KAKE (Ch. 10)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KENTUCKY</b></font></p>
            <ul>
                <li>
                    <a href="http://www.wbko.com/">Bowling Green -- WBKO (Ch. 13)</a></li>
                <li>
                    <a href="http://www.wtvq.com/">Lexington -- WTVQ (Ch. 36)</a></li>
                <li>
                    <a href="http://www.whas11.com/">Louisville -- WHAS (Ch. 11)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>LOUISIANA</b></font></p>
            <ul>

                <li>
                    <a href="http://www.klax-tv.com/">Alexandria -- KLAX (Ch. 31)</a></li>
                <li>
                    <a href="http://www.wbrz.com/">Baton Rouge -- WBRZ (Ch. 2)</a></li>
                <li>
                    <a href="http://www.katc.com/">Lafayette -- KATC (Ch. 3)</a></li>
                <li>
                    <a href="http://www.abc-11.com/">Monroe -- KAQY (Ch. 11)</a></li>
                <li>
                    <a href="http://www.abc26.com/">New Orleans -- WGNO (Ch. 26)</a></li>
                <li>
                    <a href="http://www.ktbs.com/">Shreveport -- KTBS (Ch. 3)</a></li>
            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MAINE</b></font></p>
            <ul>

                <li>
                    <a href="http://www.wmtw.com/">Auburn -- WMTW (Ch. 8)</a></li>
                <li>
                    <a href="http://www.wvii.com/">Bangor -- WVII (Ch. 7)</a>

                </li></ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MARYLAND</b></font></p>
            <ul>

                <li>
                    <a href="http://www.wmartv2.com/">Baltimore -- WMAR (Ch. 2) </a></li>
                <li>
                    <a href="http://www.wmdt.com/">Salisbury -- WMDT (Ch. 47)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MASSACHUSETTS</b></font></p>
            <ul>

                <li>
                    <a href="http://www.thebostonchannel.com/">Needham -- WCVB (Ch. 5)</a>
                </li><li>
                    <a href="http://www.wggb.com/">Springfield -- WGGB (Ch. 40)</a>
                </li></ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MICHIGAN</b></font></p>
            <ul>

                <li>
                    <a href="http://www.wotv.com/">Battle Creek -- WOTV (Ch. 41)</a></li>
                <li>
                    <a href="http://www.wbkp.com/">Calumet -- WBKP (Ch. 5)</a></li>
                <li>
                    <a href="http://www.detnow.com/">Detroit -- WXYZ (Ch. 7)</a></li>
                <li>
                    <a href="http://www.wlaj.com/">Lansing -- WLAJ (Ch. 53)</a></li>
                <li>
                    <a href="http://www.wgtu.com/">Traverse City -- WGTU (Ch. 29)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MINNESOTA</b></font></p>
            <ul>

                <li>
                    <a href="http://www.ksax.com/">Alexandria -- KSAX (Ch. 42)</a></li>
                <li>
                    <a href="http://www.kaaltv.com/">Austin -- KAAL (Ch. 6)</a></li>
                <li>
                    <a href="http://www.kstp.com/">Minneapolis-St. Paul -- KSTP (Ch. 5)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSISSIPPI</b></font></p>
            <ul>
                <li>
                    <a href="http://www.wlox.com/">Biloxi -- WLOX (Ch. 13)</a></li>
                <li>
                    <a href="http://www.wabg.com/">Greenville -- WABG (Ch. 6)</a></li>
                <li>
                    <a href="http://www.wapt.com/">Jackson -- WAPT (Ch. 16)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSOURI</b></font></p>
        </font><ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                <li>
                    <a href="http://www.kmiz.com">Columbia -- KMIZ (Ch. 17)</a>
                </li><li>
                    <a href="http://www.kode-tv.com/">Joplin -- KODE (Ch. 12)</a></li>
                <li>
                    <a href="http://www.thekansascitychannel.com/">Kansas City -- KMBC (Ch. 9)</a></li>
                <li>
                    <a href="http://www.ktvotv3.com/">Kirksville -- KTVO (Ch. 3)</a></li>
                <li>
                    <a href="http://www.kspr33.com/">Springfield -- KSPR (Ch. 33)</a></li>
                <li>
                    <a href="http://www.kqtv.com/">St. Joseph -- KQTV (Ch. 2)</a></li>

            </font>
        </ul></font></font></font></font></font></font></font></font></font></font></td>
    <td valign="top" width="50%">
    <font face="arial" size="2">



    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MONTANA</b></font></p>
    <ul>

        <li>
            <a href="http://www.abc18-28.com/">Butte -- KWYB (Ch. 18)</a></li>
        <li>
            <a href="http://www.kfbb.com/">Great Falls -- KFBB (Ch. 5)</a></li>
        <li>
            <a href="http://www.ktmf.com/">Missoula -- KTMF (Ch. 23)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEBRASKA</b></font></p>
    <ul>
        <li>
            <a href="http://www.ketv.com/">Omaha -- KETV (Ch. 7)</a>

        </li></ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEVADA</b></font></p>
    <ul>

        <li>
            <a href="http://www.ktnv.com/">Las Vegas -- KTNV (Ch. 13)</a></li>
        <li>
            <a href="http://www.kolotv.com/">Reno -- KOLO (Ch. 8)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW HAMPSHIRE</b></font></p>
    <ul>

        <li>
            <a href="http://www.wmur.com/">Manchester -- WMUR (Ch. 9)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW MEXICO</b></font></p>
    <ul>

        <li>
            <a href="http://www.thenewmexicochannel.com/">Albuquerque -- KOAT (Ch. 7)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW YORK</b></font></p>
    <ul>

        <li>
            <a href="http://www.wten.com/">Albany -- WTEN (Ch. 10)</a></li>
        <li>
            <a href="http://www.wmgc.com/">Binghamton -- WMGC (Ch. 34)</a></li>
        <li>
            <a href="http://www.wkbw.com/">Buffalo -- WKBW (Ch. 7)</a></li>
        <li>
            <a href="http://www.weny.com/">Elmira -- WENY (Ch. 36)</a></li>
        <li>
            <a href="http://abcnews.go.com/local/wabc/">New York City -- WABC (Ch. 7)</a></li>
        <li>
            <a href="http://www.rochestertoday.com/">Rochester -- WOKR (Ch. 13)</a></li>
        <li>
            <a href="http://www.wixt.com/">Syracuse -- WIXT (Ch. 9)</a></li>
        <li>
            <a href="http://www.wutr.com/">Utica -- WUTR (Ch. 20)</a></li>
        <li>
            <a href="http://www.wwti50.com/">Watertown -- WWTI (Ch. 50)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH CAROLINA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wwti50.com/">Asheville -- WLOS (Ch. 13)</a></li>
        <li>
            <a href="http://www.gocarolinas.com/partners/wsoctv/">Charlotte -- WSOC (Ch. 9)</a>
        </li><li>
            <a href="http://www.wtvd.com/">Durham -- WTVD (Ch. 11)</a></li>
        <li>
            <a href="http://www.wcti12.com/">New Bern -- WCTI (Ch. 12) </a></li>
        <li>
            <a href="http://www.wwaytv3.com/">Wilmington -- WWAY (Ch. 3)</a></li>
        <li>
            <a href="http://www.wxlv.com/">Winston-Salem -- WXLV (Ch. 45)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH DAKOTA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wday.com/">Fargo -- WDAY (Ch. 6)</a>

        </li></ul>
    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OHIO</b></font></p>
    <ul>

        <li>
            <a href="http://www.wcpo.com/">Cincinnati -- WCPO (Ch. 9)</a></li>
        <li>
            <a href="http://www.newsnet5.com/">Cleveland -- WEWS (Ch. 5)</a></li>
        <li>
            <a href="http://www.wsyx6.com/">Columbus -- WSYX (Ch. 6)</a>
        </li><li>
            <a href="http://www.wdtn.com/">Dayton -- WDTN (Ch. 2)</a></li>
        <li>
            <a href="http://www.wytv.com/">Youngstown -- WYTV (Ch. 33)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OKLAHOMA</b></font></p>
    <ul>

        <li>
            <a href="http://www.kcrc1390.com">Lawton -- KSWO (Ch. 7)</a></li>
        <li>
            <a href="http://www.kswo.com/">Oklahoma City -- KOCO (Ch. 5)</a></li>
        <li>
            <a href="http://www.ktul.com/">Tulsa -- KTUL (Ch. 8)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OREGON</b></font></p>
    <ul>

        <li>
            <a href="http://www.kezi.com/">Eugene -- KEZI (Ch. 9)</a></li>
        <li>
            <a href="http://www.kdrv.com/">Klamath Falls -- KDKF (Ch. 31)</a></li>
        <li>
            <a href="http://www.kdrv.com/">Medford -- KDRV (Ch. 12)</a></li>
        <li>
            <a href="http://local.katu.citysearch.com/">Portland -- KATU (Ch. 2)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>PENNSYLVANIA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wjettv.com">Erie -- WJET (Ch. 24)</a></li>
        <li>
            <a href="http://www.whtm.com/">Harrisburg -- WHTM (Ch. 27)</a></li>
        <li>
            <a href="http://www.abc23.com/">Johnstown -- WATM (Ch. 23)</a></li>
        <li>
            <a href="http://abcnews.go.com/local/wpvi/">Philadelphia -- WPVI (Ch. 6)</a></li>
        <li>
            <a href="http://www.wtaetv.com/">Pittsburgh -- WTAE (Ch. 4)</a></li>
        <li>
            <a href="http://www.wnep.com/">Scranton -- WNEP (Ch. 16)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>RHODE ISLAND</b></font></p>
    <ul>

        <li>
            <a href="http://www.abc6.com/">Providence -- WLNE (Ch. 6)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH CAROLINA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wciv.com/">Charleston -- WCIV (Ch. 4)</a></li>
        <li>
            <a href="http://www.wolo.com/">Columbia -- WOLO (Ch. 25)</a></li>
        <li>
            <a href="http://www.wpdetv.com/">Florence -- WPDE (Ch. 15)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH DAKOTA</b></font></p>
    <ul>

        <li>
            <a href="http://kota.rapidnet.com/">Rapid City -- KOTA (Ch. 3)</a></li>
        <li>
            <a href="http://www.ksfy.com/">Sioux Falls -- KSFY (Ch. 13)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TENNESSEE</b></font></p>
    <ul>
        <li>
            <a href="http://www.newschannel9.com/">Chattanooga -- WTVC (Ch. 9) </a></li>
        <li>
            <a href="http://www.wbbjtv.com/">Jackson -- WBBJ (Ch. 7)</a></li>
        <li>
            <a href="http://www.wkpttv.com/">Kingsport -- WKPT (Ch. 19)</a></li>
        <li>
            <a href="http://www.wate.com/">Knoxville -- WATE (Ch. 6)</a></li>
        <li>
            <a href="http://www.abc24.com/">Memphis -- WPTY (Ch. 24)</a></li>
        <li>
            <a href="http://www.wkrn.com/">Nashville -- WKRN (Ch. 2)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TEXAS</b></font></p>
    <ul>

        <li>
            <a href="http://www.ktxs.com/">Abilene -- KTXS (Ch. 12)</a></li>
        <li>
            <a href="http://www.kvii.com/">Amarillo -- KVII (Ch. 7)</a></li>
        <li>
            <a href="http://www.kvue.com/">Austin -- KVUE (Ch. 24)</a></li>
        <li>
            <a href="http://www.kbmt.com/">Beaumont -- KBMT (Ch. 12)</a></li>
        <li>
            <a href="http://www.kiiitv3.com/">Corpus Christi -- KIII (Ch. 3)</a></li>
        <li>
            <a href="http://www.wfaa.com/">Dallas -- WFAA (Ch. 8)</a></li>
        <li>
            <a href="http://www.kvia.com/">El Paso -- KVIA (Ch. 7)</a></li>
        <li>
            <a href="http://abcnews.go.com/local/ktrk/">Houston -- KTRK (Ch. 13)</a></li>
        <li>
            <a href="http://www.abc28.com/">Lubbock -- KAMC (Ch. 28)</a></li>
        <li>
            <a href="http://www.ktre.com/">Lufkin -- KTRE (Ch. 9)</a></li>
        <li>
            <a href="http://www.kltv.com/">Tyler -- KLTV (Ch. 7)</a></li>
        <li>
            <a href="http://www.kxxv.com/">Waco -- KXXV (Ch. 25)</a></li>
        <li>
            <a href="http://www.krgv.com/">Weslaco -- KRGV (Ch. 5)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>UTAH</b></font></p>
    <ul>

        <li>
            <a href="http://www.4utah.com/">Salt Lake City -- KTVX (Ch. 4)</a></li>


    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>VIRGINIA</b></font></p>
    <ul>

        <li>
            <a href="http://www.whsv.com/">Harrisonburg -- WHSV (Ch. 3)</a></li>
        <li>
            <a href="http://www.wset.com/">Lynchburg -- WSET (Ch. 13) </a></li>
        <li>
            <a href="http://www.wvec.com/">Norfolk -- WVEC (Ch. 13)</a></li>
        <li>
            <a href="http://www.wric.com/">Richmond -- WRIC (Ch. 8)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WASHINGTON</b></font></p>
    <ul>

        <li>
            <a href="http://www.kvewtv.com/">Kennewick -- KVEW (Ch. 42)</a></li>
        <li>
            <a href="http://www.komotv.com/">Seattle -- KOMO (Ch. 4)</a></li>
        <li>
            <a href="http://www.kxly.com/">Spokane -- KXLY (Ch. 4)</a></li>
        <li>
            <a href="http://www.kapptv.com/">Yakima -- KAPP (Ch. 35)</a></li>


    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WEST VIRGINIA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wchstv.com/">Charleston -- WCHS (Ch. 8) </a></li>
        <li>
            <a href="http://www.woay.com/">Oak Hill -- WOAY (Ch. 4)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WISCONSIN</b></font></p>
    <ul>
        <li>
            <a href="http://www.wyowtv34.com/">Eagle River -- WYOW (Ch. 34)</a></li>
        <li>
            <a href="http://www.wqow.com/">Eau Claire -- WQOW (Ch. 18)</a></li>
        <li>
            <a href="http://www.wbay.com/">Green Bay -- WBAY (Ch. 2)</a></li>
        <li>
            <a href="http://www.wxow.com/">La Crosse -- WXOW (Ch. 19) </a></li>
        <li>
            <a href="http://www.wkowtv.com/">Madison -- WKOW (Ch. 27)</a></li>
        <li>
            <a href="http://www.themilwaukeechannel.com/">Milwaukee -- WISN (Ch. 12)</a></li>
        <li>
            <a href="http://www.waow.com/">Wausau -- WAOW (Ch. 9)</a></li>
    </ul>

    </font></td>
    </tr>
    </tbody></table>

    </font>
{% endblock %}