{% set page_name = 'CBS TV Stations' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}
<font face="arial" size="2">
<br>

<table width="100%" border="0" cellpadding="4" cellspacing="0">

<tbody><tr>

<td width="50%" valign="TOP">
<font face="arial" size="2">

<font face="Arial, Helvetica, sans-serif" size="2">
<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALABAMA</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li><a href="http://www.wiat.com/">Birmingham -- WIAT (Ch. 42)</a></li>
        <li>
            <a href="http://www.whnt19.com/">Huntsville -- WHNT (Ch. 19)</a> </li>
        <li>
            <a href="http://www.wkrg.com/">Mobile -- WKRG (Ch. 5)</a></li>
        <li>
            <a href="http://www.waka.com/">Montgomery -- WAKA (Ch. 8)</a></li>
    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALASKA</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
        <li>
            <a href="http://www.ktva.com/">Anchorage -- KTVA (Ch. 11)</a></li>
        <li>
            <a href="http://www.ktnl.com/">Sitka -- KTNL (Ch. 13)</a></li>
    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARIZONA</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
        <li><a href="http://www.cbsfive.com/">Phoenix -- KPHO (Ch. 5)</a></li>
        <li>
            <a href="http://www.kold.com/">Tucson -- KOLD (Ch. 13)</a></li>
    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARKANSAS</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li>
            <a href="http://www.kfsm.com/">Fort Smith -- KFSM (Ch. 5)</a></li>

    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CALIFORNIA</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li>
            <a href="http://www.khsltv.com/">Chico -- KHSL (Ch. 12)</a></li>
        <li>
            <a href="http://www.khsltv.com/">Eureka -- KVIQ (Ch. 6)</a></li>
        <li>
            <a href="http://kjeo.cbsnow.com/">Fresno -- KJEO (Ch. 47)</a>
        </li><li>
            <a href="http://www.channel2000.com/">Los Angeles -- KCBS (Ch. 2)</a></li>
        <li>
            <a href="http://www.kiontv.com/">Salinas -- KION (Ch. 46)</a></li>
        <li>
            <a href="http://www.kfmb.com/index_ssi.shtml">San Diego -- KFMB (Ch. 8)</a></li>
        <li>
            <a href="http://www.kpix.com/">San Francisco -- KPIX (Ch. 5)</a></li>
        <li>
            <a href="http://www.kovr.com/">West Sacramento -- KOVR (Ch. 13)</a></li>

    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>COLORADO</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li><a href="http://www.kktv.com/">Colorado Springs -- KKTV (Ch. 11)</a></li>
        <li>
            <a href="http://www.kcnc.com/">Denver -- KCNC (Ch. 4)</a></li>
        <li>
            <a href="http://www.cbssouthwest.com/">Durango -- KREZ (Ch. 6)</a></li>
        <li>
            <a href="http://www.krextv.com/">Grand Junction -- KREX (Ch. 5)</a></li>

    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CONNECTICUT</b></font></p>
<ul>

    <li>
        <a href="http://www.wfsb.com/">Hartford -- WFSB (Ch. 3)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>DISTRICT OF COLUMBIA</b></font></p>
<ul>

    <li>
        <a href="http://www.wusatv9.com/"> Washington -- WUSA (Ch. 9)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>FLORIDA</b></font></p>
<ul>

    <li>
        <a href="http://www.winktv.com/">Fort Myers -- WINK (Ch. 11)</a></li>
    <li>
        <a href="http://www.news4jax.com/">Jacksonville -- WJXT (Ch. 4)</a>
    </li><li>
        <a href="http://wfor.cbsnow.com/">Miami -- WFOR (Ch. 4)</a></li>
    <li>
        <a href="http://www.mycfnow.com/">Orlando -- WKMG (Ch. 6)</a></li>
    <li>
        <a href="http://www.wtsp.com/">St. Petersburg -- WTSP (Ch. 10)</a></li>
    <li>
        <a href="http://www.wctv6.com/">Tallahassee -- WCTV (Ch. 6)</a></li>
    <li>
        <a href="http://www.gopbi.com/partners/news12/">West Palm Beach -- WPEC (Ch. 12)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GEORGIA</b></font></p>

<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li>
            <a href="http://www.wgnx.com/">Atlanta -- WGNX (Ch. 46) </a>
        </li><li>
            <a href="http://www.wrdw.com/">Augusta -- WRDW (Ch. 12)</a></li>
        <li>
            <a href="http://www.wrbl.com/">Columbus -- WRBL (Ch. 3)</a></li>
        <li>
            <a href="http://www.13wmaz.com/">Macon -- WMAZ (Ch. 13)</a></li>
        <li>
            <a href="http://www.wtoctv.com/">Savannah -- WTOC (Ch. 11)</a></li>

    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HAWAII</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
            <li>
                <a href="http://www.kgmb.com/">Honolulu -- KGMB (Ch. 9)</a></li>

        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IDAHO</b></font></p>
        <ul>

            <li>
                <a href="http://www.2online.com/">Boise -- KBCI (Ch. 2)</a></li>
            <li>
                <a href="http://www.kidk.com/">Idaho Falls -- KIDK</a></li>
            <li>
                <a href="http://www.klewtv.com/">Lewiston -- KLEW </a></li>
            <li>
                <a href="http://www.kmvt.com/">Twin Falls -- KMVT (Ch. 11)</a>

            </li></ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ILLINOIS</b></font></p>
        <ul>

            <li>
                <a href="http://www.wcia.com/">Champaign -- WCIA (Ch. 3)</a></li>
            <li>
                <a href="http://www.cbs2chicago.com/">Chicago -- WBBM (Ch. 2)</a></li>
            <li>
                <a href="http://www.wmbd.com/">Peoria -- WMBD (Ch. 31)</a></li>
            <li>
                <a href="http://www.khqa.com/">Quincy -- KHQA (Ch. 7)</a></li>
            <li>
                <a href="http://www.wifr.com/">Rockford -- WIFR (Ch. 23)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>INDIANA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wevv.com/">Evansville -- WEVV (Ch. 44)</a></li>
            <li>
                <a href="http://www.wane.com/">Fort Wayne -- WANE (Ch. 15)</a></li>
            <li>
                <a href="http://www.wish-tv.com/">Indianapolis -- WISH (Ch. 8)</a></li>
            <li>
                <a href="http://www.wthi.com/">Terre Haute -- WTHI (Ch. 10)</a></li>
            <li>
                <a href="http://www.wlfitv18.com/">West Lafayette -- WLFI (Ch. 18)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IOWA</b></font></p>
        <ul>
            <li>
                <a href="http://www.woi.org/AM/AM.html">Cedar Rapids -- KGAN (Ch. 2)</a></li>
            <li>
                <a href="http://www.kcci.com/">Des Moines -- KCCI (Ch. 8)</a></li>
            <li>
                <a href="http://www.kimt.com/">Mason City -- KIMT (Ch. 3)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KANSAS</b></font></p>
        <ul>

            <li>
                <a href="http://www.koamtv.com/ie3.htm">Pittsburg -- KOAM (Ch. 7)</a></li>
            <li>
                <a href="http://www.kwch.com/">Wichita -- KWCH (Ch. 12)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KENTUCKY</b></font></p>
        <ul>
            <li>
                <a href="http://www.wymt-tv.com/">Hazard -- WYMT (Ch. 57)</a></li>
            <li>
                <a href="http://www.wkyt.com/">Lexington -- WKYT (Ch. 27)</a></li>
            <li>
                <a href="http://www.wlky.com/">Louisville -- WLKY (Ch. 32)</a></li>
            <li>
                <a href="http://www.wkyx.com">Paducah -- WKYX (570 AM)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>LOUISIANA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wafb.com/">Baton Rouge -- WAFB (Ch. 9)</a></li>
            <li>
                <a href="http://www.knoe.com/">Monroe -- KNOE (Ch. 8)</a></li>
            <li>
                <a href="http://www.wwl-tv.com/">New Orleans -- WWL (Ch. 4)</a></li>
            <li>
                <a href="http://www.ksla.com/">Shreveport -- KSLA (Ch. 12)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MAINE</b></font></p>
        <ul>

            <li>
                <a href="http://wabi.cbsig.net/">Bangor -- WABI (Ch. 5)</a></li>
            <li>
                <a href="http://www.wgme-tv.com/">Portland -- WGME (Ch. 13)</a>
            </li><li>
                <a href="http://wagm.cbsnow.com/">Presque Isle -- WAGM (Ch. 8)</a>
            </li></ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MARYLAND</b></font></p>
        <ul>

            <li>
                <a href="http://www.wjz.com/">Baltimore -- WJZ (Ch. 13)</a></li>
            <li>
                <a href="http://www.wboc.com/">Salisbury -- WBOC (Ch. 16)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MASSACHUSETTS</b></font></p>
        <ul>

            <li>
                <a href="http://www.wbz.com/">Boston -- WBZ (Ch. 4)</a>

            </li></ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MICHIGAN</b></font></p>
        <ul>

            <li>
                <a href="http://www.9and10news.com/">Cadillac -- WWTV (Ch. 9)</a></li>
            <li>
                <a href="http://www.9and10news.com/">Cadillac -- WWUP (Ch. 10)</a></li>
            <li>
                <a href="http://www.wwjtv.com/">Detroit -- WWJ (Ch. 62)</a></li>
            <li>
                <a href="http://www.wwmt.com/">Kalamazoo -- WWMT (Ch. 3)</a></li>
            <li>
                <a href="http://www.wlns.com/">Lansing -- WLNS (Ch. 6)</a></li>
            <li>
                <a href="http://www.wnem.com/">Saginaw -- WNEM (Ch. 5)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MINNESOTA</b></font></p>
        <ul>

            <li>
                <a href="http://www.kcco-tv.com/">Alexandria -- KCCO (Ch. 7)</a></li>
            <li>
                <a href="http://www.kdlh.com/">Duluth -- KDLH (Ch. 3)</a></li>
            <li>
                <a href="http://www.keyc.com/">Mankato -- KEYC (Ch. 12) </a></li>
            <li>
                <a href="http://www.channel4000.com/">Minneapolis-St. Paul -- WCCO (Ch. 4)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSISSIPPI</b></font></p>
        <ul>
            <li>
                <a href="http://www.wcbi.com/">Columbus -- WCBI (Ch. 4)</a></li>
            <li>
                <a href="http://www.wxvt.com/">Greenville -- WXVT (Ch. 15)</a></li>
            <li>
                <a href="http://www.wjtv.com/">Jackson -- WJTV (Ch. 12)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSOURI</b></font></p>
    </font><ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://www.heartlandnews.com/">Cape Girardeau -- KFVS (Ch.12)</a>
            </li><li>
                <a href="http://www.krcg.com/">Jefferson City -- KRCG (Ch. 13)</a></li>
            <li>
                <a href="http://www.kctv.com/">Kansas City -- KCTV (Ch. 5) </a></li>
            <li>
                <a href="http://www.kolr10.com/">Springfield -- KOLR (Ch. 10)</a></li>
            <li>
                <a href="http://www.kmov.com/">St. Louis -- KMOV (Ch. 4)</a></li>

        </font>
    </ul></font></font></font></font></font></font></font></font></font></td>
<td valign="top" width="50%">
<font face="arial" size="2">



<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MONTANA</b></font></p>
<ul>

    <li>
        <a href="http://www.ktvq.com/">Billings -- KTVQ (Ch. 2)</a></li>
    <li>
        <a href="http://www.kxlf.com/">Butte -- KXLF (Ch. 4)</a></li>
    <li>
        <a href="http://www.krtv.com/">Great Falls -- KRTV (Ch. 3)</a></li>
    <li>
        <a href="http://www.kpax.com/">Missoula -- KPAX (Ch. 8)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEBRASKA</b></font></p>
<ul>
    <li>
        <a href="http://www.kolnkgin.com/">Grand Island -- KGIN (Ch. 11)</a>
    </li><li>
        <a href="http://www.kolnkgin.com/">Lincoln -- KOLN (Ch. 10) </a>

    </li></ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEVADA</b></font></p>
<ul>

    <li>
        <a href="http://www.klas-tv.com/">Las Vegas -- KLAS (Ch. 8) </a></li>
    <li>
        <a href="http://ktvn.cbsnow.com/">Reno -- KTVN (Ch. 2)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW HAMPSHIRE</b></font></p>
<ul>

    <li>
        <a href="http://www.wtsl.com">Hanover -- WTSL (1400 AM) </a></li>
    <li>
        <a href="http://www.wkbkwxod.com">Keene -- WKBK (1220 AM)</a></li>
    <li>
        <a href="http://www.wmvu.com">Nashua -- WMVU (900 AM)</a></li>
    <li>
        <a href="http://www.wntk.com/">New London -- WNTK (99.7 FM)</a></li>
    <li>
        <a href="http://www.wntk.com">Newport -- WNTK (1020 AM)</a></li>
</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW JERSEY</b></font></p>
<ul>

    <li>
        <a href="http://www.wfpg.com">Atlantic City -- WFPG (1450 AM)</a></li>
    <li>
        <a href="http://www.nj1015.com">Trenton -- WKXW (101.5 FM)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW MEXICO</b></font></p>
<ul>

    <li>
        <a href="http://www.cbssouthwest.com/">Albuquerque -- KRQE (Ch. 13)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW YORK</b></font></p>
<ul>

    <li>
        <a href="http://www.wbng.com/">Binghamton -- WBNG (Ch. 12)</a></li>
    <li>
        <a href="http://www.wivb.com/">Buffalo -- WIVB (Ch. 4)</a></li>
    <li>
        <a href="http://www.wcbs-tv.com/">New York -- WCBS (Ch. 2)</a></li>
    <li>
        <a href="http://www.wroctv.com/">Rochester -- WROC (Ch. 8)</a></li>
    <li>
        <a href="http://www.wrgb.com/">Schenectady -- WRGB (Ch. 6)</a></li>
    <li>
        <a href="http://www.wtvh.com/">Syracuse -- WTVH (Ch. 5)</a></li>
    <li>
        <a href="http://www.wwnytv.com/">Watertown -- WWNY (Ch. 7)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH CAROLINA</b></font></p>
<ul>

    <li>
        <a href="http://www.wbtv.com/">Charlotte -- WBTV (Ch. 3)</a></li>
    <li>
        <a href="http://www.wfmy.com/">Greensboro -- WFMY (Ch. 2)</a>
    </li><li>
        <a href="http://www.wnct.com/">Greenville -- WNCT (Ch. 9)</a></li>
    <li>
        <a href="http://www.wral-tv.com/">Raleigh -- WRAL (Ch. 5)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH DAKOTA</b></font></p>
<ul>

    <li>
        <a href="http://www.kxmb.com/">Bismarck -- KXMB (Ch. 12)</a>
    </li><li>
        <a href="http://www.kxma.com/">Dickinson -- KXMA (Ch. 2)</a></li>
    <li>
        <a href="http://www.kx4.com/">Fargo -- KXJB (Ch. 4)</a></li>
    <li>
        <a href="http://www.kxmc.com/">Minot -- KXMC (Ch. 13)</a></li>
    <li>
        <a href="http://www.kxmd.com/">Williston -- KXMD (Ch. 11)</a></li>

</ul>
<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OHIO</b></font></p>
<ul>

    <li>
        <a href="http://www.wkrc.com/">Cincinnati -- WKRC (Ch. 12)</a></li>
    <li>
        <a href="http://www.hometeam19.com/">Cleveland -- WOIO (Ch. 19)</a></li>
    <li>
        <a href="http://www.wbns10tv.com/default.php3">Columbus -- WBNS (Ch. 10)</a>
    </li><li>
        <a href="http://www.activedayton.com/partners/whiotv/">Dayton -- WHIO (Ch. 7)</a></li>
    <li>
        <a href="http://www.wtol.com/">Toledo -- WTOL (Ch. 11)</a></li>
    <li>
        <a href="http://www.wkbn.com/">Youngstown -- WKBN (Ch. 27)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OKLAHOMA</b></font></p>
<ul>

    <li>
        <a href="http://www.kwtv.com/">Oklahoma City -- KWTV (Ch. 9)</a></li>
    <li>
        <a href="http://www.kotv.com/">Tulsa -- KOTV (Ch. 6)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OREGON</b></font></p>
<ul>

    <li>
        <a href="http://www.kcby.com/">Coos Bay -- KCBY (Ch. 11)</a></li>
    <li>
        <a href="http://www.kval.com/">Eugene -- KVAL (Ch. 13)</a></li>
    <li>
        <a href="http://www.ktvl.com/">Medford -- KTVL (Ch. 10)</a></li>
    <li>
        <a href="http://kpic.cbsnow.com/">Roseburg -- KPIC (Ch. 4)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>PENNSYLVANIA</b></font></p>
<ul>

    <li>
        <a href="http://www.whptv.com/">Harrisburg -- WHP (Ch. 21)</a></li>
    <li>
        <a href="http://www.kyw.com/">Philadelphia -- KYW (Ch. 3)</a></li>
    <li>
        <a href="http://www.kdka.com/">Pittsburgh -- KDKA (Ch. 2)</a></li>
    <li>
        <a href="http://www.wyou.com/">Scranton -- WYOU (Ch. 22)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>RHODE ISLAND</b></font></p>
<ul>

    <li>
        <a href="http://www.wpri.com/">East Providence -- WPRI (Ch. 12)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH CAROLINA</b></font></p>
<ul>

    <li>
        <a href="http://www.wcsc.com/cgi-bin/index.pl">Charleston -- WCSC (Ch. 5)</a></li>
    <li>
        <a href="http://www.wltx.com/">Columbia -- WLTX (Ch. 19)</a></li>
    <li>
        <a href="http://www.wbtw.com/">Florence -- WBTW (Ch. 13)</a></li>
    <li>
        <a href="http://www.wspa.com/">Spartanburg -- WSPA (Ch. 7)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH DAKOTA</b></font></p>
<ul>

    <li>
        <a href="http://www.kelotv.com/">Sioux Falls -- KELO (Ch. 11)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TENNESSEE</b></font></p>
<ul>
    <li>
        <a href="http://www.wdef.com/">Chattanooga -- WDEF (Ch. 12) </a></li>
    <li>
        <a href="http://www.wjhl.com/">Johnson City -- WJHL (Ch. 11)</a></li>
    <li>
        <a href="http://www.volunteertv.com/">Knoxville -- WVLT (Ch. 8)</a></li>
    <li>
        <a href="http://www.wreg.com/">Memphis -- WREG (Ch. 3)</a></li>
    <li>
        <a href="http://www.newschannel5.com/">Nashville -- WTVF (Ch. 5)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TEXAS</b></font></p>
<ul>

    <li>
        <a href="http://www.ktabtv.com/">Abilene -- KTAB (Ch. 32)</a></li>
    <li>
        <a href="http://www.newschannel10.com/">Amarillo -- KFDA (Ch. 10) </a></li>
    <li>
        <a href="http://www.k-eyetv.com/">Austin -- KEYE (Ch. 42)</a></li>
    <li>
        <a href="http://web.kfdm.com/">Beaumont -- KFDM (Ch. 6)</a></li>
    <li>
        <a href="http://www.kbtx.com/">Bryan -- KBTX (Ch. 3)</a></li>
    <li>
        <a href="http://www.thatstexas.com/kztv/">Corpus Christi -- KZTV (Ch. 10)</a></li>
    <li>
        <a href="http://www.kdbc.com/">El Paso -- KDBC (Ch. 4)</a></li>
    <li>
        <a href="http://www.cbs11tv.com/">Fort Worth -- KTVT (Ch. 11)</a></li>
    <li>
        <a href="http://www.kgbttv.com/">Harlingen -- KGBT (Ch. 4)</a></li>
    <li>
        <a href="http://www.khou.com/">Houston -- KHOU (Ch. 11)</a></li>
    <li>
        <a href="http://www.kvtv.com/">Laredo -- KVTV (Ch. 13)</a></li>
    <li>
        <a href="http://www.klbk.com/">Lubbock -- KLBK (Ch. 13)</a></li>
    <li>
        <a href="http://www.kosa-tv.com/">Odessa -- KOSA (Ch. 7)</a></li>
    <li>
        <a href="http://www.klst-tv.com/">San Angelo -- KLST (Ch. 8)</a></li>
    <li>
        <a href="http://www.kens-tv.com/">San Antonio -- KENS (Ch. 5)</a></li>
    <li>
        <a href="http://www.kxii.com/">Sherman -- KXII (Ch. 12)</a></li>
    <li>
        <a href="http://www.kwtx.com/">Waco -- KWTX (Ch. 10)</a></li>
    <li>
        <a href="http://www.kauz.com/">Wichita Falls -- KAUZ (Ch. 6)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>UTAH</b></font></p>
<ul>

    <li>
        <a href="http://www.kutv.com/">Salt Lake City -- KUTV (Ch. 2)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>VERMONT</b></font></p>
<ul>

    <li>
        <a href="http://www.wcax.com/">Burlington -- WCAX (Ch. 3)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>VIRGINIA</b></font></p>
<ul>

    <li>
        <a href="http://www.wtkr.com/">Norfolk -- WTKR (Ch. 3)</a></li>
    <li>
        <a href="http://www.newschannel6.com/">Richmond -- WTVR (Ch. 6) </a></li>
    <li>
        <a href="http://www.wdbj7.com/">Roanoke -- WDBJ (Ch. 7)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WASHINGTON</b></font></p>
<ul>

    <li>
        <a href="http://www.keprtv.com/">Pasco -- KEPR (Ch. 19)</a></li>
    <li>
        <a href="http://www.seattleinsider.com/partners/kirotv/">Seattle -- KIRO (Ch. 7)</a></li>
    <li>
        <a href="http://www.krem.com/">Spokane -- KREM (Ch. 2) </a></li>
    <li>
        <a href="http://www.kimatv.com/">Yakima -- KIMA (Ch. 29)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WEST VIRGINIA</b></font></p>
<ul>

    <li>
        <a href="http://www.wdtv.com/">Bridgeport -- WDTV (Ch. 5) </a></li>
    <li>
        <a href="http://www.wowktv.com/">Huntington -- WOWK (Ch. 13) </a></li>
    <li>
        <a href="http://www.wtrf.com/">Wheeling -- WTRF (Ch. 7)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WISCONSIN</b></font></p>
<ul>
    <li>
        <a href="http://www.wfrv.com/">Green Bay -- WFRV (Ch. 5)</a></li>
    <li>
        <a href="http://www.wkbt.com/">La Crosse -- WKBT (Ch. 8)</a></li>
    <li>
        <a href="http://www.channel3000.com/">Madison -- WISC (Ch. 3)</a></li>
    <li>
        <a href="http://www.cbs58.com/">Milwaukee -- WDJT (Ch. 58) </a></li>
    <li>
        <a href="http://www.wsaw.com/">Wausau -- WSAW (Ch. 7)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WYOMING</b></font></p>
<ul>

    <li>
        <a href="http://kgwn.cbsnow.com/">Cheyenne -- KGWN (Ch. 5)</a></li>

</ul>

</font></td>
</tr>
</tbody></table>

</font>
{% endblock %}