{% set page_name = 'About JournalismJobs.com' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}
<font face="arial" size="2">
<br>

<table width="100%" border="0" cellpadding="4" cellspacing="0">

<tbody><tr>

<td width="50%" valign="TOP">
<font face="arial" size="2">

<font face="Arial, Helvetica, sans-serif" size="2">
<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALABAMA</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li><a href="http://www.wbrc.com/">Birmingham -- WBRC (Ch. 6)</a></li>
        <li>
            <a href="http://www.wdfx.com/">Dothan -- WDFX (Ch. 34)</a> </li>
        <li>
            <a href="http://www.fox54.com/">Huntsville -- WZDX (Ch. 54)</a></li>
        <li>
            <a href="http://www.tv10.com/">Mobile -- WALA (Ch. 10)</a></li>
        <li>
            <a href="http://www.wcov.com/">Montgomery -- WCOV (Ch. 20)</a></li>

    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALASKA</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
        <li>
            <a href="http://www.fox4ktby.com/">Anchorage -- KTBY (Ch. 4)</a></li>
        <li>
            <a href="http://www.tvtv.com/">Fairbanks -- KFXF (Ch. 7)</a></li>
    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARIZONA</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li><a href="http://www.kmsb.com/">Tucson -- KMSB (Ch. 11)</a></li>

    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARKANSAS</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li>
            <a href="http://www.klrt.com/">Little Rock -- KLRT (Ch. 16)</a></li>

    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CALIFORNIA</b></font></p>
<ul>
    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <li>
            <a href="http://www.fox11la.com/">Los Angeles -- KTTV (Ch. 11)</a></li>
        <li>
            <a href="http://www.bayinsider.com/partners/ktvu/">Oakland -- KTVU (Ch. 2)</a></li>
        <li>
            <a href="http://www.ktxl.com/">Sacramento -- KTXL (Ch. 40)</a>
        </li><li>
            <a href="http://www.kcba.com/">Salinas -- KCBA (Ch. 35)</a></li>

    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>COLORADO</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li><a href="http://www.kxrm.com/">Colorado Springs -- KXRM (Ch. 21)</a></li>
            <li>
                <a href="http://www.fox31news.com/">Denver -- KDVR (Ch. 31)</a></li>

        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CONNECTICUT</b></font></p>
        <ul>

            <li>
                <a href="http://www.fox61.com/">Hartford -- WTIC (Ch. 61)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>DISTRICT OF COLUMBIA</b></font></p>
        <ul>

            <li>
                <a href="http://www.fox5dc.com"> Washington -- WTTG (Ch. 5)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>FLORIDA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wofl.com/">Lake Mary -- WOFL (Ch. 35)</a></li>
            <li>
                <a href="http://www.wsvn.com/">Miami -- WSVN (Ch. 7)</a>
            </li><li>
                <a href="http://www.fox49.com/">Tallahassee -- WTLH (Ch. 49)</a></li>
            <li>
                <a href="http://www.wtvt.com/">Tampa -- WTVT (Ch. 13)</a></li>
            <li>
                <a href="http://www.wflxfox29.com/">West Palm Beach -- WFLX (Ch. 29)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GEORGIA</b></font></p>

        <ul>
            <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                <li>
                    <a href="http://www.wfxl.com/">Albany -- WFXL (Ch. 31) </a>
                </li><li>
                    <a href="http://www.wagatv.com/">Atlanta -- WAGA (Ch. 5)</a></li>
                <li>
                    <a href="http://www.wfxg.com/">Augusta -- WFXG (Ch. 54)</a></li>
                <li>
                    <a href="http://www.fox24.com/">Macon -- WGXA (Ch. 24)</a></li>

            </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HAWAII</b></font></p>
            <ul>
                <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
                    <li>
                        <a href="http://www.khon.com/">Honolulu -- KHON (Ch. 2)</a></li>

                </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IDAHO</b></font></p>
                <ul>

                    <li>
                        <a href="http://www.ktrv.com/">Nampa -- KTRV (Ch. 12)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ILLINOIS</b></font></p>
                <ul>

                    <li>
                        <a href="http://www.wyzz.com/">Bloomington-Normal -- WYZZ (Ch. 43)</a></li>
                    <li>
                        <a href="http://www.foxchicago.com/">Chicago -- WFLD (Ch. 32)</a></li>
                    <li>
                        <a href="http://www.wmbd.com/">Peoria -- WMBD (Ch. 31)</a></li>
                    <li>
                        <a href="http://www.fox39.com/">Rockford -- WQRF (Ch. 39)</a></li>
                    <li>
                        <a href="http://www.wrsptv.com/">Springfield -- WRSP (Ch. 55)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>INDIANA</b></font></p>
                <ul>

                    <li>
                        <a href="http://www.wtvw.com/">Evansville -- WTVW (Ch. 7)</a></li>
                    <li>
                        <a href="http://www.wfft.com/">Fort Wayne -- WFFT (Ch. 55)</a></li>
                    <li>
                        <a href="http://www.wxin.com/">Indianapolis -- WXIN (Ch. 59) </a></li>
                    <li>
                        <a href="http://www.fox28.com/">South Bend -- WSJV (Ch. 28)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IOWA</b></font></p>
                <ul>
                    <li>
                        <a href="http://www.woi.org/AM/AM.html">Cedar Rapids -- KGAN (Ch. 2)</a></li>
                    <li>
                        <a href="http://www.kcci.com/">Des Moines -- KCCI (Ch. 8)</a></li>
                    <li>
                        <a href="http://www.kimt.com/">Mason City -- KIMT (Ch. 3)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KANSAS</b></font></p>
                <ul>

                    <li>
                        <a href="http://www.ktmj.com/">Junction City -- KTMJ (Ch. 6)</a></li>
                    <li>
                        <a href="http://www.ksasfox24.com/">Wichita -- KSAS (Ch. 24)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KENTUCKY</b></font></p>
                <ul>
                    <li>
                        <a href="http://www.wknt.com/">Bowling Green -- WKNT (Ch. 40)</a></li>
                    <li>
                        <a href="http://www.fox41.com/">Louisville -- WDRB (Ch. 41)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>LOUISIANA</b></font></p>
                <ul>

                    <li>
                        <a href="http://www.fox44.com/">Baton Rouge -- WGMB (Ch. 44)</a></li>
                    <li>
                        <a href="http://www.kadn.com/">Lafayette -- KADN (Ch. 15) </a></li>
                    <li>
                        <a href="http://www.kmsstv.com/">Shreveport -- KMSS (Ch. 33)</a></li>
                    <li>
                        <a href="http://www.kard.com/">West Monroe -- KARD (Ch. 14)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MAINE</b></font></p>
                <ul>

                    <li>
                        <a href="http://www.ourmaine.com/index2.html">Portland -- WPXT (Ch. 51)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MARYLAND</b></font></p>
                <ul>

                    <li>
                        <a href="http://www.wbff45.com/">Baltimore -- WBFF (Ch. 45)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MICHIGAN</b></font></p>
                <ul>

                    <li>
                        <a href="http://www.fox2detroit.com/">Detroit -- WJBK (Ch. 2)</a></li>
                    <li>
                        <a href="http://www.wxmi.com/">Grand Rapids -- WXMI (Ch. 17)</a></li>

                </ul>

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MINNESOTA</b></font></p>
            </font><ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                    <li>
                        <a href="http://www.fox29.com/">Minneapolis-St. Paul -- WFTC (Ch. 29)</a></li>
                    <li>
                        <a href="http://www.fox47kxlt.com/">Rochester -- KXLT (Ch. 47)</a></li>


                </font>
            </ul></font></font></font></font></font></font></font></font></font></td>
<td valign="top" width="50%">
<font face="arial" size="2">



<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSISSIPPI</b></font></p>
<ul>

    <li>
        <a href="http://www.fox25.com/">Gulfport -- WXXV (Ch. 25)</a></li>
    <li>
        <a href="http://www.fox40wdbd.com/">Jackson -- WDBD (Ch. 40) </a></li>
    <li>
        <a href="http://www.fox48tv.com/">Natchez -- WNTZ (Ch. 48)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSOURI</b></font></p>
<ul>
    <li>
        <a href="http://www.wdaftv4.com/">Kansas City -- WDAF (Ch. 4)</a>
    </li><li>
        <a href="http://www.fox27.com/">Springfield -- KDEB (Ch. 27)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MONTANA</b></font></p>



<li>
    <a href="http://www.ktvq.com/">Billings -- KTVQ (Ch. 2)</a></li>



<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEVADA</b></font></p>
<ul>

    <li>
        <a href="http://www.kvvutv.com/">Henderson -- KVVU (Ch. 5)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW MEXICO</b></font></p>
<ul>

    <li>
        <a href="http://www.kasa.com/">Albuquerque -- KASA (Ch. 2)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW YORK</b></font></p>
<ul>

    <li>
        <a href="http://www.fox23tv.com/">Albany -- WXXA (Ch. 23)</a></li>
    <li>
        <a href="http://www.wicz.com/">Binghamton -- WICZ (Ch. 40) </a></li>
    <li>
        <a href="http://www.wutv.com/">Grand Island -- WUTV (Ch. 29)</a></li>
    <li>
        <a href="http://www.fox68wsyt.com/">Syracuse -- WSYT (Ch. 68)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH CAROLINA</b></font></p>
<ul>

    <li>
        <a href="http://www.fox18wccb.com/">Charlotte -- WCCB (Ch. 18)</a></li>
    <li>
        <a href="http://www.fox50.com/">Raleigh -- WRAZ (Ch. 50)</a>
    </li><li>
        <a href="http://www.wsfx.com/">Wilmington -- WSFX (Ch. 26)</a></li>

</ul>
<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OHIO</b></font></p>
<ul>

    <li>
        <a href="http://www.fox19.com/">Cincinnati -- WXIX (Ch. 19)</a></li>
    <li>
        <a href="http://www.wtte.com/">Columbus -- WTTE (Ch. 28)</a></li>
    <li>
        <a href="http://www.wupw.com/">Toledo -- WUPW (Ch. 36)</a>

    </li></ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OKLAHOMA</b></font></p>
<ul>

    <li>
        <a href="http://www.kokh.com/">Oklahoma City -- KOKH (Ch. 25)</a></li>
    <li>
        <a href="http://www.fox23.com/">Tulsa -- KOKI (Ch. 23)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OREGON</b></font></p>
<ul>

    <li>
        <a href="http://www.kfxo.com/">Bend -- KFXO (Ch. 39)</a></li>
    <li>
        <a href="http://www.kpdx.com/">Portland -- KPDX (Ch. 49)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>PENNSYLVANIA</b></font></p>
<ul>

    <li>
        <a href="http://www.fox8tv.com/">Johnstown -- WWCP (Ch. 8)</a></li>
    <li>
        <a href="http://www.foxphiladelphia.com/">Philadelphia -- WTXF (Ch. 29)</a></li>
    <li>
        <a href="http://www.fox38tv.com/">Scranton -- WOLF (Ch. 38)</a></li>
    <li>
        <a href="http://www.fox43.com/">York -- WPMT (Ch. 43)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>RHODE ISLAND</b></font></p>
<ul>

    <li>
        <a href="http://www.wnac.com/">Providence -- WNAC (Ch. 64)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH CAROLINA</b></font></p>
<ul>
    <li>
        <a href="http://www.wach.com/">Columbia -- WACH (Ch. 57)</a></li>
    <li>
        <a href="http://www.whns.com/">Greenville -- WHNS (Ch. 21)</a></li>
    <li>
        <a href="http://www.wfxb.com/">Myrtle Beach -- WFXB (Ch. 43)</a></li>
</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH DAKOTA</b></font></p>
<ul>

    <li>
        <a href="http://fox7.blackhills.com/">Rapid City -- KEVN (Ch. 7)</a></li>
    <li>
        <a href="http://www.kttw.com/">Sioux Falls -- KTTW (Ch. 17)</a></li>
</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TENNESSEE</b></font></p>
<ul>
    <li>
        <a href="http://www.fox61tv.com/">Chattanooga -- WDSI (Ch. 61)</a></li>
    <li>
        <a href="http://www.wemt39.com/">Johnson City -- WEMT (Ch. 39)</a></li>
    <li>
        <a href="http://www.wtnzfox43.com/">Knoxville -- WTNZ (Ch. 43)</a></li>
    <li>
        <a href="http://www.fox13whbq.com/">Memphis -- WHBQ (Ch. 13)</a></li>
    <li>
        <a href="http://www.wztv.com/">Nashville -- WZTV (Ch. 17)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TEXAS</b></font></p>
<ul>

    <li>
        <a href="http://www.ktabtv.com/">Austin -- KTBC (Ch. 7)</a></li>
    <li>
        <a href="http://www.kdfw.com/">Dallas -- KDFW (Ch. 4)</a></li>
    <li>
        <a href="http://www.kfoxtv.com/">El Paso -- KFOX (Ch. 14)</a></li>
    <li>
        <a href="http://www.fox51.com/">Longview -- KFXK (Ch. 51)</a></li>
    <li>
        <a href="http://www.kabb.com/">San Antonio -- KABB (Ch. 29)</a></li>
    <li>
        <a href="http://www.kwkt.com/">Waco -- KWKT (Ch. 44)</a></li>
    <li>
        <a href="http://www.kjtlfox18.com/">Wichita Falls -- KJTL (Ch. 18)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>UTAH</b></font></p>
<ul>

    <li>
        <a href="http://www.fox13.com/">Salt Lake City -- KSTU (Ch. 13)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>VIRGINIA</b></font></p>
<ul>

    <li>
        <a href="http://www.fox35.com/">Richmond -- WRLH (Ch. 35) </a></li>
    <li>
        <a href="http://www.fox2127.com/">Roanoke -- WFXR (Ch. 27) </a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WASHINGTON</b></font></p>
<ul>

    <li>
        <a href="http://www.kcpq.com/">Tacoma -- KCPQ (Ch. 13)</a></li>
    <li>
        <a href="http://www.seattleinsider.com/partners/kirotv/">Seattle -- KIRO (Ch. 7)</a></li>
    <li>
        <a href="http://www.krem.com/">Spokane -- KREM (Ch. 2) </a></li>
    <li>
        <a href="http://www.kimatv.com/">Yakima -- KIMA (Ch. 29)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WEST VIRGINIA</b></font></p>
<ul>

    <li>
        <a href="http://www.wvah.com/">Charleston -- WVAH (Ch. 11)</a></li>

</ul>

<p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WISCONSIN</b></font></p>
<ul>
    <li>
        <a href="http://www.wluk.com/">Green Bay -- WLUK (Ch. 11)</a></li>
    <li>
        <a href="http://www.fox47.com/">Madison -- WMSN (Ch. 47)</a></li>

</ul>

</font></td>
</tr>
</tbody></table>

</font>
{% endblock %}