{% set page_name = 'Independent TV Stations' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}
<font face="arial" size="2">
<br>

<table width="100%" border="0" cellpadding="4" cellspacing="0">

<tbody><tr>

<td width="50%" valign="TOP">
    <font face="arial" size="2">

        <font face="Arial, Helvetica, sans-serif" size="2">
            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALABAMA</b></font></p>
            <ul>
                <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                    <li><a href="http://www.newschannel49.com/">Tuscaloosa -- WJRD (Ch. 49)</a></li>

                </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALASKA</b></font></p>
                <ul>
                    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
                        <li>
                            <a href="http://www.mosquitonet.com/~kjnp/">North Pole -- KJNP (Ch. 4)</a></li>

                    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARIZONA</b></font></p>
                    <ul>
                        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                            <li><a href="http://www.ktvk.com/">Phoenix -- KTVK (Ch. 3)</a></li>
                            <li>
                                <a href="http://www.kusk.com/">Prescott -- KUSK (Ch. 7)</a></li>

                        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CALIFORNIA</b></font></p>
                        <ul>
                            <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                                <li>
                                    <a href="http://www.kvye-tv7.com/">El Centro -- KVYE (Ch. 7) </a></li>
                                <li>
                                    <a href="http://www.kpal.com/">Lancaster -- KPAL (Ch. 38)</a></li>
                                <li>
                                    <a href="http://www.kcal.com/">Los Angeles -- KCAL (Ch. 9)</a>
                                </li><li>
                                    <a href="http://www.kmex.com/">Los Angeles -- KMEX (Ch. 34)</a></li>
                                <li>
                                    <a href="http://www.kwhy.com/">Los Angeles -- KWHY (Ch. 22)</a></li>
                                <li>
                                    <a href="http://www.ksms-tv67.com/">Monterey -- KSMS (Ch. 67)</a></li>
                                <li>
                                    <a href="http://www.kver-tv4.com/">Palm Desert -- KVER (Ch. 4)</a></li>
                                <li>
                                    <a href="http://www.c26.net/">Redding -- KGEC (Ch. 26)</a></li>
                                <li>
                                    <a href="http://www.kbnt-tv19.com/">San Diego -- KBNT (Ch. 19)</a></li>
                                <li>
                                    <a href="http://www.kbitv.com/">San Francisco -- KBI (Ch. 30)</a></li>
                                <li>
                                    <a href="http://www.bayinsider.com/partners/kicu/">San Jose -- KICU (Ch. 36)</a></li>
                                <li>
                                    <a href="http://www.kftl.com/">San Leandro -- KFTL (Ch. 64)</a></li>
                                <li>
                                    <a href="http://www.kfty.com/">Santa Rosa -- KFTY (Ch. 50)</a></li>

                            </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>COLORADO</b></font></p>
                            <ul>
                                <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                                    <li>
                                        <a href="http://www.krmt.com/">Arvada -- KRMT (Ch. 41)</a></li>
                                    <li>
                                        <a href="http://www.kcec-tv50.com/">Denver -- KCEC (Ch. 50)</a></li>
                                    <li>
                                        <a href="http://www.kwhd.com/">Englewood -- KWHD (Ch. 53)</a></li>
                                </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">


                                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>FLORIDA</b></font></p>
                                <ul>

                                    <li>
                                        <a href="http://www.brevard.cc.fl.us/wbcc/">Cocoa -- WBCC (Ch. 68)</a></li>
                                    <li>
                                        <a href="http://www.tv52.org/">Orlando -- WTGL (Ch. 52) </a>
                                    </li><li>
                                        <a href="http://www.wbqp.com/">Pensacola -- WBQP (Ch. 12)</a></li>
                                    <li>
                                        <a href="http://www.moretv32.com/">Tampa -- WMOR (Ch. 32)</a></li>
                                    <li>
                                        <a href="http://www.wwcitv.com/">Vero Beach -- WWCI (Ch. 10)</a></li>
                                    <li>
                                        <a href="http://www.wfgc.com/">West Palm Beach -- WFGC (Ch. 61)</a></li>

                                </ul>

                                <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GEORGIA</b></font></p>

                                <ul>
                                    <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                                        <li>
                                            <a href="http://tbssuperstation.com/tbs17/">Atlanta -- WTBS (Ch. 17) </a>
                                        </li><li>
                                            <a href="http://www.wsst.com/">Cordele -- WSST (Ch. 55)</a></li>

                                    </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                                    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HAWAII</b></font></p>
                                    <ul>
                                        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
                                            <li>
                                                <a href="http://www.kbfd.com/">Honolulu -- KBFD (Ch. 32)</a></li>
                                            <li>
                                                <a href="http://www.kikutv.com/">Honolulu -- KIKU (Ch. 20) </a></li>
                                            <li>
                                                <a href="http://www.kwhe.com/">Honolulu -- KWHE (Ch. 14)</a></li>
                                        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IDAHO</b></font></p>
                                        <ul>

                                            <li>
                                                <a href="http://www.idaho8.com/">Idaho Falls -- KIFI (Ch. 8)</a></li>

                                        </ul>

                                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ILLINOIS</b></font></p>
                                        <ul>

                                            <li>
                                                <a href="http://www.tv38.com/">Chicago -- WCFC (Ch. 38)</a></li>
                                            <li>
                                                <a href="http://www.wgntv.com/">Chicago -- WGN (Ch. 9)</a></li>
                                            <li>
                                                <a href="http://www.wfhl.com/">Decatur -- WFHL (Ch. 23)</a></li>

                                        </ul>

                                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KANSAS</b></font></p>
                                        <ul>

                                            <li>
                                                <a href="http://www.kmci.com/">Lawrence -- KMCI (Ch. 38)</a></li>
                                            <li>
                                                <a href="http://www.kctu.com/">Wichita -- KCTU (Ch. 55)</a></li>

                                        </ul>

                                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KENTUCKY</b></font></p>
                                        <ul>
                                            <li>
                                                <a href="http://www.wkag.com/">Hopkinsville -- WKAG (Ch. 43)</a></li>

                                        </ul>

                                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>LOUISIANA</b></font></p>
                                        <ul>

                                            <li>
                                                <a href="http://www.klaf.com/">Lafayette -- KLAF (Ch. 62)</a></li>

                                        </ul>

                                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MICHIGAN</b></font></p>
                                        <ul>

                                            <li>
                                                <a href="http://www.wzpxtv.com/">Grand Rapids -- WZPX (Ch. 43)</a></li>

                                        </ul>

                                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEVADA</b></font></p>
                                        <ul>

                                            <li>
                                                <a href="http://www.kinc-tv15.com/">Las Vegas -- KINC (Ch. 15)</a></li>

                                        </ul>

                                        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW HAMPSHIRE</b></font></p>
                                    </font><ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                                            <li>
                                                <a href="http://www.wndsnews.com/">Derry -- WNDS (Ch. 50)</a></li>

                                        </font>
                                    </ul></font></font></font></font></font></font></font></font></td>
<td valign="top" width="50%">
    <font face="arial" size="2">


        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW JERSEY</b></font></p>

        <li>
            <a href="http://www.noticiero47.com/">Teterboro -- WNJU (Ch. 47)</a></li>



        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW MEXICO</b></font></p>
        <ul>

            <li>
                <a href="http://www.noticiero47.com/">Albuquerque -- KNAT (Ch. 23)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW YORK</b></font></p>
        <ul>

            <li>
                <a href="http://www.rnntv.com/">Kingston -- WRNN (Ch. 62)</a></li>
            <li>
                <a href="http://www.wlnytv.com/">Melville -- WLNY (Ch. 55)</a></li>
            <li>
                <a href="http://www.wvvh.com/">Wainscott -- WVVH (Ch. 23)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH CAROLINA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wkft-tv.com/">Fayetteville -- WKFT (Ch. 40)</a></li>
            <li>
                <a href="http://www.whky.com/">Hickory -- WHKY (Ch. 14)</a>

            </li></ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH DAKOTA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wday.com/">Fargo -- WDAY (Ch. 6)</a>

            </li></ul>
        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OHIO</b></font></p>
        <ul>

            <li>
                <a href="http://www.wtlw.com/">Lima -- WTLW (Ch. 44)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OKLAHOMA</b></font></p>
        <ul>

            <li>
                <a href="http://www.ksbitv.com/">Oklahoma City -- KSBI (Ch. 52)</a></li>
            <li>
                <a href="http://www.kwhb.com/">Tulsa -- KWHB (Ch. 47)</a></li>
            <li>
                <a href="http://tv53.oru.edu/">Tulsa -- KWMJ (Ch. 53)</a></li>
        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OREGON</b></font></p>
        <ul>

            <li>
                <a href="http://www.ktvc.com/">Eugene -- KTVC (Ch. 36)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>PENNSYLVANIA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wfmz.com/">Allentown -- WFMZ (Ch. 69)</a></li>
            <li>
                <a href="http://www.wbgn.com/">Pittsburgh -- WBGN (Ch. 66)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH CAROLINA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wfbc.com/">Greenville -- WFBC (Ch. 40)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TEXAS</b></font></p>
        <ul>

            <li>
                <a href="http://www.kvc13.com/">Austin -- KVC (Ch. 13)</a></li>
            <li>
                <a href="http://www.communityedtv.org/kitu/">Beaumont -- KITU (Ch. 34)</a></li>
            <li>
                <a href="http://www.koro-tv28.com/">Corpus Christi -- KORO (Ch. 28)</a></li>
            <li>
                <a href="http://www.kint.com/">El Paso -- KINT (Ch. 26)</a></li>
            <li>
                <a href="http://www.kltj.org/">Houston -- KLTJ (Ch. 22)</a></li>
            <li>
                <a href="http://www.ktmd.com/">Houston -- KTMD (Ch. 48)</a></li>
            <li>
                <a href="http://www.kldo-tv27.com/">Laredo -- KLDO (Ch. 27)</a></li>
            <li>
                <a href="http://www.knvo.com/">McAllen -- KNVO (Ch. 48)</a></li>
            <li>
                <a href="http://www.kvda.com/">San Antonio -- KVDA (Ch. 60)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>UTAH</b></font></p>
        <ul>

            <li>
                <a href="http://www.kcsg.com/">Cedar City -- KCSG (Ch. 4)</a></li>


        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>VIRGINIA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wazt.com/">Woodstock -- WAZT (Ch. 10)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WASHINGTON</b></font></p>
        <ul>

            <li>
                <a href="http://www.loop.com/kbcb">Bellingham -- KBCB (Ch. 24)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WEST VIRGINIA</b></font></p>
        <ul>

            <li>
                <a href="http://www.wchstv.com/">Charleston -- WCHS (Ch. 8) </a></li>
            <li>
                <a href="http://www.woay.com/">Oak Hill -- WOAY (Ch. 4)</a></li>

        </ul>

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WISCONSIN</b></font></p>
        <ul>
            <li>
                <a href="http://www.wyowtv34.com/">Eagle River -- WYOW (Ch. 34)</a></li>
            <li>
                <a href="http://www.wqow.com/">Eau Claire -- WQOW (Ch. 18)</a></li>
            <li>
                <a href="http://www.wbay.com/">Green Bay -- WBAY (Ch. 2)</a></li>
            <li>
                <a href="http://www.wxow.com/">La Crosse -- WXOW (Ch. 19) </a></li>
            <li>
                <a href="http://www.wkowtv.com/">Madison -- WKOW (Ch. 27)</a></li>
            <li>
                <a href="http://www.themilwaukeechannel.com/">Milwaukee -- WISN (Ch. 12)</a></li>
            <li>
                <a href="http://www.waow.com/">Wausau -- WAOW (Ch. 9)</a></li>
        </ul>

    </font></td>
</tr>
</tbody></table>

</font>
{% endblock %}