{% set page_name = 'NBC TV Stations' %}

{% extends 'NewRoadsMediaFrontendBundle:HomePage:rawContent.html.twig' %}

{% block innerContent %}
    <font face="arial" size="2">
    <br>

    <table width="100%" border="0" cellpadding="4" cellspacing="0">

    <tbody><tr>

    <td width="50%" valign="TOP">
    <font face="arial" size="2">

    <font face="Arial, Helvetica, sans-serif" size="2">
    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALABAMA</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li><a href="http://www.nbc13.com/">Birmingham -- WVTM (Ch. 13)</a></li>
            <li>
                <a href="http://www.waff.com/">Huntsville -- WAFF (Ch. 48)</a> </li>
            <li>
                <a href="http://www.wpmi.com/">Mobile -- WPMI (Ch. 15)</a></li>
            <li>
                <a href="http://www.wsfa.com/">Montgomery -- WSFA (Ch. 12)</a></li>

        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ALASKA</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
            <li>
                <a href="http://www.ktuu.com/">Anchorage -- KTUU (Ch. 2)</a></li>
        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARIZONA</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li><a href="http://www.12news.com">Phoenix -- KPNX (Ch. 12)</a></li>
            <li>
                <a href="http://www.kvoa.com/">Tucson -- KVOA (Ch. 4)</a></li>
        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ARKANSAS</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://www.nbc24-51.com/">Fort Smith -- KPOM (Ch. 24)</a></li>
            <li>
                <a href="http://www.kark.com/">Little Rock -- KARK (Ch. 4)</a></li>

        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CALIFORNIA</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://www.msnbc.com/local/kget/default.asp">Bakersfield -- KGET (Ch. 17)</a></li>
            <li>
                <a href="http://www.KNVN.com">Chico -- KNVN (Ch. 24)</a></li>
            <li>
                <a href="http://www.ksee24.com/">Fresno -- KSEE (Ch. 24)</a>
            </li><li>
                <a href="http://www.nbc4la.com">Los Angeles -- KNBC (Ch. 4)</a></li>
            <li>
                <a href="http://www.KMIR6.com">Palm Springs -- KMIR (Ch. 6)</a></li>
            <li>
                <a href="http://www.thekcrachannel.com/">Sacramento -- KCRA (Ch. 3)</a></li>
            <li>
                <a href="http://www.ksbw.com">Salinas -- KSBW (Ch. 8)</a></li>
            <li>
                <a href="http://www.knsd.com/">San Diego -- KNSD (Ch. 39)</a></li>
            <li>
                <a href="http://www.kron.com/">San Francisco -- KRON (Ch. 4)</a></li>
            <li>
                <a href="http://www.ksby.com/">San Luis Obispo -- KSBY (Ch. 6)</a></li>
        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>COLORADO</b></font></p>
    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://9news.com/">Denver -- KUSA (Ch. 9)</a></li>
            <li>
                <a href="http://www.kkco-tv.com/">Grand Junction -- KKCO (Ch. 11)</a></li>
            <li>
                <a href="http://www.koaa.com/">Pueblo -- KOAA (Ch. 5 &amp; 30)</a></li>
        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>CONNECTICUT</b></font></p>
    <ul>

        <li>
            <a href="http://www.wvit.com/">West Hartford -- WVIT (Ch. 30)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>DISTRICT OF COLUMBIA</b></font></p>
    <ul>

        <li>
            <a href="http://www.nbc4.com/"> Washington -- WRC (Ch. 4)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>FLORIDA</b></font></p>
    <ul>

        <li>
            <a href="http://www.nbc-2.com/">Fort Myers -- WBBH (Ch. 20)</a></li>
        <li>
            <a href="http://www.wtlv.com">Jacksonville -- WTLV (Ch. 12)</a>
        </li><li>
            <a href="http://www.nbc6.nbc.com/">Miami -- WTVJ (Ch. 6)</a></li>
        <li>
            <a href="http://www.wesh.com">Orlando -- WESH (Ch. 2)</a></li>
        <li>
            <a href="http://www.wesh.com">Panama City -- WJHG (Ch. 7)</a></li>
        <li>
            <a href="http://www.wfla.com/">Tampa -- WFLA (Ch. 8)</a></li>
        <li>
            <a href="http://www.wptv.com/">West Palm Beach -- WPTV (Ch. 5)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>GEORGIA</b></font></p>

    <ul>
        <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <li>
                <a href="http://www.walb.com">Albany -- WALB (Ch. 10) </a>
            </li><li>
                <a href="http://www.11alive.com">Atlanta -- WXIA (Ch. 11) </a></li>
            <li>
                <a href="http://www.wagt.com">Augusta -- WAGT (Ch. 26)</a></li>
            <li>
                <a href="http://www.wltz38.com/">Columbus -- WLTZ (Ch. 38)</a></li>
            <li>
                <a href="http://www.wmgt.com/">Macon -- WMGT (Ch. 41)</a></li>
            <li>
                <a href="http://www.wsav.com">Savannah -- WSAV (Ch. 3)</a></li>
        </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

        <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>HAWAII</b></font></p>
        <ul>
            <font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">
                <li>
                    <a href="http://www.khnl.com">Honolulu -- KHNL (Ch. 8)</a></li>

            </font></ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IDAHO</b></font></p>
            <ul>

                <li>
                    <a href="http://www.ktvb.com/">Boise -- KTVB (Ch. 7)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>ILLINOIS</b></font></p>
            <ul>

                <li>
                    <a href="http://www.nbc5chi.com/">Chicago -- WMAQ (Ch. 5)</a></li>
                <li>
                    <a href="http://www.week.com/">Peoria -- WEEK (Ch. 25)</a></li>
                <li>
                    <a href="http://www.wgemquincy.com">Quincy -- WGEM (Ch. 10)</a></li>
                <li>
                    <a href="http://www.wrex.com/">Rockford -- WREX (Ch. 13)</a></li>
                <li>
                    <a href="http://www.wics.com">Springfield -- WICS (Ch. 20)</a></li>
            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>INDIANA</b></font></p>
            <ul>

                <li>
                    <a href="http://www.14wfie.com/">Evansville -- WFIE (Ch. 14)</a></li>
                <li>
                    <a href="http://www.nbc33.com">Fort Wayne -- WKJG (Ch. 33)</a></li>
                <li>
                    <a href="http://www.wthr.com">Indianapolis -- WTHR (Ch. 13)</a></li>
                <li>
                    <a href="http://www.wndu.com">South Bend -- WNDU (Ch. 16)</a></li>
                <li>
                    <a href="http://www.wtwo.com">Terre Haute -- WTWO (Ch. 2)</a></li>
            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>IOWA</b></font></p>
            <ul>
                <li>
                    <a href="http://www.kwqc.com/">Davenport -- KWQC (Ch. 6)</a></li>
                <li>
                    <a href="http://www.whooncall.com/">Des Moines -- WHO (Ch. 13)</a></li>
                <li>
                    <a href="http://www.ktiv.com/">Sioux City -- KTIV (Ch. 4)</a></li>
                <li>
                    <a href="http://www.kwwl.com/">Waterloo -- KWWL (Ch. 7)</a></li>
            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KANSAS</b></font></p>
            <ul>

                <li>
                    <a href="http://www.ksn.com/">Garden City -- KSNG (Ch. 11)</a></li>
                <li>
                    <a href="http://www.ksn.com/">Great Bend -- KSNC (Ch. 2) </a></li>
                <li>
                    <a href="http://www.ksn.com/">Oberlin -- KSNK (Ch. 8)</a></li>
                <li>
                    <a href="http://www.ksn.com/">Topeka -- KSNT (Ch. 27) </a></li>
                <li>
                    <a href="http://www.ksn.com/">Wichita -- KSNW (Ch. 3) </a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>KENTUCKY</b></font></p>
            <ul>
                <li>
                    <a href="http://www.wlextv.com/">Lexington -- WLEX (Ch. 18)</a></li>
                <li>
                    <a href="http://www.wave3.com/">Louisville -- WAVE (Ch. 3)</a></li>
                <li>
                    <a href="http://www.wpsdtv.com/">Paducah -- WPSD (Ch. 6)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>LOUISIANA</b></font></p>
            <ul>

                <li>
                    <a href="http://www.kalb.com/">Alexandria -- KALB (Ch. 5)</a></li>
                <li>
                    <a href="http://www.kplctv.com/">Lake Charles -- KPLC (Ch. 7)</a></li>
                <li>
                    <a href="http://www.region10.com/">Monroe -- KTVE (Ch. 10)</a></li>
                <li>
                    <a href="http://www.wdsu.com/">New Orleans -- WDSU (Ch. 6)</a></li>
                <li>
                    <a href="http://www.ktal-tv.com/">Shreveport -- KTAL (Ch. 6)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MAINE</b></font></p>
            <ul>

                <li>
                    <a href="http://www.wlbz.com">Bangor -- WLBZ (Ch. 2)</a></li>
                <li>
                    <a href="http://www.wcsh6.com/">Portland -- WCSH (Ch. 6)</a>

                </li></ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MARYLAND</b></font></p>
            <ul>

                <li>
                    <a href="http://www.wbaltv.com/">Baltimore -- WBAL (Ch. 11)</a></li>
                <li>
                    <a href="http://www.nbc25.com/">Hagerstown -- WHAG (Ch. 25)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MASSACHUSETTS</b></font></p>
            <ul>

                <li>
                    <a href="http://www.whdh.com/">Boston -- WHDH (Ch. 7)</a>
                </li><li>
                    <a href="http://www.wwlp.com/">Springfield -- WWLP (Ch. 22)</a>
                </li></ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MICHIGAN</b></font></p>
            <ul>

                <li>
                    <a href="http://www.weyi.com/">Clio -- WEYI (Ch. 25)</a></li>
                <li>
                    <a href="http://www.wdiv.com/">Detroit -- WDIV (Ch. 4)</a></li>
                <li>
                    <a href="http://www.woodtv.com/">Grand Rapids -- WOOD (Ch. 8)</a></li>
                <li>
                    <a href="http://www.wilx.com/">Lansing -- WILX (Ch. 10)</a></li>
                <li>
                    <a href="http://www.wluctv6.com/">Negaunee -- WLUC (Ch. 6)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MINNESOTA</b></font></p>
            <ul>

                <li>
                    <a href="http://www.kbjr.com/">Duluth -- KBJR (Ch. 6)</a></li>
                <li>
                    <a href="http://www.kare11.com//">Minneapolis-St. Paul -- KARE (Ch. 11)</a></li>
                <li>
                    <a href="http://www.kttc.com/">Rochester -- KTTC (Ch. 10)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSISSIPPI</b></font></p>
            <ul>
                <li>
                    <a href="http://www.wdam.com/">Hattiesburg -- WDAM (Ch. 7)</a></li>
                <li>
                    <a href="http://www.wlbt.com/">Jackson -- WLBT (Ch. 3)</a></li>
                <li>
                    <a href="http://www.wtva.com/">Tupelo -- WTVA (Ch. 9)</a></li>

            </ul>

            <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MISSOURI</b></font></p>
        </font><ul><font face="arial,Trebuchet MS, Verdana, Geneva" size="2" color="#000066">

                <li>
                    <a href="http://www.komu.com">Columbia -- KOMU (Ch. 8)</a>
                </li><li>
                    <a href="http://www.ksntv.com/">Joplin -- KSNF (Ch. 16)</a></li>
                <li>
                    <a href="http://www.kshb.com/">Kansas City -- KSHB (Ch. 41)</a></li>
                <li>
                    <a href="http://www.ky3.com/">Springfield -- KYTV (Ch. 3)</a></li>
                <li>
                    <a href="http://www.ksdk.com/">St. Louis -- KSDK (Ch. 5)</a></li>

            </font>
        </ul></font></font></font></font></font></font></font></font></font></td>
    <td valign="top" width="50%">
    <font face="arial" size="2">



    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>MONTANA</b></font></p>
    <ul>

        <li>
            <a href="http://www.kulr8.com/">Billings -- KULR (Ch. 8)</a></li>
        <li>
            <a href="http://www.ktvm.com/">Butte -- KTVM (Ch. 6)</a></li>
        <li>
            <a href="http://www.ktmf.com/">Great Falls -- KTGF (Ch. 16)</a></li>
        <li>
            <a href="http://www.kcfw.com/">Kalispell -- KCFW (Ch. 9)</a></li>
        <li>
            <a href="http://www.keci.com/">Missoula -- KECI (Ch. 13)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEBRASKA</b></font></p>
    <ul>
        <li>
            <a href="http://www.wowt.com/">Omaha -- WOWT (Ch. 6)</a>

        </li></ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEVADA</b></font></p>
    <ul>

        <li>
            <a href="http://www.ktnv.com/">Elko -- KENV (Ch. 10)</a></li>
        <li>
            <a href="http://www.kvbc.com/">Las Vegas -- KVBC (Ch. 3)</a></li>
        <li>
            <a href="http://www.krnv.com/">Reno -- KRNV (Ch. 4)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW JERSEY</b></font></p>
    <ul>

        <li>
            <a href="http://www.wmgmtv.com/">Linwood -- WMGM (Ch. 40)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW HAMPSHIRE</b></font></p>
    <ul>

        <li>
            <a href="http://www.wowt.com/">Omaha -- WOWT (Ch. 6)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW MEXICO</b></font></p>
    <ul>

        <li>
            <a href="http://www.kobtv.com/">Albuquerque -- KOB (Ch. 4)</a></li>
        <li>
            <a href="http://www.kobftv.com/">Farmington -- KOBF (Ch. 12)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NEW YORK</b></font></p>
    <ul>

        <li>
            <a href="http://www.wten.com/">Albany -- WNYT (Ch. 13)</a></li>
        <li>
            <a href="http://www.wetmtv.com/">Elmira -- WETM (Ch. 18)</a></li>
        <li>
            <a href="http://www.wnbc.com/">New York -- WNBC (Ch. 4)</a></li>
        <li>
            <a href="http://www.wptz.com/">Plattsburgh -- WPTZ (Ch. 5)</a></li>
        <li>
            <a href="http://www.10nbc.com/">Rochester -- WHEC (Ch. 10)</a></li>
        <li>
            <a href="http://www.wktv.com/">Utica -- WKTV (Ch. 2)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH CAROLINA</b></font></p>
    <ul>

        <li>
            <a href="http://www.nbc6.com/">Charlotte -- WCNC (Ch. 6)</a></li>
        <li>
            <a href="http://www.wncn.com">Raleigh -- WNCN (Ch. 17)</a>
        </li><li>
            <a href="http://www.witntv.com/">Washington -- WITN (Ch. 7)</a></li>
        <li>
            <a href="http://www.wect.com/">Wilmington -- WECT (Ch. 6)</a></li>
        <li>
            <a href="http://www.wxii.com/">Winston-Salem -- WXII (Ch. 12)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>NORTH DAKOTA</b></font></p>
    <ul>

        <li>
            <a href="http://www.kfyrtv.com/">Bismarck -- KFYR (Ch. 5)</a>
        </li><li>
            <a href="http://www.kvlytv11.com/">Fargo -- KVLY (Ch. 11)</a>
        </li><li>
            <a href="http://www.kmot.com/">Minot -- KMOT (Ch. 10)</a>

        </li></ul>
    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OHIO</b></font></p>
    <ul>

        <li>
            <a href="http://www.wlwt.com/">Cincinnati -- WLWT (Ch. 5)</a></li>
        <li>
            <a href="http://www.wcmh4.com/">Columbus -- WCMH (Ch. 4)</a></li>
        <li>
            <a href="http://www.nbc22.com/">Dayton -- WKEF (Ch. 22)</a>
        </li><li>
            <a href="http://www.wlio.com/">Lima -- WLIO (Ch. 35)</a></li>
        <li>
            <a href="http://www.wtov.com/">Steubenville -- WTOV (Ch. 9)</a></li>
        <li>
            <a href="http://www.nbc24.com/">Toledo -- WNWO (Ch. 24)</a>
        </li><li>
            <a href="http://www.wfmj.com/">Youngstown -- WFMJ (Ch. 21)</a></li>
        <li>
            <a href="http://www.whiznews.com/">Zanesville -- WHIZ (Ch. 18)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OKLAHOMA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wkor.com">Oklahoma City -- KFOR (Ch. 4)</a></li>
        <li>
            <a href="http://www.kjrh.com/">Tulsa -- KJRH (Ch. 2)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>OREGON</b></font></p>
    <ul>

        <li>
            <a href="http://www.ktvz.com/">Bend -- KTVZ (Ch. 21)</a></li>
        <li>
            <a href="http://www.koti.com/">Klamath Falls -- KOTI (Ch. 2)</a></li>
        <li>
            <a href="http://www.localnewscomesfirst.com/">Medford -- KOBI (Ch. 5)</a></li>
        <li>
            <a href="http://www.kgw.com/">Portland -- KGW (Ch. 8)</a></li>
        <li>
            <a href="http://www.nbc16.com/">Springfield -- KMTR (Ch. 16)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>PENNSYLVANIA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wjactv.com">Johnstown -- WJAC (Ch. 6)</a></li>
        <li>
            <a href="http://www.wgal.com/">Lancaster -- WGAL (Ch. 8)</a></li>
        <li>
            <a href="http://www.nbc10/">Philadelphia -- WCAU (Ch. 10)</a></li>
        <li>
            <a href="http://www.realpittsburgh.com/wpxi/index.html/">Pittsburgh -- WPXI (Ch. 11)</a></li>
        <li>
            <a href="http://www.wbre.com/">Wilkes-Barre -- WBRE (Ch. 28)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>RHODE ISLAND</b></font></p>
    <ul>

        <li>
            <a href="http://www.nbc10wjar.com/">Cranston -- WJAR (Ch. 10)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH CAROLINA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wis-tv.com/">Columbia -- WIS (Ch. 10)</a></li>
        <li>
            <a href="http://www.wyff.com/">Greenville -- WYFF (Ch. 4)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>SOUTH DAKOTA</b></font></p>
    <ul>

        <li>
            <a href="http://www.newscenter1.com/">Rapid City -- KNBN (Ch. 24)</a></li>
        <li>
            <a href="http://www.kdlt.com/">Sioux Falls -- KDLT (Ch. 5)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TENNESSEE</b></font></p>
    <ul>
        <li>
            <a href="http://www.wrcb3.com/">Chattanooga -- WRCB (Ch. 3)</a></li>
        <li>
            <a href="http://www.wmctv.com/">Memphis -- WMC (Ch. 5)</a></li>
        <li>
            <a href="http://www.wsmv.com/">Nashville -- WSMV (Ch. 4)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>TEXAS</b></font></p>
    <ul>

        <li>
            <a href="http://www.krbctv.com/">Abilene -- KRBC (Ch. 9)</a></li>
        <li>
            <a href="http://www.kamr.com/">Amarillo -- KAMR (Ch. 4)</a></li>
        <li>
            <a href="http://www.kxan.com/">Austin -- KXAN (Ch. 36)</a></li>
        <li>
            <a href="http://www.kveo.com/">Brownsville -- KVEO (Ch. 23)</a></li>
        <li>
            <a href="http://www.kristv.com/">Corpus Christi -- KRIS (Ch. 6)</a></li>
        <li>
            <a href="http://www.kten.com/">Denison -- KTEN (Ch. 10)</a></li>
        <li>
            <a href="http://www.ktsm.com/">El Paso -- KTSM (Ch. 9)</a></li>
        <li>
            <a href="http://www.nbc5dfw.com/">Fort Worth -- KXAS (Ch. 5)</a></li>
        <li>
            <a href="http://www.kprc.com/">Houston -- KPRC (Ch. 2)</a></li>
        <li>
            <a href="http://www.kcbd.com/">Lubbock -- KCBD (Ch. 11)</a></li>
        <li>
            <a href="http://www.kwes.com/">Midland -- KWES (Ch. 9)</a></li>
        <li>
            <a href="http://www.klsb.com/">Nacogdoches -- KLSB (Ch. 19)</a></li>
        <li>
            <a href="http://www.kjac.com/">Port Arthur -- KJAC (Ch. 4)</a></li>
        <li>
            <a href="http://www.kmol.com/">San Antonio -- KMOL (Ch. 4)</a></li>
        <li>
            <a href="http://www.kcentv.com/">Temple -- KCEN (Ch. 6)</a></li>
        <li>
            <a href="http://www.nbc56.com/">Tyler -- KETK (Ch. 56)</a></li>
        <li>
            <a href="http://www.kfdx.com/">Wichita Falls -- KFDX (Ch. 3)</a></li>
    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>UTAH</b></font></p>
    <ul>

        <li>
            <a href="http://www.ksl.com/">Salt Lake City -- KSL (Ch. 5)</a></li>


    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>VIRGINIA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wcyb.com/">Bristol -- WCYB (Ch. 5)</a></li>
        <li>
            <a href="http://www.nbc29.com/">Charlottesville -- WVIR (Ch. 29) </a></li>
        <li>
            <a href="http://www.wavy.com/">Portsmouth -- WAVY (Ch. 10)</a></li>
        <li>
            <a href="http://www.wwbt.com/">Richmond -- WWBT (Ch. 12)</a></li>
        <li>
            <a href="http://www.newschannelten.com/">Roanoke -- WSLS (Ch. 10)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WASHINGTON</b></font></p>
    <ul>

        <li>
            <a href="http://www.king5.com/">Seattle -- KING (Ch. 5)</a></li>
        <li>
            <a href="http://www.khq.com/">Spokane -- KHQ (Ch. 6)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WEST VIRGINIA</b></font></p>
    <ul>

        <li>
            <a href="http://www.wvva.com/">Bluefield -- WVVA (Ch. 6) </a></li>
        <li>
            <a href="http://www.wboy.com/">Clarksburg -- WBOY (Ch. 12)</a></li>
        <li>
            <a href="http://www.wsaz.com/">Huntington -- WSAZ (Ch. 3)</a></li>
        <li>
            <a href="http://www.wtap.com/">Parkersburg -- WTAP (Ch. 15)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WISCONSIN</b></font></p>
    <ul>
        <li>
            <a href="http://www.weau.com/">Eau Claire -- WEAU (Ch. 13)</a></li>
        <li>
            <a href="http://www.nbc26.com/">Green Bay -- WGBA (Ch. 26)</a></li>
        <li>
            <a href="http://www.nbc15.com/">Madison -- WMTV (Ch. 15)</a></li>
        <li>
            <a href="http://www.touchtmj4.com/">Milwaukee -- WTMJ (Ch. 4)</a></li>
        <li>
            <a href="http://www.wjfw-nbc12.com/">Rhinelander -- WJFW (Ch. 12)</a></li>

    </ul>

    <p><font face="Trebuchet MS, Verdana, Geneva" size="3" color="#000066"><b>WYOMING</b></font></p>
    <ul>

        <li>
            <a href="http://www.msnbc.com/local/KTWO/default.htm/">Casper -- KTWO (Ch. 2)</a></li>

    </ul>

    </font></td>
    </tr>
    </tbody></table>

    </font>
{% endblock %}