{% extends '@NewRoadsMediaFrontend/Layout/mobile.html.twig' %}

{% block content %}
    <div class="alert alert-danger">
        <p class="text-center">Sorry, that job is no longer listed on {{ parameter('site_title') }}. Click on Search Jobs above to search for other jobs.</p>
    </div>
{% endblock %}