{% extends "::base.html.twig" %}

{% block content %}
    <p style="font-size: 14pt; font-weight: bold; text-align: center; margin-top: 35px; color: #000;">
        That page no longer exists.  Please use one of the links above to search for something else.
    </p>
{% endblock %}