{% extends '@NewRoadsMediaFrontend/Layout/mobile.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <h2>Forgot Password</h2>
    <p>
        We just emailed a link to reset your password. If you don't receive it within a few minutes, please check your SPAM folder.
    </p>
    <p>
        Thank you for using {{ parameter('site_title') }}.
    </p>
{% endblock content %}