{% extends '@NewRoadsMediaFrontend/Security/Mobile/generalLogin.html.twig' %}

{% block title %}Job Nofications Login{% endblock %}

{% block login_create_description %}
    <p>Sign up for a free account to receive daily job alerts that match your search criteria. Use your account to manage the frequency or to delete an alert. </p>
{% endblock %}

{% block login_signin_heading %}Registered Users Sign In{% endblock %}