{% extends '@NewRoadsMediaFrontend/Security/Mobile/generalLogin.html.twig' %}

{% block title %}Job Basket Login{% endblock %}

{% block login_create_heading %}Create a Free Account to Save This Listing to a Job Basket{% endblock %}

{% block login_create_description %}
<p><strong>Other Account Benefits:</strong></p>
<ul>
    <li>Post a resume and let employers contact you about their openings.</li>
    <li>Create custom Job Alerts that are emailed to you daily.</li>
    <li>Apply for jobs online using your JournalismJobs.com resume profile.</li>
    <li>Manage the entire search using your own password-protected account.</li>
</ul>
{% endblock %}

{% block login_signin_heading %}Registered Users Sign In{% endblock %}