{% extends "::base.html.twig" %}

{% block title %}{{ parameter('site_title') }} -- Password{% endblock %}

{% block content %}
    <div class="inner-content">
        <h1>Password</h1>
        <p>
            We just emailed a link to reset your password. If you don't receive it within a few minutes, please check your SPAM folder.
        </p>
        <p>
            Thank you for using {{ parameter('site_title') }}.
        </p>
    </div>
{% endblock content %}