{% extends "::base.html.twig" %}

{% block content %}
<div>
    <p>
        <strong>Job Number {{ jobId }} deleted successfully.</strong><br>
        Return to your <a href="{{ path('EmployerManager') }}">Employer Folder</a>
    </p>
</div>
{% endblock content %}
