{% extends "::base.html.twig" %}

{% block content %}
<p style="width: 1075px; margin-left: auto; margin-right: auto;">
    <strong>Job Number {{ jobId }} suspended successfully.</strong><br>
    Return to your <a href="{{ path('EmployerManager') }}">Employer Folder</a>
</p>
{% endblock content %}